<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <!--other css -->
    <link href="https://img.rakbow.com/common/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link th:href="@{/css/global.css}" rel="stylesheet" />
    <link th:href="@{/css/iconfont/iconfont.css}" rel="stylesheet" type="text/css" />

    <!-- PrimeVue -->
    <link th:href="@{/css/primevue/themes/lara-light-blue/theme.css}" rel="stylesheet" />
    <link th:href="@{/css/primevue/primevue.min.css}" rel="stylesheet" />
    <link th:href="@{/css/primeflex/primeflex.min.css}" rel="stylesheet" />
    <link th:href="@{/css/primeicons/primeicons.css}" rel="stylesheet" />

    <!-- Vue3 -->
    <script src="https://cdn.staticfile.org/vue/3.2.41/vue.global.js"></script>
    <script th:src="@{/js/primevue/primevue.min.js}"></script>
    <script src="https://cdn.staticfile.org/vue-router/4.1.6/vue-router.global.js"></script>

    <!-- PrimeVue Components -->
    <script th:src="@{/js/primevue/components/inputtext.min.js}"></script>
    <script th:src="@{/js/primevue/components/password.min.js}"></script>
    <script th:src="@{/js/primevue/components/checkbox.min.js}"></script>
    <script th:src="@{/js/primevue/components/toast.min.js}"></script>
    <script th:src="@{/js/primevue/components/toastservice.min.js}"></script>
    <script th:src="@{/js/primevue/components/avatar.min.js}"></script>
    <script th:src="@{/js/primevue/components/menubar.min.js}"></script>

    <!-- Axios -->
    <script src="https://cdn.staticfile.org/axios/1.2.1/axios.min.js"></script>

    <!-- Jquery -->
    <script src="https://cdn.staticfile.org/jquery/3.6.2/jquery.min.js"></script>

    <!-- basic js -->
    <script th:src="@{/js/basic/Data_Helper.js}"></script>
    <script th:src="@{/js/basic/Http_Request.js}"></script>
    <script th:src="@{/js/basic/Rakbow_Web_Helper_Str.js}"></script>
</head>
<body>
<div id="app">
    <!-- 头部 -->
    <header class="sticky-top mb-2" th:insert="~{template/header :: site_header}"></header>

    <p-toast></p-toast>
    <form class="mt-5" method="post" th:action="@{/login}">
        <div class="flex justify-content-center">
            <div class="surface-card p-4 shadow-2 border-round w-full lg:w-4">
                <div class="text-center mb-5">
                    <img src="https://img.rakbow.com/common/logo.png" alt="Image" height="50" class="mb-3">
                    <div class="text-900 text-3xl font-medium mb-3">魔女的茶会入口</div>
                    <span v-if="error != null && error != ''" class="font-medium line-height-3"
                          style="color: red">{{error}}</span>
                </div>

                <div>
                    <label htmlFor="username" class="block text-900 font-medium mb-2">账号</label>
                    <p-inputtext id="username" name="username" v-model="param.username" type="text"
                                 class="w-full mb-3"></p-inputtext>

                    <label htmlFor="password" class="block text-900 font-medium mb-2">密码</label>
                    <p-inputText id="password" name="password" v-model="param.password" type="password"
                                 class="w-full mb-3"></p-inputtext>
                    <!--                <p-password id="password" v-model="param.password" type="password" :feedback="false" class="w-full mb-3"></p-password>-->

                    <div class="flex align-items-center justify-content-between mb-6">
                        <div class="flex align-items-center">
                            <p-inputtext id="verifyCode" name="verifyCode" v-model="param.verifyCode" class="mr-1"
                                         placeholder="验证码"></p-inputtext>
                            <!--                        <label htmlFor="verifyCode" class="block text-900 font-medium mb-2">验证码</label>-->
                        </div>
                        <div class="flex align-items-center">
                            <img th:src="@{/kaptcha}" id="kaptcha" style="width:100px;height:40px;" class="mr-2" />
                            <p-button @click="refreshKaptcha" icon="pi pi-refresh"
                                      class="p-button-rounded p-button-text"></p-button>
                        </div>
                    </div>

                    <div class="flex align-items-center justify-content-between mb-6">
                        <div class="flex align-items-center">
                            <p-checkbox id="rememberMe" name="rememberMe" v-model="param.rememberMe" :binary="true"
                                        class="mr-2"></p-checkbox>
                            <label htmlFor="binary">记住我</label>
                        </div>
                        <!--                    <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Forgot-->
                        <!--                        password?</a>-->
                    </div>
                    <!--                    <p-button type="submit" label="登录" class="w-full" @click="login" icon="pi pi-user"></p-button>-->
                    <p-button type="submit" label="登录" class="w-full form-control" icon="pi pi-user"></p-button>
                </div>
            </div>
        </div>
    </form>

    <!-- 尾部 -->
    <footer th:insert="~{template/footer :: site_footer}"></footer>
</div>

<!-- 尾部 -->
<!--	<footer th:insert="~{template/footer :: site_footer}"></footer>-->

<script type="module" th:inline="javascript">
    const { createApp, onMounted, ref } = Vue;
    const { FilterMatchMode, FilterOperator } = primevue.api;
    const Tooltip = primevue.tooltip;
    const { useToast } = primevue.usetoast;
    const App = {
        setup() {
            onMounted(() => {

            });

            //region 页面header
            const domainUrl = DOMAIN_URL;

            const selectedEntity = ref();

            const entityType = ref(ENTITY_TYPE);

            const notLoginNavbarItems = ref(NOT_LOGIN_NAVBAR_ITEMS);

            const loginNavbarItems = ref(LOGIN_NAVBAR_ITEMS);
            //endregion

            const error = [[${ error }]];

            const loginUser = ref();

            const param = ref({
                username: "",
                password: "",
                verifyCode: "",
                rememberMe: false,
            });
            const toast = useToast();

            //提交登陆信息
            const login = () => {
                axiosPostRequest(LOGIN_URL, param.value)
                    .then(res => {
                        if (res.state === 0) {
                            toast.add({ severity: 'error', summary: 'Error', detail: res.message, life: 3000 });
                        } else {
                            window.location.href = domainUrl;
                        }
                    }).catch(err => {
                });
            }

            //刷新验证码
            const refreshKaptcha = () => {
                const path = DOMAIN_URL + "/kaptcha?p=" + Math.random();
                $("#kaptcha").attr("src", path);
            }

            return { param, refreshKaptcha, login, loginUser, error, domainUrl, selectedEntity, entityType, notLoginNavbarItems, loginNavbarItems }
        },
        components: {
            "p-button": primevue.button,
            "p-inputtext": primevue.inputtext,
            "p-password": primevue.password,
            "p-toast": primevue.toast,
            "p-checkbox": primevue.checkbox,
            "p-avatar": primevue.avatar,
            "p-menubar": primevue.menubar,
            "p-dropdown": primevue.dropdown
        }
    };

    const routes = [{ path: "/", component: App }];

    const router = VueRouter.createRouter({
        // history: VueRouter.createWebHashHistory(),
        history: VueRouter.createWebHistory(),
        routes
    });

    const app = createApp(App);
    app.use(router);
    app.use(primevue.config.default);
    app.directive('tooltip', Tooltip);
    app.use(primevue.toastservice);
    app.mount("#app");
</script>
</body>
<style>
    .card {
        min-width: 500px;
    }

    form {
        margin-top: 2rem;
    }

    .field {
        margin-bottom: 1.5rem;
    }

    @media screen and (max-width: 960px) {
        .card {
            width: 80%;
        }
    }
</style>

</html>
