<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <!--other css -->
    <link href="https://img.rakbow.com/common/logo/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link th:href="@{/css/global.css}" rel="stylesheet" />
    <link th:href="@{/css/search.css}" rel="stylesheet"/>
    <link th:href="@{/css/iconfont/iconfont.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/topbar.css}" rel="stylesheet"/>

    <!-- PrimeVue -->
    <link th:href="@{/css/primevue/bootstrap4-dark-blue.css}" rel="stylesheet"/>
    <link th:href="@{/css/primevue/primevue.min.css}" rel="stylesheet" />
    <link th:href="@{/css/primevue/primeflex.min.css}" rel="stylesheet" />
    <link th:href="@{/css/primevue/primeicon/primeicons.css}" rel="stylesheet" />

    <!-- Vue3 -->
    <script th:src="@{/js/vue/vue.global.js}"></script>
    <script th:src="@{/js/primevue/core.min.js}"></script>
    <script th:src="@{/js/vue/vue-router.global.js}"></script>

    <!-- PrimeVue Components -->
    <script th:src="@{/js/primevue/components/inputtext.min.js}"></script>
    <script th:src="@{/js/primevue/components/password.min.js}"></script>
    <script th:src="@{/js/primevue/components/checkbox.min.js}"></script>
    <script th:src="@{/js/primevue/components/toast.min.js}"></script>
    <script th:src="@{/js/primevue/components/toastservice.min.js}"></script>
    <script th:src="@{/js/primevue/components/avatar.min.js}"></script>
    <script th:src="@{/js/primevue/components/menubar.min.js}"></script>

    <!-- Jquery -->
    <script th:src="@{/js/jquery.js}"></script>

    <!-- basic js -->
    <script th:src="@{/js/basic/Data_Helper.js}"></script>

    <script th:src="@{/js/basic/Rakbow_Web_Url_Helper_Str.js}"></script>
    <script th:src="@{/js/basic/Rakbow_Web_Exception_Str_CN.js}"></script>
</head>
<body>
 <div id="app" style="margin-top: 60px">
    <!-- 头部 -->
    <header class="sticky-top mb-2" th:insert="~{template/header :: no_search_header}"></header>

    <form class="mt-5" method="post" th:action="@{/login}">
         <div id="main" class="flex justify-content-center">
             <div class="surface-card p-4 shadow-2 border-round w-full lg:w-4">
                 <div class="text-center mb-5">
                     <img src="https://img.rakbow.com/common/logo/logo.png" alt="Image" height="50" class="mb-3">
                     <!--                    <div class="text-900 text-3xl font-medium mb-3">魔女的茶会入口</div>-->
                     <div th:if="${loginUser == null}">
                         <div class="text-900 text-3xl font-medium mb-3">&nbsp;登&nbsp;录&nbsp;后&nbsp;台&nbsp;</div>
                         <span v-if="error != null && error != ''" class="font-medium line-height-3"
                               style="color: red">{{error}}</span>
                     </div>
                     <div th:if="${loginUser != null}">
                         <p-avatar class="mr-3" th:if="${loginUser != null}" th:image="${loginUser.headerUrl}" size="small"
                                   shape="circle"></p-avatar>
                         <span>已登录</span>
                     </div>
                 </div>
                 <div th:if="${loginUser == null}">
                     <label htmlFor="username" class="block text-900 font-medium mb-2">账号</label>
                     <p-inputtext id="username" name="username" v-model="param.username" type="text"
                                  class="w-full mb-3"></p-inputtext>

                     <label htmlFor="password" class="block text-900 font-medium mb-2">密码</label>
                     <p-inputText id="password" name="password" v-model="param.password" type="password"
                                  class="w-full mb-3"></p-inputtext>
                     <!--                <p-password id="password" v-model="param.password" type="password" :feedback="false" class="w-full mb-3"></p-password>-->

                     <div class="flex align-items-center justify-content-between mb-6">
                         <div class="flex align-items-center">
                             <p-inputtext id="verifyCode" name="verifyCode" v-model="param.verifyCode" class="mr-1"
                                          placeholder="验证码"></p-inputtext>
                             <!--                        <label htmlFor="verifyCode" class="block text-900 font-medium mb-2">验证码</label>-->
                         </div>
                         <div class="flex align-items-center">
                             <img th:src="@{/kaptcha}" id="kaptcha" style="width:100px;height:40px;" class="mr-2" />
                             <p-button @click="refreshKaptcha" icon="pi pi-refresh"
                                       class="p-button-rounded p-button-text"></p-button>
                         </div>
                     </div>

                     <div class="flex align-items-center justify-content-between mb-6">
                         <div class="flex align-items-center">
                             <p-checkbox id="rememberMe" name="rememberMe" v-model="param.rememberMe" :binary="true"
                                         class="mr-2"></p-checkbox>
                             <label htmlFor="binary">记住我</label>
                         </div>
                     </div>
                     <p-button type="submit" label="登录" class="w-full form-control" icon="pi pi-user"></p-button>
                 </div>
             </div>
         </div>
    </form>

    <!-- 尾部 -->
    <footer th:insert="~{template/footer :: site_footer}"></footer>
</div>

<script type="module" th:inline="javascript">
    const { createApp, onMounted, ref } = Vue;
    const App = {
        setup() {
            onMounted(() => {
                $(window).resize(function () {
                    $("#main").attr("style", "min-height:" + ($(window).height() - 350) + 'px');
                });

                $("#main").attr("style", "min-height:" + ($(window).height() - 350) + 'px');
            });

            const error = [[${ error }]];

            const loginUser = ref();

            const param = ref({
                username: "",
                password: "",
                verifyCode: "",
                rememberMe: false,
            });

            //刷新验证码
            const refreshKaptcha = () => {
                const path = "/kaptcha?p=" + Math.random();
                $("#kaptcha").attr("src", path);
            }

            return { param, refreshKaptcha, loginUser, error, NOT_LOGIN_NAVBAR_ITEMS, LOGIN_NAVBAR_ITEMS, }
        },
        components: {
            "p-button": primevue.button,
            "p-inputtext": primevue.inputtext,
            "p-password": primevue.password,
            "p-toast": primevue.toast,
            "p-checkbox": primevue.checkbox,
            "p-avatar": primevue.avatar,
            "p-menubar": primevue.menubar,
            "p-dropdown": primevue.dropdown,

            "p-chip": primevue.chip,
            "p-tag": primevue.tag,
            "p-scrollpanel": primevue.scrollpanel,
            "p-scrolltop": primevue.scrolltop,
            "p-paginator": primevue.paginator,
            "p-dynamicdialog": primevue.dynamicdialog,
            "p-divider": primevue.divider,

        }
    };

    const routes = [{ path: "/login", component: App }];

    const router = VueRouter.createRouter({
        history: VueRouter.createWebHistory(),
        routes
    });

    createApp(App)
        .use(router)
        .use(primevue.config.default)
        .mount("#app");
</script>
</body>
<style>
    .card {
        min-width: 500px;
    }

    form {
        margin-top: 2rem;
    }

    .field {
        margin-bottom: 1.5rem;
    }

    @media screen and (max-width: 960px) {
        .card {
            width: 80%;
        }
    }
</style>

</html>
