<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Result</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>

    <!--other css -->
    <link th:href="@{/img/favicon.ico}" type="image/x-icon" rel="shortcut icon"/>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
    <link th:href="@{/css/iconfont/iconfont.css}" rel="stylesheet" type="text/css"/>

    <!-- bootstrap -->
    <script src="https://cdn.staticfile.org/bootstrap/5.2.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <link href="https://cdn.staticfile.org/baguettebox.js/1.11.1/baguetteBox.min.css" rel="stylesheet">

    <!-- PrimeVue -->
    <link th:href="@{/css/primevue/themes/saga-blue/theme.css}" rel="stylesheet"/>
    <link th:href="@{/css/primevue/primevue.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/primeflex/primeflex.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/primeicons/primeicons.css}" rel="stylesheet"/>

    <!-- Vue3 -->
    <script src="https://cdn.staticfile.org/vue/3.2.41/vue.global.js"></script>
    <script th:src="@{/js/primevue/primevue.min.js}"></script>
    <script src="https://cdn.staticfile.org/vue-router/4.1.6/vue-router.global.js"></script>

    <!-- PrimeVue Components -->
    <script th:src="@{/js/primevue/components/menubar.min.js}"></script>
    <script th:src="@{/js/primevue/components/avatar.min.js}"></script>
    <script th:src="@{/js/primevue/components/inputtext.min.js}"></script>

    <!-- Axios -->
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>

    <!-- basic js -->
    <script th:src="@{/js/basic/Data_Helper.js}"></script>
    <script th:src="@{/js/basic/Http_Request.js}"></script>
    <script th:src="@{/js/basic/Rakbow_Web_Helper_Str.js}"></script>
</head>
<body>
<div class="nk-container">
    <!-- 头部 -->
    <header class="sticky-top mb-2" th:insert="~{template/header :: site_header}"></header>

    <div class="main">
        <div class="container">
            <div id="app">
                <div class="card">
                    <p>类型： {{type}}</p>
                    <p>关键词： {{keyword}}</p>
                    <p>数据共{{totals}}条</p>

                    <div v-if="type == '专辑'">
                        <div v-for="result in searchResult">
                            <a :href="domainUrl + '/db/album/' + result.id">{{result.nameJp}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 尾部 -->
    <footer class="mt-2" th:insert="~{template/footer :: site_footer}"></footer>
</div>
<script type="module" th:inline="javascript">
    const {createApp, onMounted, ref} = Vue;

    const App = {
        setup() {
            onMounted(() => {
            })
            const searchResult = ref([[${searchResult}]]);
            const totals = ref([[${totals}]]);
            const keyword = ref([[${keyword}]]);
            const type = ref([[${type]}]]);

            //region 页面header
            const domainUrl = DOMAIN_URL;

            const selectedEntity = ref();

            const entityType = ref(ENTITY_TYPE);

            const notLoginNavbarItems = ref(NOT_LOGIN_NAVBAR_ITEMS);

            const loginNavbarItems = ref(LOGIN_NAVBAR_ITEMS);
            //endregion

            return {
                searchResult,
                totals,
                keyword,
                type,
                domainUrl,
                selectedEntity,
                entityType,
                notLoginNavbarItems,
                loginNavbarItems
            }
        },
        components: {
            "p-inputtext": primevue.inputtext,
            "p-button": primevue.button,
            "p-dropdown": primevue.dropdown,
            "p-menubar": primevue.menubar,
            "p-avatar": primevue.avatar,
        }
    };

    const routes = [{path: "/", component: App}];

    const router = VueRouter.createRouter({
        // history: VueRouter.createWebHashHistory(),
        history: VueRouter.createWebHistory(),
        routes
    });

    createApp(App)
        .use(primevue.config.default)
        .use(router)
        .mount("#app");
</script>
</body>
</html>