HELP.md
#src/main/resources/static/
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

/src/main/resources/static/css/bootstrap/bootstrap.min.css
/src/main/resources/static/css/flag-icons
/src/main/resources/static/css/github-markdown
/src/main/resources/static/css/primeflex
/src/main/resources/static/css/primeicons
/src/main/resources/static/css/primevue
/src/main/resources/static/css/remixicon

/src/main/resources/static/js/vue
/src/main/resources/static/js/clipboard.js
/src/main/resources/static/js/color-thief.min.js
/src/main/resources/static/js/jquery.js
/src/main/resources/static/js/marked.min.js

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/src/main/resources/templates/album/album-index-tmp.html
/src/main/resources/templates/album/album-detail-tmp.html
!/src/main/resources/static/css/flag-icons/flags/
/src/main/resources/static/css/flag-icons/flags/
/src/main/resources/static/css/flag-icons/flags/1x1/
/src/main/resources/static/css/flag-icons/flags/4x3/
/src/main/resources/static/css/
/src/main/resources/static/img/
/src/main/resources/static/tool/
!/src/main/resources/application-develop.properties
!/src/main/resources/application-produce.properties