<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Games</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>

    <!-- bootstrap -->
    <script th:src="@{/tool/bootstrap/bootstrap.min.js}"></script>

    <link th:href="@{/css/bootstrap/myBootstrap.min.css}" rel="stylesheet"/>

    <link href="https://img.rakbow.com/common/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
    <link th:href="@{/css/iconfont/iconfont.css}" rel="stylesheet" />
    <link th:href="@{/css/remixicon/remixicon.css}" rel="stylesheet" />

    <!-- PrimeVue css -->
    <link th:href="@{/css/primevue/themes/bootstrap4-dark-blue/theme.css}" rel="stylesheet"/>
    <link th:href="@{/css/primevue/primevue.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/primeflex/primeflex.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/primeicons/primeicons.css}" rel="stylesheet"/>

    <!-- Vue3 -->
    <script th:src="@{/js/vue/vue.global.js}"></script>
    <script th:src="@{/js/primevue/primevue.min.js}"></script>
    <script th:src="@{/js/vue/vue-router.global.js}"></script>

    <!-- PrimeVue Components -->
    <script th:src="@{/js/primevue/components/dataview.min.js}"></script>
    <script th:src="@{/js/primevue/components/dataviewlayoutoptions.min.js}"></script>
    <script th:src="@{/js/primevue/components/toolbar.min.js}"></script>
    <script th:src="@{/js/primevue/components/tag.min.js}"></script>
    <script th:src="@{/js/primevue/components/card.min.js}"></script>
    <script th:src="@{/js/primevue/components/panel.min.js}"></script>
    <script th:src="@{/js/primevue/components/menubar.min.js}"></script>
    <script th:src="@{/js/primevue/components/avatar.min.js}"></script>
    <script th:src="@{/js/primevue/components/inputtext.min.js}"></script>
    <script th:src="@{/js/primevue/components/badge.min.js}"></script>
    <script th:src="@{/js/primevue/components/multiselect.min.js}"></script>
    <script th:src="@{/js/primevue/components/toast.min.js}"></script>
    <script th:src="@{/js/primevue/components/toastservice.min.js}"></script>
    <script th:src="@{/js/primevue/components/tabview.min.js}"></script>
    <script th:src="@{/js/primevue/components/tabpanel.min.js}"></script>

    <!-- Axios -->
    <script th:src="@{/tool/axios/axios.js}"></script>

    <!-- flag-icons -->
    <link th:href="@{/css/flag-icons/css/flag-icons.css}" rel="stylesheet">

    <!-- basic js -->
    <script th:src="@{/js/basic/Data_Helper.js}"></script>
    <script th:src="@{/js/basic/Http_Request.js}"></script>
    <script th:src="@{/js/basic/Rakbow_Web_Helper_Str.js}"></script>
    <script th:src="@{/js/basic/Rakbow_Web_Exception_Str_CN.js}"></script>

    <!--other css -->
    <link th:href="@{/css/global.css}" rel="stylesheet"/>
    <link th:href="@{/css/item-index.css}" rel="stylesheet"/>
</head>
<body>
<div id="app">
    <!-- 头部 -->
    <header class="sticky-top mb-2" th:insert="~{template/header :: site_header}"></header>

    <p-tabview class="index-tabview" ref="tabview" @tab-click="indexTabChange($event)" :active-index="3">
        <p-tabpanel>
            <template #header>
                <i class="pi iconfont icon-album"></i>
                <h4>Albums</h4>
            </template>
        </p-tabpanel>
        <p-tabpanel>
            <template #header>
                <i class="pi iconfont icon-book"></i>
                <h4>Books</h4>
            </template>
        </p-tabpanel>
        <p-tabpanel>
            <template #header>
                <i class="pi iconfont icon-Video-Disc"></i>
                <h4>Discs</h4>
            </template>
        </p-tabpanel>
        <p-tabpanel>
            <template #header>
                <i class="pi iconfont icon-youxi"></i>
                <h4>Games</h4>
            </template>
            <div class="grid mt-2">
                <p-toast></p-toast>
                <div class="col-2" style="min-width: 300px">
                    <p-panel>
                        <template #header>
                            <span class="text-start side-panel-header">
                                <i class="pi pi-filter"></i><span><strong>条件过滤</strong></span>
                            </span>
                        </template>
                        <div class="grid p-fluid">
                            <div class="col-6 p-1">
                                <label>游戏名</label>
                                <p-inputtext v-model.trim="queryParams.filters.name.value"></p-inputtext>
                            </div>
                            <div class="col-6 p-1">
                                <label>是否包含特典</label>
                                <p-dropdown v-model="queryParams.filters.hasBonus.value" :options="hasBonusSet"
                                            placeholder="所有" option-label="label"
                                            option-value="value">
                                </p-dropdown>
                            </div>
                            <div class="col-6 p-1">
                                <label>所属系列</label>
                                <p-multiselect v-model="queryParams.filters.franchises.value"
                                               @change="getProducts($event.value)"
                                               :options="franchiseSet" placeholder="所属系列"
                                               option-label="label" option-value="value" display="chip" :filter="true">
                                </p-multiselect>
                            </div>
                            <div class="col-6 p-1">
                                <label>所属作品</label>
                                <p-multiselect v-model="queryParams.filters.products.value" :options="productSet"
                                               option-label="label" option-value="value" placeholder="请先选择所属系列"
                                               display="chip" :filter="true" :disabled="productSelect">
                                </p-multiselect>
                            </div>
                            <div class="col-6 p-1">
                                <label>平台</label>
                                <p-dropdown v-model="queryParams.filters.platform.value" :options="gamePlatformSet"
                                            placeholder="所有" option-label="labelEn"
                                            option-value="value">
                                </p-dropdown>
                            </div>
                            <div class="col-6 p-1">
                                <label>区域</label>
                                <p-dropdown v-model="queryParams.filters.region.value" :options="regionSet"
                                            :filter="true" :show-clear="true" option-label="nameZh" option-value="code">
                                    <template #value="slotProps">
                                        <div class="country-item" v-if="slotProps.value">
                                            <span :class="'fi fi-' + slotProps.value"></span>
                                            <div class="ml-2">{{regionCode2NameZh(slotProps.value, regionSet)}}</div>
                                        </div>
                                        <span v-else>选择地区</span>
                                    </template>
                                    <template #option="slotProps">
                                        <div class="country-item">
                                            <span :class="'fi fi-' + slotProps.option.code"></span>
                                            <div class="ml-2">{{slotProps.option.nameZh}}</div>
                                        </div>
                                    </template>
                                </p-dropdown>
                            </div>
                            <div class="col-4 col-offset-2" style="text-align: right">
                                <p-button icon="pi pi-filter-slash"
                                          class="p-button-rounded p-button-info"
                                          v-tooltip.bottom="'清空'"
                                          @click="clearSearch"></p-button>
                            </div>
                            <div class="col-4" style="text-align: left">
                                <p-button icon="pi pi-search"
                                          class="p-button-rounded p-button-success"
                                          v-tooltip.bottom="'搜索'"
                                          @click="getGames"></p-button>
                            </div>
                        </div>
                    </p-panel>
                    <br>
                    <p-panel>
                        <template #header>
                            <span class="text-start side-panel-header">
                                <i class="pi iconfont icon-youxi"></i><span><strong>最新收录</strong></span>
                            </span>
                        </template>
                        <div class="grid">
                            <span class="small_font">
                                <div class="info_bit_small small_font grid m-0 p-0"
                                     v-if="justAddedGames.length != 0"
                                     v-for="game of justAddedGames">
                                    <div class="sidebar-panel-image-small-div game_info_bit_thumb mt-2">
                                        <a :href="'/db/game/'+ game.id">
                                            <img class="sidebar-panel-image-small" :src="game.cover.blackUrl"
                                                 v-tooltip.right="'收录时间: ' + game.addedTime + '编辑时间: ' + game.editedTime">
                                        </a>
                                    </div>
                                    <div class="col p-0" style="height: 80px">
                                        <ul class="info_bit_small_other">
                                            <li>
                                                <a class="small_font"
                                                   :href="'/db/game/'+ game.id ">
                                                    <span class="text-truncate-2 ml-2 mr-2">
                                                        {{game.name}}
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <span class="small_font col-6 related-item-catalog">
                                                    {{game.releaseDate}}
                                                </span>
                                                <span class="small_font col-6 related-item-date">
                                                    <b>{{game.platform.nameEn}}</b> <span :class="'fi fi-' + game.region.code"></span>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </p-panel>
                </div>
                <div class="col">
                    <p-dataview :value="games" :layout="layout" :paginator="true" :rows="gamesRows"
                                :sort-order="queryParams.sortOrder" :sort-field="queryParams.sortField"
                                :lazy="true" @page="onPage($event)" :total-records="totalRecords"
                                :rows-per-page-options="[10,20]" paginator-template="FirstPageLink PrevPageLink
                        PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
                                current-page-report-template="当前显示第【{first}】至【{last}】条数据，总【{totalRecords}】条数据">
                        <template #empty>
                            <div class="mt-2 mb-2">
                                <span class="emptyInfo">暂无符合条件的结果</span>
                            </div>
                        </template>
                        <template #header>
                            <div class="grid grid-nogutter">
                                <div class="col-6" style="text-align: left">
                                    <p-dropdown v-model="sortKey" :options="sortOptions" option-label="label"
                                                placeholder="按发售时间排序"
                                                @change="onSortChange($event)"></p-dropdown>
                                </div>
                                <!--                        <div class="col-4 index-dataview-title">-->
                                <!--                            <h2><i class="pi iconfont icon-24gl-musicAlbum2"></i>&nbsp&nbsp专&nbsp&nbsp辑&nbsp&nbsp库&nbsp&nbsp</h2>-->
                                <!--                        </div>-->
                                <div class="col-6" style="text-align: right">
                                    <p-dataviewlayoutoptions v-model="layout"></p-dataviewlayoutoptions>
                                </div>
                            </div>
                        </template>
                        <template #grid="slotProps">
                            <div style="width: 197px">
                                <div class="index-item-grid-card card">
                                    <p-card>
                                        <template #header>
                                            <a :href="'/db/game/'+ slotProps.data.id">
                                                <div class="block-img"
                                                     :style="'background-image:url('+ slotProps.data.cover.url+');' ">
                                                    <div class="absolute releaseDate">
                                                        <span class="text-center" style="color: white">{{slotProps.data.releaseDate}}</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </template>
                                        <template #title>
                                    <span class="text-truncate-2">
                                        <a :href="'/db/merch/'+ slotProps.data.id">{{slotProps.data.name}}</a>
                                    </span>
                                        </template>
                                        <template #content>
                                            <div class="grid">
                                                <div class="col text-start m-0 p-0">
                                                    <span :class="'fi fi-' + slotProps.data.region.code" style="margin: 0 0.25rem"
                                                          v-tooltip.bottom="{value: slotProps.data.region.nameZh, class: 'region-tooltip'}">
                                                    </span>
                                                    <span><p-tag class="ml-1" :value="slotProps.data.platform.nameEn"></p-tag></span>
                                                </div>
                                                <div class="col text-end m-0 p-0">
                                                    <span class="p-1 has-bonus-tag" v-if="slotProps.data.hasBonus">
                                                        <p-tag style="background: #2f364f" value="特典"></p-tag>
                                                    </span>
                                                </div>
                                            </div>
                                        </template>
                                    </p-card>
                                </div>
                            </div>
                        </template>
                        <template #list="slotProps">
                            <div class="col-12">
                                <div class="index-list-item">
                                    <a class="text-center" :href="'/db/game/'+ slotProps.data.id">
                                        <img :src="slotProps.data.cover.thumbUrl70" :alt="slotProps.data.cover.name"/>
                                    </a>
                                    <div class="index-list-item-detail">
                                    <span class="index-list-item-name text-truncate-1">
                                        <a :href="'/db/game/'+ slotProps.data.id">{{slotProps.data.name}}</a>
                                    </span>
                                        <span class="small-font" style="margin: 0 0 .5rem 0;">
                                        <span class="label">&nbsp{{slotProps.data.releaseDate}}</span>
                                    </span><br>
                                        <span :class="'fi fi-' + slotProps.data.region.code" style="margin-left: 0.5rem"
                                              v-tooltip.bottom="{value: slotProps.data.region.nameZh, class: 'region-tooltip'}">
                                    </span>
                                        <span>
                                        <span>
                                            <p-tag class="ml-1" :value="slotProps.data.platform.nameEn"></p-tag>
                                        </span>
                                        <span class="has-bonus-tag" v-if="slotProps.data.hasBonus">
                                            <p-tag style="background: #001122" class="ml-1" value="特典"></p-tag>
                                        </span>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </p-dataview>
                </div>
                <div class="col-2" style="min-width: 300px">
                    <p-panel>
                        <template #header>
                            <span class="text-start side-panel-header">
                                <i class="pi iconfont icon-youxi"></i><span><strong>浏览排名</strong></span>
                            </span>
                        </template>
                        <div class="grid">
                            <span class="small_font">
                                <div class="info_bit_small small_font grid m-0 p-0"
                                     v-if="popularGames.length != 0"
                                     v-for="(game, index) of popularGames">
                                    <div class="col-2 p-0 mt-2 mb-0 ml-0 mr-0 text-center">
                                        <div class="col-12 p-0 m-0">
                                            <i :class="'pi remixicon ri-number-' + index"
                                               style="font-size: 2rem"></i>
                                        </div>
                                        <span class="col-12 p-0 m-0" style="font-size: 9px">
                                            <i class="pi pi-eye"></i><br>{{game.visitNum}}
                                        </span>
                                    </div>
                                    <div class="sidebar-panel-image-small-div game_info_bit_thumb mt-2">
                                        <a :href="'/db/game/'+ game.id">
                                            <img class="sidebar-panel-image-small" :src="game.cover.blackUrl"
                                                 v-tooltip.bottom="'收录时间: ' + game.addedTime + '编辑时间: ' + game.editedTime">
                                        </a>
                                    </div>
                                    <div class="col p-0" style="height: 90px">
                                        <ul class="info_bit_small_other">
                                            <li>
                                                <a class="small_font"
                                                   :href="'/db/game/'+ game.id ">
                                                    <span class="text-truncate-2 ml-2 mr-2">
                                                        {{game.name}}
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <span class="small_font col-6 related-item-catalog">
                                                    <b>{{game.releaseDate}}</b><br>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="small_font col-6 related-item-date">
                                                    <span :class="'fi fi-' + game.region.code"></span>&nbsp{{game.platform.nameEn}}
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </p-panel>
                </div>
            </div>
        </p-tabpanel>
        <p-tabpanel>
            <template #header>
                <i class="pi iconfont icon-yinshuabaozhuang"></i>
                <h4>Merchs</h4>
            </template>
        </p-tabpanel>
    </p-tabview>

    <!-- 尾部 -->
    <footer class="mt-2" th:insert="~{template/footer :: site_footer}"></footer>
</div>
<script type="module" th:inline="javascript">
    const {createApp, onMounted, watch, ref} = Vue;
    const Tooltip = primevue.tooltip;
    const {useToast} = primevue.usetoast;

    const App = {
        setup() {
            onMounted(() => {
                init();
            });

            //region 页面header
            const domainUrl = DOMAIN_URL;

            const selectedEntity = ref();

            const entityType = ref(ENTITY_TYPE);

            const notLoginNavbarItems = ref(NOT_LOGIN_NAVBAR_ITEMS);

            const loginNavbarItems = ref(LOGIN_NAVBAR_ITEMS);
            //endregion

            //region ------基础------
            const games = ref();
            const franchiseSet = ref([[${franchiseSet}]]);
            const gamePlatformSet = ref([[${gamePlatformSet}]]);
            const regionSet = ref([[${regionSet}]]);
            const justAddedGames = ref([[${justAddedGames}]]);
            const popularGames = ref([[${popularGames}]]);
            const gamesRows = ref(20);
            const layout = ref('grid');
            const sortKey = ref();
            const sortOptions = ref([
                {label: '按发售时间正序', value: 'releaseDate'},
                {label: '按发售时间逆序', value: '!releaseDate'},
            ]);

            watch(() => layout.value, (newValue, oldValue) => {
                if (newValue === "grid") {
                    gamesRows.value = 20;
                } else {
                    gamesRows.value = 20;
                }
            }, {deep: true});
            //endregion

            //region ------ 搜索 ------
            const totalRecords = ref();
            const productSelect = ref(true);
            const queryParams = ref({
                first: 0,
                rows: 0,
                sortField: null,
                sortOrder: 0,
                filters: {
                    name: {value: null},
                    hasBonus: {value: null},
                    franchises: {value: null},
                    products: {value: null},
                    platform: {value: null},
                    region: {value: null},
                }
            });
            const clearSearch = () => {
                queryParams.value = {
                    first: 0,
                    rows: 0,
                    sortField: null,
                    sortOrder: 0,
                    filters: {
                        name: {value: null},
                        hasBonus: {value: null},
                        franchises: {value: null},
                        products: {value: null},
                        platform: {value: null},
                        region: {value: null},
                    }
                };
                getGames();
            }
            const productSet = ref();
            //根据系列id获取该系列所有作品
            const getProducts = (data) => {
                let json = {
                    franchises: data,
                    entityType: GAME
                };
                axiosPostRequest(GET_PRODUCT_SET_URL, json)
                    .then(res => {
                        if (res.length !== 0) {
                            queryParams.value.filters.products.value = [];
                            productSet.value = res;
                            productSelect.value = false;
                        } else {
                            productSelect.value = true;
                        }
                    })
            };
            const onPage = (event) => {
                queryParams.value.first = event.first;
                queryParams.value.rows = event.rows;
                getGames();
            }
            const getGames = () => {
                queryParams.value.rows = gamesRows.value;
                let json = {
                    pageLabel: "index",
                    queryParams: queryParams.value
                }
                axiosPostRequest(GET_GAMES_URL, json)
                    .then(res => {
                        games.value = res.data;
                        totalRecords.value = res.total;
                    })
            };
            const onSortChange = (event) => {
                const value = event.value.value;
                const sortValue = event.value;

                if (value.indexOf('!') === 0) {
                    queryParams.value.sortOrder = -1;
                    queryParams.value.sortField = value.substring(1, value.length);
                    queryParams.value.first = 0;
                    queryParams.value.rows = gamesRows.value;
                    sortKey.value = sortValue;
                    getGames();
                } else {
                    queryParams.value.sortOrder = 1;
                    queryParams.value.sortField = value;
                    queryParams.value.first = 0;
                    queryParams.value.rows = gamesRows.value;
                    sortKey.value = sortValue;
                    getGames();
                }
            };
            //endregion

            const init = () => {
                getGames();
            };

            return {
                regionSet, gamePlatformSet, regionCode2NameZh, clearSearch, hasBonusSet, gamesRows,
                getProducts, franchiseSet, productSet, queryParams, productSelect,
                domainUrl, notLoginNavbarItems, loginNavbarItems, entityType, selectedEntity, onSortChange,
                justAddedGames, popularGames, games, layout,
                sortKey, sortOptions, getGames, totalRecords, onPage, indexTabs, indexTabChange,
            }
        },
        components: {
            "p-dataview": primevue.dataview,
            "p-dataviewlayoutoptions": primevue.dataviewlayoutoptions,
            "p-dropdown": primevue.dropdown,
            "p-button": primevue.button,
            "p-toolbar": primevue.toolbar,
            "p-tag": primevue.tag,
            "p-card": primevue.card,
            "p-panel": primevue.panel,
            "p-menubar": primevue.menubar,
            "p-avatar": primevue.avatar,
            "p-inputtext": primevue.inputtext,
            "p-badge": primevue.badge,
            "p-multiselect": primevue.multiselect,
            "p-toast": primevue.toast,
            "p-tabview": primevue.tabview,
            "p-tabpanel": primevue.tabpanel,
        }
    };

    const routes = [{path: "/", component: App}];

    const router = VueRouter.createRouter({
        // history: VueRouter.createWebHashHistory(),
        history: VueRouter.createWebHistory(),
        routes
    });

    createApp(App)
        .use(router)
        .use(primevue.toastservice)
        .use(primevue.config.default)
        .directive('tooltip', Tooltip)
        .mount("#app");
</script>
<link th:href="@{/css/item-index.css}" rel="stylesheet"/>
<style>
</style>
</body>
</html>