<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>database</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>

    <!-- bootstrap -->
    <script th:src="@{/tool/bootstrap/bootstrap.min.js}"></script>

    <link th:href="@{/css/bootstrap/myBootstrap.min.css}" rel="stylesheet"/>

    <link href="https://img.rakbow.com/common/logo/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
    <link th:href="@{/css/iconfont/iconfont.css}" rel="stylesheet"/>
    <link th:href="@{/css/remixicon/remixicon.css}" rel="stylesheet"/>

    <!-- PrimeVue css -->
    <link th:href="@{/css/primevue/bootstrap4-dark-blue.css}" rel="stylesheet"/>
    <link th:href="@{/css/primevue/primevue.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/primevue/primeflex.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/primevue/primeicon/primeicons.css}" rel="stylesheet"/>

    <!-- Vue3 -->
    <script th:src="@{/js/vue/vue.global.min.js}"></script>
    <script th:src="@{/js/primevue/core.min.js}"></script>
    <script th:src="@{/js/vue/vue-router.global.min.js}"></script>

    <!-- PrimeVue Components -->
    <script th:src="@{/js/primevue/components/dataview.min.js}"></script>
    <script th:src="@{/js/primevue/components/dataviewlayoutoptions.min.js}"></script>
    <script th:src="@{/js/primevue/components/toolbar.min.js}"></script>
    <script th:src="@{/js/primevue/components/card.min.js}"></script>
    <script th:src="@{/js/primevue/components/panel.min.js}"></script>
    <script th:src="@{/js/primevue/components/inputtext.min.js}"></script>
    <script th:src="@{/js/primevue/components/badge.min.js}"></script>
    <script th:src="@{/js/primevue/components/multiselect.min.js}"></script>
    <script th:src="@{/js/primevue/components/toast.min.js}"></script>
    <script th:src="@{/js/primevue/components/toastservice.min.js}"></script>
    <script th:src="@{/js/primevue/components/tabmenu.min.js}"></script>
    <script th:src="@{/js/primevue/components/skeleton.min.js}"></script>

    <script th:src="@{/js/primevue/components/divider.min.js}"></script>
    <script th:src="@{/js/primevue/components/chip.min.js}"></script>
    <script th:src="@{/js/primevue/components/menubar.min.js}"></script>
    <script th:src="@{/js/primevue/components/avatar.min.js}"></script>
    <script th:src="@{/js/primevue/components/tag.min.js}"></script>
    <script th:src="@{/js/primevue/components/scrollpanel.min.js}"></script>
    <script th:src="@{/js/primevue/components/scrolltop.min.js}"></script>

    <!-- Jquery -->
    <script th:src="@{/js/jquery.js}"></script>

    <!-- flag-icons -->
    <link th:href="@{/css/flag-icons/css/flag-icons.css}" rel="stylesheet">

    <!-- basic js -->
    <script th:src="@{/js/basic/Data_Helper.js}"></script>
    <script th:src="@{/js/basic/Rakbow_Web_Url_Helper_Str.js}"></script>
    <script th:src="@{/js/basic/Rakbow_Web_Exception_Str_CN.js}"></script>
    <script th:src="@{/js/basic/Rakbow_Database_Index_Params.js}" type="module"></script>

    <!--other css -->
    <link th:href="@{/css/global.css}" rel="stylesheet"/>
    <link th:href="@{/css/topbar.css}" rel="stylesheet"/>
    <link th:href="@{/css/search.css}" rel="stylesheet"/>
    <link th:href="@{/css/item-index.css}" rel="stylesheet"/>

    <!-- fullpage -->
<!--    <script th:src="@{/tool/fullpage/fullpage.min.js}"></script>-->
<!--    <script th:src="@{/tool/fullpage/fullpage.extensions.min.js}"></script>-->
    <link th:href="@{/tool/fullpage/fullpage.min.css}" rel="stylesheet"/>

    <!-- swiper -->
        <script th:src="@{/tool/swiper/swiper-bundle.min.js}"></script>
    <link th:href="@{/tool/swiper/swiper-bundle.min.css}" rel="stylesheet"/>
</head>
<body>
<div id="app">
    <!-- 头部 -->
    <header class="sticky-top mb-2" th:insert="~{template/header :: no_search_header}"></header>

    <div id="index">
        <div class="section " id="section0">
            <div class="flex align-items-center justify-content-center flex-wrap card-container">
                <div id="search_panel_top" class="p-2 shadow-2 border-round w-full lg:w-6"
                     style="min-width: 900px;background-color: rgba(0,0,0,0.2)">
                    <div class="formgrid grid search">
                        <div class="col p-input-icon-right">
                            <i v-if="searchLoading" class="pi pi-spin pi-spinner" style="font-size: 2rem;margin: -12px 10px 0 0;"></i>
                            <p-inputtext id="globalSearch" v-model="searchParams.keyword" @keypress="search"
                                         class="search-input"></p-inputtext>
                        </div>
                        <div class="col-2" style="margin: auto;">
                            <p-dropdown v-model="searchParams.entityType" :options="ENTITY_TYPE" option-label="label"
                                        option-value="value" placeholder="类型">
                                <template #value="slotProps">
                                    <div class="country-item country-item-value" v-if="slotProps.value">
                                        <i :class="entityTypeValue2Icon(slotProps.value)"></i>
                                        <span class="ml-1">{{entityTypeValue2Label(slotProps.value)}}</span>
                                    </div>
                                </template>
                                <template #option="slotProps">
                                    <div class="country-item">
                                        <i :class="slotProps.option.icon"></i>
                                        <span class="ml-1">{{slotProps.option.label}}</span>
                                    </div>
                                </template>
                            </p-dropdown>
                        </div>
                    </div>
                </div>
                <div id="search_panel_bottom" class="p-2 w-full lg:w-6" style="min-width: 1250px;background-color: rgba(0,0,0,0)"
                     v-if="searchResult == null">
                    <section class="network-data">
                        <div class="wrapper-lg">
                            <div class="network-data_stats">
                                <div class="network-data_stats_item">
                                    <img width="80" height="80" src="/img/tmp/svg/1.svg">
                                    <div class="network-data_stats_item_green">
                                        <span>1 mil+</span>
                                        <span>active oss projects served</span>
                                    </div>
                                </div>
                                <div class="network-data_stats_item">
                                    <img width="80" height="80" src="/img/tmp/svg/2.svg">
                                    <div class="network-data_stats_item_green">
                                        <span>99.46%</span>
                                        <span>cache hit ratio</span>
                                    </div>
                                </div>
                                <div class="network-data_stats_item">
                                    <img width="80" height="80" src="/img/tmp/svg/3.svg">
                                    <div class="network-data_stats_item_regular">
                                        <span>86 334</span>
                                        <span>requests per second</span>
                                    </div>
                                </div>
                                <div class="network-data_stats_item">
                                    <img width="80" height="80" src="/img/tmp/svg/4.svg">
                                    <div class="network-data_stats_item_regular">
                                        <span>24 485 Mbps</span>
                                        <span>bandwidth</span>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-link-to">
                                <a class="btn-arrow" href="/db/albums">
                                    <span>高级搜索</span>
                                    <img width="20" height="20" src="/img/tmp/svg/arrow-right.svg">
                                </a>
                            </div>
                        </div>
                    </section>
                </div>
                <div id="search_panel_result" class="p-2 w-full lg:w-6" style="min-width: 900px;background-color: rgba(0,0,0,0.2)" v-else>
                    <div v-if="searchResult.total != 0" style="height: 600px">
                        <div class="text-start mt-3">
                            <span>共{{searchResult.total}}条结果</span>&nbsp;&nbsp;&nbsp;
                            <span>查询类型: {{searchResult.entityName}}</span>&nbsp;&nbsp;&nbsp;
                            <span>关键词: {{searchResult.keyword}}</span>&nbsp;&nbsp;&nbsp;
                            <span>查询时间: {{searchResult.searchTime}}</span>&nbsp;&nbsp;&nbsp;
                        </div>
                        <p-scrollpanel style="height: 530px">
                            <div v-if="searchResult.entityType == 1" v-for="result of searchResult.data">
                                <div class="col-12">
                                    <div class="search-item">
                                        <a class="text-center" :href="'/db/album/'+ result.id">
                                            <img :src="result.cover"/>
                                        </a>
                                        <div class="search-item-detail">
                                                    <span class="search-item-name text-truncate-1">
                                                        <a :href="'/db/album/'+ result.id">{{result.name}}</a>
                                                    </span>
                                            <span class="small-font" style="margin: 0 0 .5rem 0;">
                                                        <b class="label">{{result.catalogNo?result.catalogNo:'N/A'}}</b><span
                                                    class="label">&nbsp{{result.releaseDate}}</span>
                                                    </span><br/>
                                            <span class="grid">
                                                    <span class="text-start col-6">
                                                        <div v-for="format of result.albumFormat" style="display:inline">
                                                            <p-tag class="product-tag ml-1" :value="format.label"></p-tag>
                                                        </div>
                                                        <span class="has-bonus-tag" v-if="result.hasBonus">
                                                            <p-tag style="background: #1B273D" class="ml-1"
                                                                   value="特典"></p-tag>
                                                        </span>
                                                    </span>
                                                    <span class="text-end col-5">
                                                        <i class="pi pi-eye"
                                                           v-tooltip.bottom="{value:'浏览', class: 'short-tooltip'}"></i>
                                                        <span class="ml-2 mr-4">{{result.visitCount}}</span>
                                                        <i class="pi pi-thumbs-up-fill"
                                                           v-tooltip.bottom="{value:'点赞', class: 'short-tooltip'}"></i>
                                                        <span class="ml-2 mr-2">{{result.likeCount}}</span>
                                                    </span>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                                <p-divider></p-divider>
                            </div>
                            <div v-if="searchResult.entityType == 2" v-for="result of searchResult.data">
                                <div class="col-12">
                                    <div class="search-item">
                                        <a class="text-center" :href="'/db/disc/'+ result.id">
                                            <img :src="result.cover"/>
                                        </a>
                                        <div class="search-item-detail">
                                            <span class="search-item-name text-truncate-1">
                                                <a :href="'/db/disc/'+ result.id">{{result.name}}</a>
                                            </span>
                                            <span class="small-font" style="margin: 0 0 .5rem 0;">
                                                <b class="label">{{result.catalogNo?result.catalogNo:'N/A'}}</b><span
                                                    class="label">&nbsp{{result.releaseDate}}</span>
                                            </span><br>
                                            <span :class="'fi fi-' + result.region.code" style="margin-left: 0.5rem"
                                                  v-tooltip.bottom="{value: result.region.nameZh, class: 'region-tooltip'}">
                                            </span>
                                            <span class="grid">
                                                <span class="text-start col-6">
                                                    <span v-for="format of result.mediaFormat" style="display:inline">
                                                        <p-tag class="product-tag ml-1" :value="format.label"></p-tag>
                                                    </span>
                                                    <span class="has-bonus-tag" v-if="result.hasBonus">
                                                        <p-tag style="background: #1B273D" class="ml-1"
                                                               value="特典"></p-tag>
                                                    </span>
                                                    <span class="limited-tag" v-if="result.limited">
                                                        <p-tag style="background: #1B273D" class="ml-1"
                                                               value="限定"></p-tag>
                                                    </span>
                                                </span>
                                                <span class="text-end col-5">
                                                    <i class="pi pi-eye"
                                                       v-tooltip.bottom="{value:'浏览', class: 'short-tooltip'}"></i>
                                                    <span class="ml-2 mr-4">{{result.visitCount}}</span>
                                                    <i class="pi pi-thumbs-up-fill"
                                                       v-tooltip.bottom="{value:'点赞', class: 'short-tooltip'}"></i>
                                                    <span class="ml-2 mr-2">{{result.likeCount}}</span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <p-divider></p-divider>
                            </div>
                            <div v-if="searchResult.entityType == 3" v-for="result of searchResult.data">
                                <div class="col-12">
                                    <div class="search-item">
                                        <a class="text-center" :href="'/db/book/'+ result.id">
                                            <img :src="result.cover"/>
                                        </a>
                                        <div class="search-item-detail">
                                                    <span class="search-item-name text-truncate-1">
                                                        <a :href="'/db/book/'+ result.id">{{result.title}}</a>
                                                    </span>
                                            <span class="small-font" style="margin: 0 0 .5rem 0;">
                                                        <b class="label">{{result.isbn13}}</b><span class="label">&nbsp{{result.publishDate}}</span>
                                                    </span><br>
                                            <span :class="'fi fi-' + result.region.code" style="margin-left: 0.5rem"
                                                  v-tooltip.bottom="{value: result.region.nameZh, class: 'region-tooltip'}"></span>
                                            &nbsp&nbsp<span class="label"
                                                            style="font-size: 7px">{{result.publisher}}</span><br>
                                            <span class="grid">
                                                    <span class="text-start col-6">
                                                        <span style="display:inline">
                                                            <p-tag class="product-tag ml-1"
                                                                   :value="result.bookType.nameZh"></p-tag>
                                                        </span>
                                                        <span class="has-bonus-tag" v-if="result.hasBonus">
                                                            <p-tag style="background: #1B273D" class="ml-1"
                                                                   value="特典"></p-tag>
                                                        </span>
                                                        <span class="limited-tag" v-if="result.limited">
                                                            <p-tag style="background: #1B273D" class="ml-1"
                                                                   value="限定"></p-tag>
                                                        </span>
                                                    </span>
                                                    <span class="text-end col-5">
                                                        <i class="pi pi-eye"
                                                           v-tooltip.bottom="{value:'浏览', class: 'short-tooltip'}"></i>
                                                        <span class="ml-2 mr-4">{{result.visitCount}}</span>
                                                        <i class="pi pi-thumbs-up-fill"
                                                           v-tooltip.bottom="{value:'点赞', class: 'short-tooltip'}"></i>
                                                        <span class="ml-2 mr-2">{{result.likeCount}}</span>
                                                    </span>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                                <p-divider></p-divider>
                            </div>
                            <div v-if="searchResult.entityType == 4" v-for="result of searchResult.data">
                                <div class="col-12">
                                    <div class="search-item">
                                        <a class="text-center" :href="'/db/merch/'+ result.id">
                                            <img :src="result.cover"/>
                                        </a>
                                        <div class="search-item-detail">
                                                    <span class="search-item-name text-truncate-1">
                                                        <a :href="'/db/merch/'+ result.id">{{result.name}}</a>
                                                    </span>
                                            <span class="grid">
                                                    <span class="text-start col-6">
                                                        <span class="small-font">
                                                            <span class="label">{{result.releaseDate}}</span>
                                                        </span>
                                                        <span :class="'fi fi-' + result.region.code"
                                                              style="margin-left: 0.5rem"
                                                              v-tooltip.bottom="{value: result.region.nameZh, class: 'region-tooltip'}">
                                                        </span>
                                                    </span>
                                                    <span class="text-end col-5">
                                                        <i class="pi pi-eye"
                                                           v-tooltip.bottom="{value:'浏览', class: 'short-tooltip'}"></i>
                                                        <span class="ml-2 mr-4">{{result.visitCount}}</span>
                                                        <i class="pi pi-thumbs-up-fill"
                                                           v-tooltip.bottom="{value:'点赞', class: 'short-tooltip'}"></i>
                                                        <span class="ml-2 mr-2">{{result.likeCount}}</span>
                                                    </span>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                                <p-divider></p-divider>
                            </div>
                            <div v-if="searchResult.entityType == 5" v-for="result of searchResult.data">
                                <div class="col-12">
                                    <div class="search-item">
                                        <a class="text-center" :href="'/db/game/'+ result.id">
                                            <img :src="result.cover"/>
                                        </a>
                                        <div class="search-item-detail">
                                                    <span class="search-item-name text-truncate-1">
                                                        <a :href="'/db/game/'+ result.id">{{result.name}}</a>
                                                    </span>
                                            <span class="small-font" style="margin: 0 0 .5rem 0;">
                                                        <span class="label">&nbsp{{result.releaseDate}}</span>
                                                    </span><br>
                                            <span :class="'fi fi-' + result.region.code" style="margin-left: 0.5rem"
                                                  v-tooltip.bottom="{value: result.region.nameZh, class: 'region-tooltip'}">
                                                    </span>

                                            <span class="grid">
                                                    <span class="text-start col-6">
                                                        <span>
                                                            <p-tag class="ml-1" :value="result.platform.nameEn"></p-tag>
                                                        </span>
                                                        <span class="has-bonus-tag" v-if="result.hasBonus">
                                                            <p-tag style="background: #1B273D" class="ml-1"
                                                                   value="特典"></p-tag>
                                                        </span>
                                                    </span>
                                                    <span class="text-end col-5">
                                                        <i class="pi pi-eye"
                                                           v-tooltip.bottom="{value:'浏览', class: 'short-tooltip'}"></i>
                                                        <span class="ml-2 mr-4">{{result.visitCount}}</span>
                                                        <i class="pi pi-thumbs-up-fill"
                                                           v-tooltip.bottom="{value:'点赞', class: 'short-tooltip'}"></i>
                                                        <span class="ml-2 mr-2">{{result.likeCount}}</span>
                                                    </span>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                                <p-divider></p-divider>
                            </div>
                            <p-scrolltop target="parent" :threshold="100" class="search-scrolltop"
                                         icon="pi pi-arrow-up"></p-scrolltop>
                        </p-scrollpanel>
                        <p-paginator
                                :template="{
                                    default: 'FirstPageLink PrevPageLink PageLinks NextPageLinLastPageLink LastPageLink JumpToPageDropdown'
                                    }"
                                v-model:first="searchResult.offset" :rows="searchResult.limit"
                                :total-records="searchResult.total" @page="pageChange($event)">
                        </p-paginator>
                    </div>
                    <div v-else class="text-center mt-2">
                        <img src="https://img.rakbow.com/common/icon/no-results.svg"/><br><span>暂无搜索结果</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="section1">
            <div class="slide" id="slide1">
                <div>
                    <h1>Slide 1</h1>
                </div>
                <!--            <div class="swiper mySwiper swiper-coverflow swiper-3d swiper-initialized swiper-horizontal swiper-pointer-events swiper-watch-progress">-->
                <!--                <div class="swiper-wrapper" style="cursor: grab; transition-duration: 0ms; transform: translate3d(-390px, 0px, 0px);" id="swiper-wrapper-63fa5bb6824c2104a" aria-live="polite">-->
                <!--                    <div class="swiper-slide" role="group" aria-label="1 / 9" style="transition-duration: 0ms; transform: translate3d(0px, 0px, -400px) rotateX(0deg) rotateY(200deg) scale(1); z-index: -3;">-->
                <!--                        <img src="/img/Swiper_demo1_files/nature-1.jpg">-->
                <!--                        <div class="swiper-slide-shadow-left" style="opacity: 4; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div>-->
                <!--                    <div class="swiper-slide swiper-slide-visible" role="group" aria-label="2 / 9" style="transition-duration: 0ms; transform: translate3d(0px, 0px, -300px) rotateX(0deg) rotateY(150deg) scale(1); z-index: -2;">-->
                <!--                        <img src="/img/Swiper_demo1_files/nature-2.jpg">-->
                <!--                        <div class="swiper-slide-shadow-left" style="opacity: 3; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div>-->
                <!--                    <div class="swiper-slide swiper-slide-visible" role="group" aria-label="3 / 9" style="transition-duration: 0ms; transform: translate3d(0px, 0px, -200px) rotateX(0deg) rotateY(100deg) scale(1); z-index: -1;">-->
                <!--                        <img src="/img/Swiper_demo1_files/nature-3.jpg">-->
                <!--                        <div class="swiper-slide-shadow-left" style="opacity: 2; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div>-->
                <!--                    <div class="swiper-slide swiper-slide-visible swiper-slide-prev" role="group" aria-label="4 / 9" style="transition-duration: 0ms; transform: translate3d(0px, 0px, -100px) rotateX(0deg) rotateY(50deg) scale(1); z-index: 0;">-->
                <!--                        <img src="/img/Swiper_demo1_files/nature-4.jpg">-->
                <!--                        <div class="swiper-slide-shadow-left" style="opacity: 1; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div>-->
                <!--                    <div class="swiper-slide swiper-slide-visible swiper-slide-active" role="group" aria-label="5 / 9" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1); z-index: 1;">-->
                <!--                        <img src="/img/Swiper_demo1_files/nature-5.jpg">-->
                <!--                        <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 0; transition-duration: 0ms;"></div></div>-->
                <!--                    <div class="swiper-slide swiper-slide-visible swiper-slide-next" role="group" aria-label="6 / 9" style="transition-duration: 0ms; transform: translate3d(0px, 0px, -100px) rotateX(0deg) rotateY(-50deg) scale(1); z-index: 0;">-->
                <!--                        <img src="/img/Swiper_demo1_files/nature-6.jpg">-->
                <!--                        <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 1; transition-duration: 0ms;"></div></div>-->
                <!--                    <div class="swiper-slide swiper-slide-visible" role="group" aria-label="7 / 9" style="transition-duration: 0ms; transform: translate3d(0px, 0px, -200px) rotateX(0deg) rotateY(-100deg) scale(1); z-index: -1;">-->
                <!--                        <img src="/img/Swiper_demo1_files/nature-7.jpg">-->
                <!--                        <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 2; transition-duration: 0ms;"></div></div>-->
                <!--                    <div class="swiper-slide swiper-slide-visible" role="group" aria-label="8 / 9" style="transition-duration: 0ms; transform: translate3d(0px, 0px, -300px) rotateX(0deg) rotateY(-150deg) scale(1); z-index: -2;">-->
                <!--                        <img src="/img/Swiper_demo1_files/nature-8.jpg">-->
                <!--                        <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 3; transition-duration: 0ms;"></div></div>-->
                <!--                    <div class="swiper-slide" role="group" aria-label="9 / 9" style="transition-duration: 0ms; transform: translate3d(0px, 0px, -400px) rotateX(0deg) rotateY(-200deg) scale(1); z-index: -3;">-->
                <!--                        <img src="/img/Swiper_demo1_files/nature-9.jpg">-->
                <!--                        <div class="swiper-slide-shadow-left" style="opacity: 0; transition-duration: 0ms;"></div><div class="swiper-slide-shadow-right" style="opacity: 4; transition-duration: 0ms;"></div></div>-->
                <!--                </div>-->
                <!--                <div class="swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active" aria-current="true"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>-->
                <!--                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>-->
            </div>
            <div class="slide" id="slide2">
                <div>
                    <h1>Slide 2</h1>
                </div>
            </div>
            <div class="slide" id="slide3">
                <div>
                    <h1>Slide 3</h1>
                </div>
            </div>
            <div class="slide" id="slide4">
                <div>
                    <h1>Slide 4</h1>
                </div>
            </div>
            <div class="slide" id="slide5">
                <div>
                    <h1>Slide 5</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- 尾部 -->
    <!--    <footer class="mt-2" th:insert="~{template/footer :: site_footer}"></footer>-->
</div>
<script type="module" th:inline="javascript">

    import fullpage from '/tool/fullpage/fullpage.esm.js';
    import superplaceholder from '/tool/superplaceholder/superplaceholder.esm.js';
    import {getRequest, postRequest} from '/js/basic/Http_Request.js';

    const {createApp, onMounted, watch, ref} = Vue;
    const Tooltip = primevue.tooltip;
    const {useToast} = primevue.usetoast;

    const App = {
        setup() {
            onMounted(() => {

                init();

                // const swiper = new Swiper(".mySwiper", {
                //     effect: "coverflow",
                //     grabCursor: true,
                //     centeredSlides: true,
                //     slidesPerView: "auto",
                //     coverflowEffect: {
                //         rotate: 50,
                //         stretch: 0,
                //         depth: 100,
                //         modifier: 1,
                //         slideShadows: true,
                //     },
                //     pagination: {
                //         el: ".swiper-pagination",
                //     },
                // });

                fullpage('#index', {
                    anchors: ['simpleSearch', 'advanceSearch'],
                    css3: true,
                    dragAndMove: true,
                    scrollingSpeed: 500, //滚动的时间
                    keyboardScrolling: false,
                    navigation: true,
                    navigationPosition: 'right',
                    navigationTooltips: ['搜索', '高级搜索'],
                    showActiveTooltip: true,
                    slidesNavigation: true,
                    normalScrollElements: '#search_panel_top, #search_panel_result',
                });
                // fullpage_api.setAllowScrolling(false);

                superplaceholder({
                    el: document.querySelector('#globalSearch'),
                    sentences: [
                        '例: とある飛空士への誓約',
                        '例: ひぐらしのなく頃に解 SOUNDTRACK',
                        '例: ひぐらしのなく頃に 初回限定版'
                    ],
                    options: {
                        // delay between letters (in milliseconds)
                        // 各个字符显示之间的延迟时间，单位毫秒。
                        letterDelay: 100, // milliseconds
                        // delay between sentences (in milliseconds)
                        // 各个句子之间的延迟时间，单位毫秒。
                        sentenceDelay: 1000,
                        // should start on input focus. Set false to autostart
                        // 在输入框聚焦时才开始播放，设置为false会自动开始播放。
                        startOnFocus: false,
                        // loop through passed sentences
                        // 是否循环播放。
                        loop: true,
                        // Initially shuffle the passed sentences
                        // 是否打乱传入的句子。
                        shuffle: false,
                        // Show cursor or not. Shows by default
                        // 是否显示光标，默认为显示。
                        showCursor: true,
                        // String to show as cursor
                        // 光标字符串。
                        cursor: '|',
                        // // Control onFocus behaviour. Default is `superplaceholder.Actions.START`
                        // onFocusAction: superplaceholder.Actions.[NOTHING|START|STOP],
                        // // Control onBlur behaviour. Default is `superplaceholder.Actions.STOP`
                        // onBlurAction: superplaceholder.Actions.[NOTHING|START|STOP]
                    }
                });
            });

            //region search

            const searchLoading = ref(false);

            const entityAmountInfo = ref();

            const searchParams = ref({
                keyword: '',
                entityType: 0,
                offset: 0,
                limit: 10
            });
            const searchResult = ref(null);
            watch(() => {
                if (searchParams.value.keyword === '') {
                    searchResult.value = null;
                }
            });

            const search = () => {
                if (searchParams.value.keyword !== '' && !searchLoading.value) {
                    searchLoading.value = true;
                    postRequest(null, INDEX_SEARCH_URL, searchParams.value)
                        .then(res => {
                            if (res.state === 1) {
                                searchResult.value = res.data;
                            }
                            searchLoading.value = false;
                        });
                }
            };
            const pageChange = (ev) => {
                searchParams.value.offset = ev.first;
                searchParams.value.limit = ev.rows;
                search();
            };

            const getEntityAmountInfo = () => {
                getRequest(null, GET_ENTITY_AMOUNT_INFO)
                    .then(res => {
                        if (res.state === 1) {
                            entityAmountInfo.value = res.data;
                        }
                    });
            };
            //endregion
            const init = () => {
                getEntityAmountInfo();
            };

            return {
                searchParams, searchResult, ENTITY_TYPE, entityAmountInfo, searchLoading,
                search, pageChange, entityTypeValue2Icon, entityTypeValue2Label,
                NOT_LOGIN_NAVBAR_ITEMS, LOGIN_NAVBAR_ITEMS,
            }
        },
        components: {
            "p-avatar": primevue.avatar,
            "p-inputtext": primevue.inputtext,
            "p-menubar": primevue.menubar,
            "p-dropdown": primevue.dropdown,
            "p-button": primevue.button,

            "p-tabmenu": primevue.tabmenu,
            "p-divider": primevue.divider,
            "p-scrollpanel": primevue.scrollpanel,
            "p-chip": primevue.chip,
            "p-tag": primevue.tag,
            "p-scrolltop": primevue.scrolltop,
            "p-paginator": primevue.paginator,
        }
    };

    const routes = [{path: '/db', component: App}];

    const router = VueRouter.createRouter({
        history: VueRouter.createWebHistory(),
        routes
    });

    createApp(App)
        .use(router)
        .use(primevue.toastservice)
        .use(primevue.config.default)
        .directive('tooltip', Tooltip)
        .mount("#app");
</script>
<style>

    /* Centered texts in each section
    * --------------------------------------- */
    /*.section {*/
    /*    text-align:center;*/
    /*}*/

    /* Fixed header and footer.
    * --------------------------------------- */
    #header, #footer{
        position:fixed;
        height: 50px;
        display:block;
        width: 100%;
        background: #333;
        z-index:9;
        text-align:center;
        color: #f2f2f2;
        padding: 20px 0 0 0;
    }

    #header{
        top:0;
    }
    #footer{
        bottom:0;
    }

    /*.section_2 {*/
    /*    position: relative;*/
    /*    height: 100%;*/
    /*}*/

    /*.section_2 {*/
    /*    background: #eee;*/
    /*    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/
    /*    font-size: 14px;*/
    /*    color: #000;*/
    /*    margin: 0;*/
    /*    padding: 0;*/
    /*}*/

    /*.swiper {*/
    /*    width: 100%;*/
    /*    padding-top: 50px;*/
    /*    padding-bottom: 50px;*/
    /*}*/

    /*.swiper-slide {*/
    /*    background-position: center;*/
    /*    background-size: cover;*/
    /*    width: 300px;*/
    /*    height: 300px;*/
    /*}*/

    /*.swiper-slide img {*/
    /*    display: block;*/
    /*    width: 100%;*/
    /*}*/

    @media (min-width: 768px) {
        .network-data .btn-link-to {
            justify-content: center;
        }
        .btn-link-to {
            justify-content: flex-start;
            margin-top: 40px;
        }
    }

    .btn-link-to {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 24px;
    }

    @media (min-width: 768px) {
        .btn-link-to {
            justify-content: flex-start;
            margin-top: 40px;
        }
    }

    .btn-link-to>a {
        display: flex;
        align-items: center;
    }

    .btn-arrow {
        display: inline-flex;
        align-items: center;
        font-weight: 600;
        color: #ff5627;
    }

    .fa, a {
        cursor: pointer;
    }

    @media (min-width: 576px) {
        .network-data_stats {
            /*flex-flow: row wrap;*/
        }
    }

    @media (min-width: 768px) {
        .network-data {
            /*margin-top: 64px;*/
            /*height: 428px;*/
            padding: 30px 0;
            width: 100%;
        }
    }

    .network-data {
        display: flex;
        justify-content: center;
        position: relative;
        /*margin-top: 40px;*/
        padding: 30px 0;
        /*background-image: url('/img/tmp/svg/map.webp');*/
        /*background-repeat: no-repeat;*/
        /*background-position: center;*/
        overflow: hidden;
    }

    .wrapper-lg {
        z-index: 2;
        width: 100%;
        max-width: 1224px;
    }

    @media (min-width: 992px) {
        .network-data_stats {
            gap: 0;
        }
    }

    @media (min-width: 992px) {
        .network-data_stats_item {
            flex-direction: column;
            flex-basis: 0;
            min-height: 172px;
        }
    }

    .network-data_stats_item {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-grow: 1;
        flex-basis: calc(50% - 24px);
        gap: 24px;
        min-height: 56px;
    }

    @media (min-width: 768px) {
        .network-data_stats_item_green, .network-data_stats_item_regular {
            align-items: center;
        }
    }

    .network-data_stats_item_green, .network-data_stats_item_regular {
        display: flex;
        flex-direction: column;
    }

    .network-data_stats {
        display: flex;
        /*flex-direction: column;*/
        align-items: flex-start;
        gap: 24px;
    }

    @media (min-width: 768px) {
        .network-data_stats_item_green>span:nth-child(1), .network-data_stats_item_regular>span:nth-child(1) {
            font-size: 32px;
            line-height: 44px;
        }
    }

    .network-data_stats_item_green>span:nth-child(1), .network-data_stats_item_regular>span:nth-child(1) {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: .2px;
    }

    .network-data_stats_item_green>span, .network-data_stats_item_regular>span {
        white-space: nowrap;
    }

    @media (min-width: 992px) {
            .network-data_stats_item {
                flex-direction: column;
                flex-basis: 0;
                min-height: 172px;
            }
        .network-data_stats_item_green>span:nth-child(2), .network-data_stats_item_regular>span:nth-child(2) {
            text-align: center;
        }
    }

    .network-data_stats_item {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-grow: 1;
        flex-basis: calc(50% - 24px);
        gap: 24px;
        min-height: 56px;
    }

    @media (min-width: 768px) {
        .network-data_stats_item_green>span:nth-child(2), .network-data_stats_item_regular>span:nth-child(2) {
            font-size: 16px;
            line-height: 24px;
        }
    }

    .network-data_stats_item_green>span:nth-child(2), .network-data_stats_item_regular>span:nth-child(2) {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: left;
        width: 100%;
    }

    .network-data_stats_item_green>span, .network-data_stats_item_regular>span {
        white-space: nowrap;
    }

    .p-paginator {
        background-color: rgba(0, 0, 0, 0.3)
    }

    #fp-nav ul li a span, .fp-slidesNav ul li a span {
        background: #d7fdd4;
    }

    #fp-nav.fp-right {
        right: 50px;
    }



    .section {
        width: 100%;
        height: 100%;
        color: #fff;
    }

    #index .section:nth-child(1) {
        padding: 100px;
        background-image: url('http://localhost:8083/img/tmp.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    /*#index .section:nth-child(2) {*/
    /*    background: yellowgreen;*/
    /*}*/

    /*#index .section:nth-child(3) {*/
    /*    background: orangered;*/
    /*}*/

    #index .section:last-child {
        background-image: url('http://localhost:8083/img/db_index.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
</body>
</html>