<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Album List</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <link href="https://img.rakbow.com/common/logo/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link th:href="@{/css/iconfont/iconfont.css}" rel="stylesheet" type="text/css" />

    <!-- bootstrap -->
    <script th:src="@{/tool/bootstrap/bootstrap.min.js}"></script>

    <!-- PrimeVue -->
    <link th:href="@{/css/primevue/bootstrap4-dark-blue.css}" rel="stylesheet"/>
    <link th:href="@{/css/primevue/primevue.min.css}" rel="stylesheet" />
    <link th:href="@{/css/primevue/primeflex.min.css}" rel="stylesheet" />
    <link th:href="@{/css/primevue/primeicon/primeicons.css}" rel="stylesheet" />

    <!-- Vue3 -->
    <script th:src="@{/js/vue/vue.global.js}"></script>
    <script th:src="@{/js/primevue/core.min.js}"></script>
    <script th:src="@{/js/vue/vue-router.global.js}"></script>

    <!-- PrimeVue Components -->
    <script th:src="@{/js/primevue/components/datatable.min.js}"></script>
    <script th:src="@{/js/primevue/components/column.min.js}"></script>
    <script th:src="@{/js/primevue/components/multiselect.min.js}"></script>
    <script th:src="@{/js/primevue/components/calendar.min.js}"></script>
    <script th:src="@{/js/primevue/components/textarea.min.js}"></script>
    <script th:src="@{/js/primevue/components/dialog.min.js}"></script>
    <script th:src="@{/js/primevue/components/toolbar.min.js}"></script>
    <script th:src="@{/js/primevue/components/inputnumber.min.js}"></script>
    <script th:src="@{/js/primevue/components/inputtext.min.js}"></script>
    <script th:src="@{/js/primevue/components/toast.min.js}"></script>
    <script th:src="@{/js/primevue/components/toastservice.min.js}"></script>
    <script th:src="@{/js/primevue/components/fieldset.min.js}"></script>
    <script th:src="@{/js/primevue/components/panel.min.js}"></script>
    <script th:src="@{/js/primevue/components/divider.min.js}"></script>
    <script th:src="@{/js/primevue/components/inputswitch.min.js}"></script>
    <script th:src="@{/js/primevue/components/multiselect.min.js}"></script>
    <script th:src="@{/js/primevue/components/card.min.js}"></script>
    <script th:src="@{/js/primevue/components/menubar.min.js}"></script>
    <script th:src="@{/js/primevue/components/avatar.min.js}"></script>
    <script th:src="@{/js/primevue/components/tristatecheckbox.min.js}"></script>
    <script th:src="@{/js/primevue/components/blockui.min.js}"></script>
    <script th:src="@{/js/primevue/components/tabmenu.min.js}"></script>
    <script th:src="@{/js/primevue/components/selectbutton.min.js}"></script>

    <script th:src="@{/js/primevue/components/chip.min.js}"></script>
    <script th:src="@{/js/primevue/components/tag.min.js}"></script>

    <!-- Jquery -->
    <script th:src="@{/js/jquery.js}"></script>

    <!-- basic js -->
    <script th:src="@{/js/basic/Data_Helper.js}"></script>
    <script th:src="@{/js/basic/Rakbow_Web_Url_Helper_Str.js}"></script>
    <script th:src="@{/js/basic/Rakbow_Web_Exception_Str_CN.js}"></script>
    <script th:src="@{/js/basic/Rakbow_Database_List_Params.js}" type="module"></script>

    <!-- flag-icons -->
    <link th:href="@{/css/flag-icons/css/flag-icons.css}" rel="stylesheet">

    <!--other css -->
    <link th:href="@{/css/global.css}" rel="stylesheet"/>
    <link th:href="@{/css/topbar.css}" rel="stylesheet"/>
    <link th:href="@{/css/search.css}" rel="stylesheet"/>
    <link th:href="@{/css/item-list.css}" rel="stylesheet"/>
</head>
<body>
 <div id="app" style="margin-top: 60px">
    <!-- 头部 -->
    <header class="sticky-top mb-2" th:insert="~{template/header :: no_search_header}"></header>
    <div id="main">
        <p-tabmenu :model="dbListTabs"></p-tabmenu>
        <router-view></router-view>
    </div>

    <!-- 尾部 -->
    <footer class="mt-2" th:insert="~{template/footer :: site_footer}"></footer>
</div>
<script type="module" th:inline="javascript">

    import {DATABASE_LIST_ROUTER} from '/js/basic/Rakbow_Database_List_Params.js';
    import {showSearchPanel} from '/js/basic/Search_Params.js';
    const {createApp, onMounted, ref, watch} = Vue;
    const Tooltip = primevue.tooltip;
    const {useToast} = primevue.usetoast;
    const App = {
        setup() {
            onMounted(() => {
                $(window).resize(function () {
                    $("#main").attr("style", "min-height:" + ($(window).height() - 350) + 'px');
                });
                $("#main").attr("style", "min-height:" + ($(window).height() - 350) + 'px');
            });

            return {
                dbListTabs, NOT_LOGIN_NAVBAR_ITEMS, LOGIN_NAVBAR_ITEMS,
            }
        },
        components: {
            "p-avatar": primevue.avatar,
            "p-inputtext": primevue.inputtext,
            "p-menubar": primevue.menubar,
            "p-dropdown": primevue.dropdown,
            "p-button": primevue.button,

            "p-tabmenu": primevue.tabmenu,
        }
    };

    const routes = DATABASE_LIST_ROUTER;

    const router = VueRouter.createRouter({
        history: VueRouter.createWebHistory(),
        routes
    });

    const app = createApp(App);
    app.use(primevue.config.default);
    app.directive('tooltip', Tooltip);
    app.use(primevue.toastservice);
    app.use(router)
        .mount("#app");
</script>
</body>
</html>