<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>database</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>

    <!-- bootstrap -->
    <script th:src="@{/tool/bootstrap/bootstrap.min.js}"></script>

    <link th:href="@{/css/bootstrap/myBootstrap.min.css}" rel="stylesheet"/>

    <link href="https://img.rakbow.com/common/logo/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
    <link th:href="@{/css/iconfont/iconfont.css}" rel="stylesheet"/>
    <link th:href="@{/css/remixicon/remixicon.css}" rel="stylesheet"/>

    <!-- PrimeVue css -->
    <link th:href="@{/css/primevue/bootstrap4-dark-blue.css}" rel="stylesheet"/>
    <link th:href="@{/css/primevue/primevue.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/primevue/primeflex.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/primevue/primeicon/primeicons.css}" rel="stylesheet"/>

    <!-- Vue3 -->
    <script th:src="@{/js/vue/vue.global.min.js}"></script>
    <script th:src="@{/js/primevue/core.min.js}"></script>
    <script th:src="@{/js/vue/vue-router.global.min.js}"></script>

    <!-- PrimeVue Components -->
    <script th:src="@{/js/primevue/components/dataview.min.js}"></script>
    <script th:src="@{/js/primevue/components/dataviewlayoutoptions.min.js}"></script>
    <script th:src="@{/js/primevue/components/toolbar.min.js}"></script>
    <script th:src="@{/js/primevue/components/card.min.js}"></script>
    <script th:src="@{/js/primevue/components/panel.min.js}"></script>
    <script th:src="@{/js/primevue/components/inputtext.min.js}"></script>
    <script th:src="@{/js/primevue/components/badge.min.js}"></script>
    <script th:src="@{/js/primevue/components/multiselect.min.js}"></script>
    <script th:src="@{/js/primevue/components/toast.min.js}"></script>
    <script th:src="@{/js/primevue/components/toastservice.min.js}"></script>
    <script th:src="@{/js/primevue/components/tabmenu.min.js}"></script>
    <script th:src="@{/js/primevue/components/skeleton.min.js}"></script>

    <script th:src="@{/js/primevue/components/divider.min.js}"></script>
    <script th:src="@{/js/primevue/components/chip.min.js}"></script>
    <script th:src="@{/js/primevue/components/menubar.min.js}"></script>
    <script th:src="@{/js/primevue/components/avatar.min.js}"></script>
    <script th:src="@{/js/primevue/components/tag.min.js}"></script>
    <script th:src="@{/js/primevue/components/scrollpanel.min.js}"></script>
    <script th:src="@{/js/primevue/components/scrolltop.min.js}"></script>

    <!-- index -->
    <script th:src="@{/js/index/webfont.js}"></script>
    <link href="https://use.typekit.net/odx1odf.css" rel="stylesheet">
    <link th:href="@{/css/index/base.css}" rel="stylesheet">

    <!-- Jquery -->
    <script th:src="@{/js/jquery.js}"></script>

    <!-- flag-icons -->
    <link th:href="@{/css/flag-icons/css/flag-icons.css}" rel="stylesheet">

    <!-- basic js -->
    <script th:src="@{/js/basic/Data_Helper.js}"></script>
    <script th:src="@{/js/basic/Rakbow_Web_Url_Helper_Str.js}"></script>
    <script th:src="@{/js/basic/Rakbow_Web_Exception_Str_CN.js}"></script>
    <script th:src="@{/js/basic/Rakbow_Database_Index_Params.js}" type="module"></script>

    <!--other css -->
    <link th:href="@{/css/global.css}" rel="stylesheet"/>
    <link th:href="@{/css/topbar.css}" rel="stylesheet"/>
    <link th:href="@{/css/search.css}" rel="stylesheet"/>
    <link th:href="@{/css/item-index.css}" rel="stylesheet"/>

    <!-- fullpage -->
<!--    <script th:src="@{/tool/fullpage/fullpage.min.js}"></script>-->
    <script th:src="@{/tool/fullpage/fullpage.extensions.min.js}"></script>
    <link th:href="@{/tool/fullpage/fullpage.min.css}" rel="stylesheet"/>
</head>
<body>
<div id="app">
    <!-- 头部 -->
    <header class="sticky-top mb-2" th:insert="~{template/header :: no_search_header}"></header>

    <div id="index">
        <div class="section" id="section0">
            <div class="frame" style="top: 0">
                <h1 class="frame__pagetitle">搜索</h1>
                <div class="frame__header">
                    <!--                        <h2 class="frame__title">Background Scale Hover Effect</h2>-->
                    <nav class="frame__nav">
                        <a href="/">首页</a>
                        <a href="">article</a>
                        <a href="">github</a>
                    </nav>
                </div>
                <span class="frame__menu">Menu</span>
                <div class="frame__demos">
                    <a href="#search" class="frame__demo frame__demo--current">搜索</a>
                    <a href="#overview" class="frame__demo">总览</a>
                </div>
            </div>
            <div class="flex align-items-center justify-content-center flex-wrap card-container">
                <div id="search_panel_top" class="p-2 shadow-2 border-round w-full lg:w-6"
                     style="min-width: 900px;background-color: rgba(0,0,0,0.2)">
                    <div class="formgrid grid search">
                        <div class="col p-input-icon-right">
                            <i v-if="searchLoading" class="pi pi-spin pi-spinner" style="font-size: 2rem;margin: -12px 10px 0 0;"></i>
                            <p-inputtext id="globalSearch" v-model="searchParams.keyword" @keypress="search"
                                         class="search-input"></p-inputtext>
                        </div>
                        <div class="col-2" style="margin: auto;">
                            <p-dropdown v-model="searchParams.entityType" :options="ENTITY_TYPE" option-label="label"
                                        option-value="value" placeholder="类型">
                                <template #value="slotProps">
                                    <div class="country-item country-item-value" v-if="slotProps.value">
                                        <i :class="entityTypeValue2Icon(slotProps.value)"></i>
                                        <span class="ml-1">{{entityTypeValue2Label(slotProps.value)}}</span>
                                    </div>
                                </template>
                                <template #option="slotProps">
                                    <div class="country-item">
                                        <i :class="slotProps.option.icon"></i>
                                        <span class="ml-1">{{slotProps.option.label}}</span>
                                    </div>
                                </template>
                            </p-dropdown>
                            <br>
                            <div class="text-center" v-if="searchResult == null">
                                <a href="/db/albums">高级查询>></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="search_panel_result" class="p-2 w-full lg:w-6" style="min-width: 900px;background-color: rgba(0,0,0,0.2)" v-if="searchResult != null">
                    <div v-if="searchResult.total != 0" style="height: 650px">
                        <div class="formgrid grid">
                            <div class="field col-9 text-start mt-3">
                                <span class="ml-3">共&nbsp;<span style="color: orange">{{searchResult.total}}</span>&nbsp;条结果</span>&nbsp;&nbsp;&nbsp;
                                <span>查询类型: <span style="color: orange">{{searchResult.entityName}}</span></span>&nbsp;&nbsp;&nbsp;
                                <span>关键词: <span style="color: orange">{{searchResult.keyword}}</span></span>&nbsp;&nbsp;&nbsp;
                                <span>查询时间: <span style="color: orange">{{searchResult.searchTime}}</span></span>&nbsp;&nbsp;&nbsp;
                            </div>
                            <div class="field col-3 text-end mt-3">
                                <a class="mr-3" href="/db/albums">高级查询>></a>
                            </div>
                        </div>
                        <p-scrollpanel style="height: 530px">
                            <div v-if="searchResult.entityType == 1" v-for="result of searchResult.data">
                                <div class="col-12">
                                    <div class="search-item">
                                        <a class="text-center" :href="'/db/album/'+ result.id">
                                            <img :src="result.cover"/>
                                        </a>
                                        <div class="search-item-detail">
                                                    <span class="search-item-name text-truncate-1">
                                                        <a :href="'/db/album/'+ result.id">{{result.name}}</a>
                                                    </span>
                                            <span class="small-font" style="margin: 0 0 .5rem 0;">
                                                        <b class="label">{{result.catalogNo?result.catalogNo:'N/A'}}</b><span
                                                    class="label">&nbsp{{result.releaseDate}}</span>
                                                    </span><br/>
                                            <span class="grid">
                                                    <span class="text-start col-6">
                                                        <div v-for="format of result.albumFormat" style="display:inline">
                                                            <p-tag class="product-tag ml-1" :value="format.label"></p-tag>
                                                        </div>
                                                        <span class="has-bonus-tag" v-if="result.hasBonus">
                                                            <p-tag style="background: #1B273D" class="ml-1"
                                                                   value="特典"></p-tag>
                                                        </span>
                                                    </span>
                                                    <span class="text-end col-5">
                                                        <i class="pi pi-eye"
                                                           v-tooltip.bottom="{value:'浏览', class: 'short-tooltip'}"></i>
                                                        <span class="ml-2 mr-4">{{result.visitCount}}</span>
                                                        <i class="pi pi-thumbs-up-fill"
                                                           v-tooltip.bottom="{value:'点赞', class: 'short-tooltip'}"></i>
                                                        <span class="ml-2 mr-2">{{result.likeCount}}</span>
                                                    </span>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                                <p-divider></p-divider>
                            </div>
                            <div v-if="searchResult.entityType == 2" v-for="result of searchResult.data">
                                <div class="col-12">
                                    <div class="search-item">
                                        <a class="text-center" :href="'/db/disc/'+ result.id">
                                            <img :src="result.cover"/>
                                        </a>
                                        <div class="search-item-detail">
                                            <span class="search-item-name text-truncate-1">
                                                <a :href="'/db/disc/'+ result.id">{{result.name}}</a>
                                            </span>
                                            <span class="small-font" style="margin: 0 0 .5rem 0;">
                                                <b class="label">{{result.catalogNo?result.catalogNo:'N/A'}}</b><span
                                                    class="label">&nbsp{{result.releaseDate}}</span>
                                            </span><br>
                                            <span :class="'fi fi-' + result.region.code" style="margin-left: 0.5rem"
                                                  v-tooltip.bottom="{value: result.region.nameZh, class: 'region-tooltip'}">
                                            </span>
                                            <span class="grid">
                                                <span class="text-start col-6">
                                                    <span v-for="format of result.mediaFormat" style="display:inline">
                                                        <p-tag class="product-tag ml-1" :value="format.label"></p-tag>
                                                    </span>
                                                    <span class="has-bonus-tag" v-if="result.hasBonus">
                                                        <p-tag style="background: #1B273D" class="ml-1"
                                                               value="特典"></p-tag>
                                                    </span>
                                                    <span class="limited-tag" v-if="result.limited">
                                                        <p-tag style="background: #1B273D" class="ml-1"
                                                               value="限定"></p-tag>
                                                    </span>
                                                </span>
                                                <span class="text-end col-5">
                                                    <i class="pi pi-eye"
                                                       v-tooltip.bottom="{value:'浏览', class: 'short-tooltip'}"></i>
                                                    <span class="ml-2 mr-4">{{result.visitCount}}</span>
                                                    <i class="pi pi-thumbs-up-fill"
                                                       v-tooltip.bottom="{value:'点赞', class: 'short-tooltip'}"></i>
                                                    <span class="ml-2 mr-2">{{result.likeCount}}</span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <p-divider></p-divider>
                            </div>
                            <div v-if="searchResult.entityType == 3" v-for="result of searchResult.data">
                                <div class="col-12">
                                    <div class="search-item">
                                        <a class="text-center" :href="'/db/book/'+ result.id">
                                            <img :src="result.cover"/>
                                        </a>
                                        <div class="search-item-detail">
                                                    <span class="search-item-name text-truncate-1">
                                                        <a :href="'/db/book/'+ result.id">{{result.title}}</a>
                                                    </span>
                                            <span class="small-font" style="margin: 0 0 .5rem 0;">
                                                        <b class="label">{{result.isbn13}}</b><span class="label">&nbsp{{result.publishDate}}</span>
                                                    </span><br>
                                            <span :class="'fi fi-' + result.region.code" style="margin-left: 0.5rem"
                                                  v-tooltip.bottom="{value: result.region.nameZh, class: 'region-tooltip'}"></span>
                                            &nbsp&nbsp<span class="label"
                                                            style="font-size: 7px">{{result.publisher}}</span><br>
                                            <span class="grid">
                                                    <span class="text-start col-6">
                                                        <span style="display:inline">
                                                            <p-tag class="product-tag ml-1"
                                                                   :value="result.bookType.nameZh"></p-tag>
                                                        </span>
                                                        <span class="has-bonus-tag" v-if="result.hasBonus">
                                                            <p-tag style="background: #1B273D" class="ml-1"
                                                                   value="特典"></p-tag>
                                                        </span>
                                                        <span class="limited-tag" v-if="result.limited">
                                                            <p-tag style="background: #1B273D" class="ml-1"
                                                                   value="限定"></p-tag>
                                                        </span>
                                                    </span>
                                                    <span class="text-end col-5">
                                                        <i class="pi pi-eye"
                                                           v-tooltip.bottom="{value:'浏览', class: 'short-tooltip'}"></i>
                                                        <span class="ml-2 mr-4">{{result.visitCount}}</span>
                                                        <i class="pi pi-thumbs-up-fill"
                                                           v-tooltip.bottom="{value:'点赞', class: 'short-tooltip'}"></i>
                                                        <span class="ml-2 mr-2">{{result.likeCount}}</span>
                                                    </span>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                                <p-divider></p-divider>
                            </div>
                            <div v-if="searchResult.entityType == 4" v-for="result of searchResult.data">
                                <div class="col-12">
                                    <div class="search-item">
                                        <a class="text-center" :href="'/db/merch/'+ result.id">
                                            <img :src="result.cover"/>
                                        </a>
                                        <div class="search-item-detail">
                                                    <span class="search-item-name text-truncate-1">
                                                        <a :href="'/db/merch/'+ result.id">{{result.name}}</a>
                                                    </span>
                                            <span class="grid">
                                                    <span class="text-start col-6">
                                                        <span class="small-font">
                                                            <span class="label">{{result.releaseDate}}</span>
                                                        </span>
                                                        <span :class="'fi fi-' + result.region.code"
                                                              style="margin-left: 0.5rem"
                                                              v-tooltip.bottom="{value: result.region.nameZh, class: 'region-tooltip'}">
                                                        </span>
                                                    </span>
                                                    <span class="text-end col-5">
                                                        <i class="pi pi-eye"
                                                           v-tooltip.bottom="{value:'浏览', class: 'short-tooltip'}"></i>
                                                        <span class="ml-2 mr-4">{{result.visitCount}}</span>
                                                        <i class="pi pi-thumbs-up-fill"
                                                           v-tooltip.bottom="{value:'点赞', class: 'short-tooltip'}"></i>
                                                        <span class="ml-2 mr-2">{{result.likeCount}}</span>
                                                    </span>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                                <p-divider></p-divider>
                            </div>
                            <div v-if="searchResult.entityType == 5" v-for="result of searchResult.data">
                                <div class="col-12">
                                    <div class="search-item">
                                        <a class="text-center" :href="'/db/game/'+ result.id">
                                            <img :src="result.cover"/>
                                        </a>
                                        <div class="search-item-detail">
                                                    <span class="search-item-name text-truncate-1">
                                                        <a :href="'/db/game/'+ result.id">{{result.name}}</a>
                                                    </span>
                                            <span class="small-font" style="margin: 0 0 .5rem 0;">
                                                        <span class="label">&nbsp{{result.releaseDate}}</span>
                                                    </span><br>
                                            <span :class="'fi fi-' + result.region.code" style="margin-left: 0.5rem"
                                                  v-tooltip.bottom="{value: result.region.nameZh, class: 'region-tooltip'}">
                                                    </span>

                                            <span class="grid">
                                                    <span class="text-start col-6">
                                                        <span>
                                                            <p-tag class="ml-1" :value="result.platform.nameEn"></p-tag>
                                                        </span>
                                                        <span class="has-bonus-tag" v-if="result.hasBonus">
                                                            <p-tag style="background: #1B273D" class="ml-1"
                                                                   value="特典"></p-tag>
                                                        </span>
                                                    </span>
                                                    <span class="text-end col-5">
                                                        <i class="pi pi-eye"
                                                           v-tooltip.bottom="{value:'浏览', class: 'short-tooltip'}"></i>
                                                        <span class="ml-2 mr-4">{{result.visitCount}}</span>
                                                        <i class="pi pi-thumbs-up-fill"
                                                           v-tooltip.bottom="{value:'点赞', class: 'short-tooltip'}"></i>
                                                        <span class="ml-2 mr-2">{{result.likeCount}}</span>
                                                    </span>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                                <p-divider></p-divider>
                            </div>
                            <div v-if="searchResult.entityType == 9" v-for="result of searchResult.data">
                                <div class="col-12">
                                    <div class="search-item">
                                        <a class="text-center" :href="'/db/music/'+ result.id">
                                            <img :src="result.cover"/>
                                        </a>
                                        <div class="search-item-detail">
                                            <span class="search-item-name text-truncate-1">
                                                <a :href="'/db/music/'+ result.id">{{result.name}}</a>
                                            </span>
                                            <span class="small-font" style="margin: 0 0 .5rem 0;">
                                                {{result.audioLength}}<span
                                            class="label">&nbsp<b class="label">{{result.artists}}</b></span>
                                            </span><br/>
                                            <span class="search-item-name text-truncate-1">
                                                <a :href="'/db/album/'+ result.albumId"><i>{{result.albumName}}</i></a>
                                            </span>
                                            <span class="grid">
                                                <span class="text-start col-6">
                                                    <p-tag class="product-tag ml-1" :value="result.audioType" style="display:inline"></p-tag>
                                                    &nbsp&nbsp<i class="pi pi-paperclip" v-if="result.hasFile"
                                                       v-tooltip.bottom="{value:'附件', class: 'short-tooltip'}"></i>
                                                    &nbsp&nbsp<i class="pi pi-file" v-if="result.hasLrc"
                                                       v-tooltip.bottom="{value:'歌词', class: 'short-tooltip'}"></i>
                                                </span>
                                                <span class="text-end col-5">
                                                    <i class="pi pi-eye"
                                                       v-tooltip.bottom="{value:'浏览', class: 'short-tooltip'}"></i>
                                                    <span class="ml-2 mr-4">{{result.visitCount}}</span>
                                                    <i class="pi pi-thumbs-up-fill"
                                                       v-tooltip.bottom="{value:'点赞', class: 'short-tooltip'}"></i>
                                                    <span class="ml-2 mr-2">{{result.likeCount}}</span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <p-divider></p-divider>
                            </div>
                            <p-scrolltop target="parent" :threshold="100" class="search-scrolltop"
                                         icon="pi pi-arrow-up"></p-scrolltop>
                        </p-scrollpanel>
                        <p-paginator
                                :template="{
                                    default: 'FirstPageLink PrevPageLink PageLinks NextPageLinLastPageLink LastPageLink JumpToPageDropdown'
                                    }"
                                v-model:first="searchResult.offset" :rows="searchResult.limit"
                                :total-records="searchResult.total" @page="pageChange($event)">
                        </p-paginator>
                    </div>
                    <div v-else class="text-center mt-2">
                        <img src="https://img.rakbow.com/common/icon/no-results.svg"/><br><span>暂无搜索结果</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="section1">
            <div class="demo-4 loading index_page_2">
                <div class="frame">
                    <h1 class="frame__pagetitle">总览</h1>
                    <div class="frame__header">
<!--                        <h2 class="frame__title">Background Scale Hover Effect</h2>-->
                        <nav class="frame__nav">
                            <a href="/">首页</a>
                            <a href="">article</a>
                            <a href="">github</a>
                        </nav>
                    </div>
                    <span class="frame__menu">Menu</span>
                    <div class="frame__demos">
                        <a href="#search" class="frame__demo">搜索</a>
                        <a href="#overview" class="frame__demo frame__demo--current">总览</a>
                    </div>
                </div>
                <div class="screens" aria-hidden="true">
                    <div class="screen__item" style="--bg-img:url('/img/tmp/12.jpg');">
                        <div class="screen screen--full"></div>
                        <div class="screen screen--clip screen--clip-1"></div>
                        <div class="screen screen--clip screen--clip-2"></div>
                        <div class="screen screen--clip screen--clip-3"></div>
                    </div>
                    <div class="screen__item" style="--bg-img:url('/img/tmp/13.jpg');">
                        <div class="screen screen--full"></div>
                        <div class="screen screen--clip screen--clip-1"></div>
                        <div class="screen screen--clip screen--clip-2"></div>
                        <div class="screen screen--clip screen--clip-3"></div>
                    </div>
                    <div class="screen__item" style="--bg-img:url('/img/tmp/14.jpg');">
                        <div class="screen screen--full"></div>
                        <div class="screen screen--clip screen--clip-1"></div>
                        <div class="screen screen--clip screen--clip-2"></div>
                        <div class="screen screen--clip screen--clip-3"></div>
                    </div>
                    <div class="screen__item" style="--bg-img:url('/img/tmp/15.jpg');">
                        <div class="screen screen--full"></div>
                        <div class="screen screen--clip screen--clip-1"></div>
                        <div class="screen screen--clip screen--clip-2"></div>
                        <div class="screen screen--clip screen--clip-3"></div>
                    </div>
                    <div class="screen__item" style="--bg-img:url('/img/tmp/16.jpg');">
                        <div class="screen screen--full"></div>
                        <div class="screen screen--clip screen--clip-1"></div>
                        <div class="screen screen--clip screen--clip-2"></div>
                        <div class="screen screen--clip screen--clip-3"></div>
                    </div>
                </div>
                <div class="content">
                    <nav class="menu">
					<span class="menu__item" href="#">
						<span class="menu__item-tag">Adrienne Hoareau</span>
						<a class="menu__item-link" href="/db/albums">Album</a>
					</span>
                        <span class="menu__item" href="#">
						<span class="menu__item-tag">Slyvie Payet</span>
						<a class="menu__item-link" href="/db/discs">DVD/Blu-ray</a>
					</span><br/>
                        <span class="menu__item" href="#">
						<span class="menu__item-tag">Lilou Bakame</span>
						<a class="menu__item-link"  href="/db/books">Book</a>
					</span>
                        <span class="menu__item" href="#">
						<span class="menu__item-tag">Juliette Esparon</span>
						<a class="menu__item-link" href="/db/games">Game</a>
					</span>
                        <span class="menu__item" href="#">
						<span class="menu__item-tag">Juliette Esparon</span>
						<a class="menu__item-link" href="/db/merchs">Merch</a>
					</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- 尾部 -->
    <!--    <footer class="mt-2" th:insert="~{template/footer :: site_footer}"></footer>-->
</div>
<script type="module" th:inline="javascript">

    import Navigation from "./js/index/navigation.js";
    import fullpage from '/tool/fullpage/fullpage.esm.js';
    import superplaceholder from '/tool/superplaceholder/superplaceholder.esm.js';
    import {HttpUtil} from '/js/basic/Http_Util.js';

    const {createApp, onMounted, watch, ref} = Vue;
    const Tooltip = primevue.tooltip;
    const {useToast} = primevue.usetoast;

    const App = {
        setup() {
            onMounted(() => {

                init();

                new Navigation(document.querySelector('.menu'));
                document.body.classList.remove('loading');

                fullpage('#index', {
                    anchors: ['search', 'overview'],
                    css3: true,
                    scrollingSpeed: 500, //滚动的时间
                    keyboardScrolling: false,
                    navigation: true,
                    navigationPosition: 'right',
                    navigationTooltips: ['搜索', '总览'],
                    showActiveTooltip: true,
                    slidesNavigation: true,
                    normalScrollElements: '#search_panel_top, #search_panel_result',
                });
                // fullpage_api.setAllowScrolling(false);

                superplaceholder({
                    el: document.querySelector('#globalSearch'),
                    sentences: [
                        '例: とある飛空士への誓約',
                        '例: ひぐらしのなく頃に解 SOUNDTRACK',
                        '例: ひぐらしのなく頃に 初回限定版'
                    ],
                    options: {
                        // delay between letters (in milliseconds)
                        // 各个字符显示之间的延迟时间，单位毫秒。
                        letterDelay: 100, // milliseconds
                        // delay between sentences (in milliseconds)
                        // 各个句子之间的延迟时间，单位毫秒。
                        sentenceDelay: 1000,
                        // should start on input focus. Set false to autostart
                        // 在输入框聚焦时才开始播放，设置为false会自动开始播放。
                        startOnFocus: false,
                        // loop through passed sentences
                        // 是否循环播放。
                        loop: true,
                        // Initially shuffle the passed sentences
                        // 是否打乱传入的句子。
                        shuffle: false,
                        // Show cursor or not. Shows by default
                        // 是否显示光标，默认为显示。
                        showCursor: true,
                        // String to show as cursor
                        // 光标字符串。
                        cursor: '|',
                        // // Control onFocus behaviour. Default is `superplaceholder.Actions.START`
                        // onFocusAction: superplaceholder.Actions.[NOTHING|START|STOP],
                        // // Control onBlur behaviour. Default is `superplaceholder.Actions.STOP`
                        // onBlurAction: superplaceholder.Actions.[NOTHING|START|STOP]
                    }
                });
            });

            //region index cover urls

            const indexCoverUrl = [[${indexCoverUrl}]];

            //endregion

            //region search

            const goItemDb = (url) => {
                window.location.href = url;
            }

            const searchLoading = ref(false);

            const entityAmountInfo = ref();

            const searchParams = ref({
                keyword: '',
                entityType: 0,
                offset: 0,
                limit: 10
            });
            const searchResult = ref(null);
            watch(() => {
                if (searchParams.value.keyword === '') {
                    searchResult.value = null;
                }
            });

            const search = () => {
                if (searchParams.value.keyword !== '' && !searchLoading.value) {
                    searchLoading.value = true;
                    HttpUtil.post(null, INDEX_SEARCH_URL, searchParams.value)
                        .then(res => {
                            if (res.state === 1) {
                                searchResult.value = res.data;
                            }
                            searchLoading.value = false;
                        });
                }
            };
            const pageChange = (ev) => {
                searchParams.value.offset = ev.first;
                searchParams.value.limit = ev.rows;
                search();
            };

            const getEntityAmountInfo = () => {
                HttpUtil.get(null, GET_ENTITY_AMOUNT_INFO)
                    .then(res => {
                        if (res.state === 1) {
                            entityAmountInfo.value = res.data;
                        }
                    });
            };
            //endregion
            const init = () => {
                getEntityAmountInfo();
            };

            return {
                indexCoverUrl, goItemDb,
                searchParams, searchResult, ENTITY_TYPE, entityAmountInfo, searchLoading,
                search, pageChange, entityTypeValue2Icon, entityTypeValue2Label,
                NOT_LOGIN_NAVBAR_ITEMS, LOGIN_NAVBAR_ITEMS,
            }
        },
        components: {
            "p-avatar": primevue.avatar,
            "p-inputtext": primevue.inputtext,
            "p-menubar": primevue.menubar,
            "p-dropdown": primevue.dropdown,
            "p-button": primevue.button,

            "p-tabmenu": primevue.tabmenu,
            "p-divider": primevue.divider,
            "p-scrollpanel": primevue.scrollpanel,
            "p-chip": primevue.chip,
            "p-tag": primevue.tag,
            "p-scrolltop": primevue.scrolltop,
            "p-paginator": primevue.paginator,
        }
    };

    const routes = [{path: '/db', component: App}];

    const router = VueRouter.createRouter({
        history: VueRouter.createWebHistory(),
        routes
    });

    createApp(App)
        .use(router)
        .use(primevue.toastservice)
        .use(primevue.config.default)
        .directive('tooltip', Tooltip)
        .mount("#app");
</script>
<style>

    /*#section1 {*/
    /*    text-align: center;*/
    /*}*/

    #header, #footer{
        position:fixed;
        height: 50px;
        display:block;
        width: 100%;
        background: #333;
        z-index:9;
        text-align:center;
        color: #f2f2f2;
        padding: 20px 0 0 0;
    }

    #header{
        top:0;
    }
    #footer{
        bottom:0;
    }

    .p-paginator {
        background-color: rgba(0, 0, 0, 0.3)
    }

    #fp-nav ul li a span, .fp-slidesNav ul li a span {
        background: #d7fdd4;
    }

    #fp-nav.fp-right {
        right: 70px;
    }

    .section {
        width: 100%;
        height: 100%;
        color: #fff;
    }

    #index .section:nth-child(1) {
        padding: 100px;
        background-image: url('https://img.rakbow.com/common/db_index_1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    #index .section:last-child {
        /*background-image: url('https://img.rakbow.com/common/db_index_2.jpg');*/
        /*background-repeat: no-repeat;*/
        /*background-size: cover;*/
    }

    .fp-is-overflow .fp-overflow.fp-auto-height, .fp-is-overflow .fp-overflow.fp-auto-height-responsive, .fp-is-overflow > .fp-overflow {
        overflow-y: hidden;
    }
</style>
</body>
</html>