<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>500 Error</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <!--other css -->
    <link th:href="@{/img/favicon.ico}" type="image/x-icon" rel="shortcut icon" />
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/iconfont/iconfont.css}" rel="stylesheet" type="text/css" />

    <!-- PrimeVue -->
    <link th:href="@{/css/primevue/themes/saga-blue/theme.css}" rel="stylesheet" />
    <link th:href="@{/css/primevue/primevue.min.css}" rel="stylesheet" />
    <link th:href="@{/css/primeflex/primeflex.min.css}" rel="stylesheet" />
    <link th:href="@{/css/primeicons/primeicons.css}" rel="stylesheet" />

    <!-- Vue3 -->
    <script src="https://cdn.staticfile.org/vue/3.2.41/vue.global.js"></script>
    <script th:src="@{/js/primevue/primevue.min.js}"></script>
    <script src="https://cdn.staticfile.org/vue-router/4.1.6/vue-router.global.js"></script>

    <!-- PrimeVue Components -->
    <script th:src="@{/js/primevue/components/card.min.js}"></script>
    <script th:src="@{/js/primevue/components/menubar.min.js}"></script>
    <script th:src="@{/js/primevue/components/avatar.min.js}"></script>
    <script th:src="@{/js/primevue/components/inputtext.min.js}"></script>

    <!-- Axios -->
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>

    <!-- other -->
    <script th:src="@{/js/basic/Http_Request.js}"></script>
    <script th:src="@{/js/basic/Rakbow_Web_Helper_Str.js}"></script>
    <script th:src="@{/js/basic/Data_Helper.js}"></script>
</head>
<body>
<div class="nk-container">
    <div class="main">
        <div id="app">
            <!-- 头部 -->
<!--            <header class="sticky-top mb-2" th:insert="~{header :: site_header}"></header>-->

            <div class="surface-ground px-2 py-4 md:px-6 lg:px-8 sm:px-4">
                <div class="text-900 font-bold text-2xl mb-1 text-center">系统消息</div>

                <div class="grid">
                    <div class="col-12 lg:col-6 lg:col-offset-3 sm:col-10 sm:col-offset-1">
                        <div class="p-3 h-full">
                            <p-card class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
                                <template #header>
                                    <img alt="404 NOT FOUND" src="/img/404.jpg">
                                </template>
                                <template #title :v-if="errorMessage != null && errorMessage!= ''">
                                    {{errorMessage}}
                                </template>
                                <template #footer>
                                    <p-button label="首页" class="p-button-link" @click="goIndex"></p-button>
                                    <p-button label="返回上一页" class="p-button-link" @click="goBack" style="margin-left: .5em"></p-button>
                                </template>
                            </p-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 尾部 -->
    <footer class="mt-2" th:insert="~{footer :: site_footer}"></footer>
</div>

<script type="module" th:inline="javascript">
    const {createApp, onMounted, ref} = Vue;
    const App = {
        setup() {

            const errorMessage = ref([[${errorMessage}]]);

            //region 页面header
            const domainUrl = DOMAIN_URL;

            const selectedEntity = ref();

            const entityType = ref(ENTITY_TYPE);

            const notLoginNavbarItems = ref(NOT_LOGIN_NAVBAR_ITEMS);

            const loginNavbarItems = ref(LOGIN_NAVBAR_ITEMS);
            //endregion

            //跳转首页
            const goIndex = () => {
                //跳转页面覆盖当前页面
                window.location.href = domainUrl;
            };

            //返回上一页
            const goBack = () => {
                window.history.back();
            };

            return {errorMessage, goIndex, goBack, domainUrl, selectedEntity, entityType, notLoginNavbarItems, loginNavbarItems}
        },

        components: {
            "p-card": primevue.card,
            "p-button": primevue.button,
            "p-menubar": primevue.menubar,
            "p-avatar": primevue.avatar,
            "p-inputtext": primevue.inputtext,
            "p-dropdown": primevue.dropdown,
        }
    };

    const routes = [{path: "/", component: App}];

    const router = VueRouter.createRouter({
        // history: VueRouter.createWebHashHistory(),
        history: VueRouter.createWebHistory(),
        routes
    });

    const app = createApp(App)
        .use(router)
        .use(primevue.config.default)
        .mount("#app");
</script>
<style>
    #imgbox img {
        width: 300px;
    }

    @media screen and (max-width: 640px) {
        .p-multiselect {
            width: 100%;
        }
    }
</style>
</body>
</html>