#imgbox img {
    width: 300px;
}

.p-multiselect {
    width: 16rem;
}

.custom-scrolltop {
    width: 2rem;
    height: 2rem;
    border-radius: 4px;
    background-color: var(--primary-color) !important;
}

.custom-scrolltop:hover {
    background-color: var(--primary-color);
}

.custom-scrolltop .p-scrolltop-icon {
    font-size: 1rem;
    color: var(--primary-color-text);
}

.p-paginator .p-paginator-current {
    margin-left: auto;
}

.p-progressbar {
    height: .5rem;
    background-color: #D8DADC;
}

.p-progressbar .p-progressbar-value {
    background-color: #607D8B;
}

.p-datepicker {
    min-width: 25rem;
}

.p-datepicker td {
    font-weight: 400;
}

.p-datatable.p-datatable-customers .p-datatable-header {
    padding: 1rem;
    text-align: left;
    font-size: 1rem;
}

.p-datatable.p-datatable-customers .p-paginator {
    padding: 1rem;
}

.p-datatable.p-datatable-customers .p-datatable-thead > tr > th {
    text-align: left;
}

.p-datatable.p-datatable-customers .p-datatable-tbody > tr > td {
    cursor: auto;
}

.p-datatable.p-datatable-customers .p-dropdown-label:not(.p-placeholder) {
    text-transform: uppercase;
}

@media screen and (max-width: 640px) {
    .p-multiselect {
        width: 100%;
    }
}

/*.sizes .p-inputtext {*/
/*    display: block;*/
/*    margin-bottom: .5rem;*/
/*}*/

/*.sizes:last-child {*/
/*    margin-bottom: 0;*/
/*}*/

/*.field * {*/
/*    display: block;*/
/*}*/