/* rakbow侧边栏panel标题icon */

body {
    background-color: #001122;
    min-width: 1250px;
}

a {
    color: #ceffff;
}

.p-tooltip-text {
    width: 16rem;
}

.has-bonus-tag .p-tag {
    border: green solid 1px;
}

.has-bonus-tag .p-tag-value {
    opacity: 1;
    color: green;
}

.limited-tag .p-tag {
    border: orange solid 1px;
}

.limited-tag .p-tag-value {
    opacity: 1;
    color: orange;
}

.p-chip {
    margin: 0.5rem 0.5rem 0 0;
}

.p-chip .p-chip-text {
    font-size: 9px;
    margin: 0;
}

.block-img {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%,100%;
    border-radius: 10px;
}

.price-text {
    color: #f44336;
    font-weight: bold;
}

.side-panel-header i {
    margin-right: 1rem;
    font-size: 1.5rem;
    vertical-align: middle;
    line-height: inherit;
}
/* rakbow侧边栏panel标题 */
.side-panel-header span {
    vertical-align: middle;
    line-height: inherit;
    font-size: 1.2rem;
}

.p-panel .p-panel-header {
    /* border: 1px solid #dee2e6; */
    padding: 0.5rem;
    background: #1B273D;
    color: #beb993;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.p-panel .p-panel-content {
    padding-left: 10px;
    padding-right: 10px;
    background: #2f364f;
}

.p-dataview .p-dataview-header {
    padding: 5px;
    background-color: #1B273D;
}

.p-dataview .p-dataview-header .index-dataview-title {
    text-align: center;
}

.p-dataview .p-dataview-header .index-dataview-title i {
    padding: 0;
    margin: 0;
    font-size: 2.5rem;
    color: #beb993;
}

.p-dataview .p-dataview-header .index-dataview-title h2 {
    padding: 0;
    margin: 0 0.5rem;
    color: #beb993;
}

.p-dataview .p-dataview-content {
    /*background-color: #2a323d;*/
    background-color: #001122;
}




.index-item-grid-card {
    margin: .5rem;
    border: 1px solid var(--surface-border);
}

.p-tag {
    padding-top: 0;
    padding-bottom: 0;
}

.index-item-grid-card .p-card .p-card-body {
    background-color: #2F364F;
    /*border: red solid 1px;*/
    margin: 0;
    padding: 0.25rem;
    border-radius: 10px;
}

.index-item-grid-card .p-card .p-card-title {
    font-size: 14px;
    font-weight: bold;
    padding: 0.25rem;
    margin: 0;
}

.index-item-grid-card .p-card .p-card-title a:hover {
    text-decoration: none;
}

.index-item-grid-card .p-card .p-card-title span {
    min-height: 39px;
}

.index-item-grid-card .p-card .p-card-subtitle {
    padding: 0.25rem;
    margin: 0;
}

.has-bonus-label {
    font-size: 1.2rem;
    color: #ffc107;
}

.index-item-grid-card .p-card .p-card-content {
    padding: 0.25rem;
    margin: 0;
}

.index-item-grid-card .p-card .p-card-footer {
    padding: 0.25rem;
    margin: 0;
}

.index-tabview .p-tabview-panels {
    background-color: #001122;
}

.index-tabview .p-tabview-selected {
    background-color: #2f364f;
}

.index-tabview .p-tabview-nav i {
    border-width: 2px;
    vertical-align: middle;
    font-size: 2rem;
    color: #788990;
}

.p-tabview .p-tabview-selected i {
    border-width: 2px;
    vertical-align: middle;
    font-size: 2rem;
    color: #beb993;
}

.index-tabview .p-tabview-nav h4 {
    padding: 0;
    margin: 0 0.5rem;
    color: #788990;
    font-style: italic;
}

.p-tabview .p-tabview-selected h4 {
    padding: 0;
    margin: 0 0.5rem;
    color: #788990;
    font-style: italic;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    padding: 0.25rem 1rem;
}












    .accordion-custom i {
        vertical-align: middle;
    }

    .accordion-custom span {
        vertical-align: middle;
        margin: 0 .5rem;
    }

    .p-accordion p {
        line-height: 1.5;
        margin: 0;
    }

    .product-category-icon {
        vertical-align: middle;
        margin-right: .5rem;
    }

    .product-category {
        font-weight: 600;
        vertical-align: middle;
    }

    .index-list-item-name {
        font-size: 1rem;
        font-weight: 700;
    }

.index-list-item-name a:hover {
    text-decoration: none;
}

    .product-description {
        margin: 0 0 1rem 0;
    }

    .index-list-item {
        display: flex;
        align-items: center;
        padding: 7px;
        width: 100%;
    }

    .index-list-item img {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        margin-right: 2rem;
        /*position: relative;*/
        /*top: 50%;*/
        /*left: 50%;*/
        /*transform: translate(-50%, -50%);*/
    }

    .index-list-item .index-list-item-detail {
        flex: 1 1 0;
    }

    .index-list-item .p-rating {
        margin: 0 0 .5rem 0;
    }

    .index-list-item .product-price {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: .5rem;
        align-self: flex-end;
    }

    .index-list-item .product-list-action {
        display: flex;
        flex-direction: column;
    }

    .index-list-item .p-button {
        margin-bottom: .5rem;
    }

    b.rbot {
        background-position: 0 -8px;
    }

    .releaseDate {
        bottom: 0;
        right: 0;
        padding: 5px;
        background-color: rgba(0, 0, 0, .47);
    }

    .single-card {
        position: relative;
        width: 200px;
        height: 330px;
        margin: 5px;
        background-color: #2F364F;
        /*padding: 24px 0px 0px 16px;*/
    }

    .block-card {
        position: relative;
        width: 160px;
        height: 160px;
        margin: 5px;
        background-color: #2F364F;
    }

    .catalog {
        align-items: flex-start;
        justify-content: space-around;
        background: #795548 !important;
        color: #ffffff;
    }

    .list-inline {
        padding-left: 0;
        margin-top: 0px;
        margin-bottom: 0px;
        list-style: none
    }

    .list-inline-item {
        margin-top: 0px;
        margin-bottom: 0px;
        display: inline-block
    }