.rakbow-product-category-1 {
    color: #ceffff;
}
.rakbow-product-category-2 {
    color: #9acd32;
}
.rakbow-product-category-3 {
    color: #9acd32;
}
.rakbow-product-category-4 {
    color: #ffffff;
}
.rakbow-product-category-5 {
    color: #ffffff;
}
.rakbow-product-category-6 {
    color: #ffffff;
}
.rakbow-product-category-7 {
    color: #0fffff;
}
.rakbow-product-category-8 {
    color: #0fffff;
}