<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Music Detail</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>

    <!-- bootstrap -->
    <link rel="stylesheet" th:href="@{/css/bootstrap/myBootstrap.min.css}">
    <script th:src="@{/tool/bootstrap/bootstrap.min.js}"></script>

    <!--other css -->
    <link href="https://img.rakbow.com/common/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
    <link th:href="@{/css/global.css}" rel="stylesheet"/>
    <link th:href="@{/css/iconfont/iconfont.css}" rel="stylesheet"/>

    <!-- PrimeVue -->
    <link th:href="@{/css/primevue/themes/bootstrap4-dark-blue/theme.css}" rel="stylesheet"/>
    <link th:href="@{/css/primevue/primevue.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/primeflex/primeflex.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/primeicons/primeicons.css}" rel="stylesheet"/>

    <!-- Vue3 -->
    <script th:src="@{/js/vue/vue.global.js}"></script>
    <script th:src="@{/js/primevue/primevue.min.js}"></script>
    <script th:src="@{/js/vue/vue-router.global.js}"></script>

    <!-- PrimeVue Components -->
    <script th:src="@{/js/primevue/components/panel.min.js}"></script>
    <script th:src="@{/js/primevue/components/divider.min.js}"></script>
    <script th:src="@{/js/primevue/components/dialog.min.js}"></script>
    <script th:src="@{/js/primevue/components/fieldset.min.js}"></script>
    <script th:src="@{/js/primevue/components/fieldset.min.js}"></script>
    <script th:src="@{/js/primevue/components/chips.min.js}"></script>
    <script th:src="@{/js/primevue/components/inputtext.min.js}"></script>
    <script th:src="@{/js/primevue/components/menubar.min.js}"></script>
    <script th:src="@{/js/primevue/components/avatar.min.js}"></script>
    <script th:src="@{/js/primevue/components/toast.min.js}"></script>
    <script th:src="@{/js/primevue/components/toastservice.min.js}"></script>
    <script th:src="@{/js/primevue/components/textarea.min.js}"></script>
    <script th:src="@{/js/primevue/components/inputnumber.min.js}"></script>
    <script th:src="@{/js/primevue/components/splitbutton.min.js}"></script>
    <script th:src="@{/js/primevue/components/datatable.min.js}"></script>
    <script th:src="@{/js/primevue/components/column.min.js}"></script>
    <script th:src="@{/js/primevue/components/contextmenu.min.js}"></script>
    <script th:src="@{/js/primevue/components/card.min.js}"></script>
    <script th:src="@{/js/primevue/components/inplace.min.js}"></script>

    <script th:src="@{/js/primevue/components/fileupload.min.js}"></script>
    <script th:src="@{/js/primevue/components/blockui.min.js}"></script>
    <script th:src="@{/js/primevue/components/progressbar.min.js}"></script>

    <!-- Axios -->
    <script th:src="@{/tool/axios/axios.js}"></script>

    <!-- Jquery -->
    <script th:src="@{/js/jquery.js}"></script>

    <!-- high light js -->
    <link th:href="@{/tool/highlight/default.min.css}" rel="stylesheet">
    <script th:src="@{/tool/highlight/highlight.min.js}"></script>

    <!-- md-editor-v3 -->
    <script th:src="@{/tool/md-editor-v3/md-editor-v3.umd.js}"></script>
    <link th:href="@{/tool/md-editor-v3/style.css}" rel="stylesheet">

    <!-- marked -->
    <script th:src="@{/js/marked.min.js}"></script>
    <link th:href="@{/css/github-markdown/github-markdown.css}" rel="stylesheet"/>

    <!-- aPlayer -->
    <link th:href="@{/tool/aplayer/APlayer.min.css}" rel="stylesheet">
    <script th:src="@{/tool/aplayer/APlayer.min.js}"></script>

    <!-- basic js -->
    <script th:src="@{/js/basic/Data_Helper.js}"></script>
    <script th:src="@{/js/basic/Http_Request.js}"></script>
    <script th:src="@{/js/basic/Rakbow_Web_Helper_Str.js}"></script>
    <script th:src="@{/js/basic/Rakbow_Web_Exception_Str_CN.js}"></script>

    <link th:href="@{/css/item-detail.css}" rel="stylesheet"/>
</head>
<body>
<div id="app">
    <!-- 头部 -->
    <header class="sticky-top mb-2" th:insert="~{template/header :: site_header}"></header>

    <div id="main" class="grid mt-2">
        <p-toast></p-toast>
        <div class="detail-card col-8 lg:col-offset-1 md:col-offset-1">
            <p-card>
                <template #title>
                    <div class="grid detail-item-header-title">
                        <h4 class="col-10">
                            <b class="detail-item-title">
                                <i class="pi iconfont icon-music" style="font-size: 1.5rem"></i>
                                {{music.name}}
                            </b>
                        </h4>
                        <div class="col-2 text-end p-0 m-0" th:if="${loginUser != null}">
                            <p-splitbutton :model="edits" class="p-button-sm bg-primary"
                                           th:if="${loginUser.type == 1}">
                                <p-button @click="openEditDialog">
                                    <i class="pi pi-cog"></i>
                                </p-button>
                            </p-splitbutton>
                        </div>
                    </div>
                </template>
                <template #subtitle>
                    <h5 v-if="music.nameEn != ''" class="detail-item-subtitle"><small
                            class="ml-4">{{music.nameEn}}</small></h5>
                    <h5 v-else><small></small></h5>
                </template>
                <template #content>
                    <div class="grid">
                        <div class="col-4" style="width: 90px">
                            <div class="music-detail-cover">
                                <img :src="music.cover" alt="cover"/>
                            </div>
                        </div>
                        <div class="col detail-item-header-card">
                            <p-card>
                                <template #content>
                                    <table class="table-borderless table-sm ml-2">
                                        <tbody class="detail-item-header-table">
                                        <tr>
                                            <td><strong>音频长度</strong></td>
                                            <td>
                                                {{music.audioLength}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>音频类型</strong></td>
                                            <td>
                                                {{music.audioType.label}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>碟片序号</strong></td>
                                            <td>
                                                {{music.discSerial}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>曲目序号</strong></td>
                                            <td>
                                                {{music.trackSerial}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </template>
                            </p-card>
                        </div>
                    </div>
                    <div class="detail-item-field">
<!--                        <p-fieldset :toggleable="true" v-if="audioInfo != null">-->
                        <p-fieldset :toggleable="true">
                            <template #legend>
                                <i class="pi icon-music"></i>
                                <b>在线播放</b>
                            </template>
                            <p-button v-if="audioInfo!=null" @click="playerOption.fixed=true, createAplayer()" class="mr-2"
                                      v-tooltip.bottom="'切换播放器至底部'">
                                <i class="pi pi-arrow-circle-down"></i>
                            </p-button>
                            <div id="aplayer"></div>
                        </p-fieldset>
                        <p-fieldset :toggleable="true">
                            <template #legend>
                                <i class="pi pi-users"></i>
                                <b>音乐创作</b>
                            </template>
                            <div class="grid ml-4" v-if="music.artists.length != 0">
                                <table class="table-borderless table-sm">
                                    <tbody class="detail-item-artists-table">
                                    <tr v-for="artist in music.artists">
                                        <td width="120px"><strong>{{artist.pos}}</strong></td>
                                        <td>
                                            {{artist.name.join(", ")}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div v-else>
                                <span class="emptyInfo"><em>暂无音乐创作相关信息</em></span>
                            </div>
                        </p-fieldset>
                        <p-fieldset :toggleable="true" v-if="music.description">
                            <template #legend>
                                <i class="pi iconfont icon-miaoshu"></i>
                                <b>描述</b>
                            </template>
                            <article id="description" class="markdown-body" style="width: 100%;"></article>
                        </p-fieldset>
                        <p-fieldset :toggleable="true">
                            <template #legend>
                                <i class="pi iconfont icon-music"></i>
                                <b>歌词</b>
                            </template>
                            <article id="lyrics" class="markdown-body" style="width: 100%;"></article>
                        </p-fieldset>
                    </div>
                </template>
            </p-card>
        </div>
        <div class="col-2" style="min-width: 300px">
            <p-panel>
                <template #header>
                    <span class="text-start side-panel-header">
                        <i class="pi pi-th-large"></i><span><strong>相关信息</strong></span>
                    </span>
                </template>
                <p-divider align="center">
                    <i class="pi iconfont icon-24gl-musicAlbum2 mr-1" style="font-size: 1.5rem"></i>
                    <span><b>所属专辑</b></span>
                </p-divider>
                <div class="grid">
                    <span class="small_font">
                        <div class="info_bit_small small_font grid related-album">
                            <div class="sidebar-panel-image-small-div album_info_bit_thumb mt-2">
                                <a :href="'/db/album/'+ relatedAlbum.id">
                                    <img class="sidebar-panel-image-small" :src="relatedAlbum.cover.blackUrl">
                                </a>
                            </div>
                            <div class="col p-0" style="height: 80px">
                                <ul class="info_bit_small_other">
                                    <li>
                                        <a class="small_font" :href="'/db/album/'+ relatedAlbum.id ">
                                            <span class="text-truncate-2 mr-2">
                                                {{relatedAlbum.name}}
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <span class="small_font col-6 related-item-catalog">
                                            {{relatedAlbum.catalogNo ? relatedAlbum.catalogNo : 'N/A'}}
                                        </span>
                                        <span class="small_font col-6 related-item-date">
                                            {{relatedAlbum.releaseDate}}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </span>
                </div>
                <span class="ml-3">所属该专辑的第<b>{{music.discSerial}}</b>
                                        张碟片，第<b>{{music.trackSerial}}</b>首曲目</span>
                <p-divider align="center">
                    <i class="pi iconfont icon-music mr-1" style="font-size: 1.5rem"></i>
                    <span><b>相关曲目</b></span>
                </p-divider>
                <table class="table table-sm table-hover">
                    <tbody class="detail-item-track-table">
                    <tr v-for="music in relatedMusics">
                        <th>{{music.trackSerial}}</th>
                        <td class="text-truncate-1" style="width: 200px">
                            <a :href="'/db/music/' + music.id">
                                {{music.name}}
                            </a>
                        </td>
                        <td class="text-end" style="color: #b0c4de">
                            <span v-if="music.audioLength == '00:00'">
                                N/A
                            </span>
                            <span v-else>
                                {{music.audioLength}}
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </p-panel>
            <br>
            <div th:insert="~{template/common-template :: page_info_card}"></div>
        </div>
    </div>
    <p-dialog v-model:visible="displayEditDialog" :style="{width: '500px'}" header="编辑基础信息" :modal="true"
              class="p-fluid">
        <div class="formgrid grid">
            <div class="field col">
                <label>曲名<span style="color: red">*</span></label>
                <p-inputtext v-model.trim="musicEdit.name"></p-inputtext>
            </div>
            <div class="field col">
                <label>曲名(英语)</label>
                <p-inputtext v-model.trim="musicEdit.nameEn"></p-inputtext>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label>音频类型<span style="color: red">*</span></label>
                <p-dropdown v-model="musicEdit.audioType" :options="audioTypeSet"
                            option-label="label" option-value="value">
                </p-dropdown>
            </div>
            <div class="field col">
                <label>音频长度<span style="color: red">*</span></label>
                <p-inputtext v-model.trim="musicEdit.audioLength"
                             placeholder="00:00"></p-inputtext>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label>碟片序号<span style="color: red">*</span></label>
                <p-inputnumber v-model="musicEdit.discSerial"
                               :disabled="true"></p-inputnumber>
            </div>
            <div class="field col">
                <label>曲目序号<span style="color: red">*</span></label>
                <p-inputtext v-model="musicEdit.trackSerial" :disabled="true"></p-inputtext>
            </div>
        </div>
        <div class="field">
            <label>备注</label>
            <p-textarea v-model.trim="musicEdit.remark" rows="3" cols="20" :auto-resize="true"></p-textarea>
        </div>
        <template #footer>
            <p-button label="取消" icon="pi pi-times" class="p-button-text"
                      @click="closeEditDialog"></p-button>
            <p-button label="保存" icon="pi pi-check" class="p-button-text"
                      @click="submitEditMusic"></p-button>
        </template>
    </p-dialog>
    <p-dialog v-model:visible="displayFileEditDialog" header="文件管理"
              :style="{width: '800px'}" :modal="true">
        <p-blockui :blocked="blockedPanel">
            <p-panel>
                <div class="grid">
                    <div class="col-6 text-start">
                        <p-fileupload
                                :disabled="music.uploadDisabled"
                                mode="basic"
                                :custom-upload="true"
                                :auto="true"
                                choose-label="上传文件"
                                :max-file-size="20000000" :preview-width="100"
                                invalid-file-size-message="{0}大小已超过{1}"
                                @uploader="onUpload"
                                @select="selectFile">
                        </p-fileupload>
                    </div>
                    <div class="col-6 text-end" v-if="!music.uploadDisabled">
                        <p-button class="ml-2 p-button-text" icon="pi pi-trash"
                                  label="清空所选" @click="clearUploadedFile"></p-button>
                    </div>
                    <p-divider></p-divider>
                    <div class="col-12" v-if="music.uploadDisabled">
                        <div align="center">
                            <span class="emptyInfo">音频文件和歌词文件已上传。如需更新，请先删除文件。</span>
                        </div>
                    </div>
                    <div class="col-12" v-else>
                        <div v-if=" fileHtml == '' " align="center">
                            <span class="emptyInfo">还未选择文件</span>
                        </div>
                        <div>
                            <section>
                                <div id="fileBox" v-html="fileHtml"></div>
                            </section>
                        </div>
                    </div>
                </div>
            </p-panel>
            <p-panel>
                <template #header>
                    <i class="pi pi-pencil mr-2" style="font-size: 2rem"></i>
                    <b>编辑</b>
                </template>
                <div v-if="music.files.length != 0">
                    <p-datatable :value="music.files" class="p-datatable-sm" striped-rows
                                 :resizable-columns="true" column-resize-mode="expand"
                                 v-model:selection="selectedFiles">
                        <template #header>
                            <p-button icon="pi pi-trash" class="p-button-danger"
                                      @click="confirmDeleteSelectedFile"></p-button>
                        </template>
                        <p-column selection-mode="multiple" header-style="width: 4%"></p-column>
<!--                        <p-column field="url" header="URL" header-style="width: 10%">-->
<!--                            <template #body="slotProps">-->
<!--                                {{slotProps.data.url.substr(22)}}-->
<!--                            </template>-->
<!--                        </p-column>-->
                        <p-column field="name" header="文件名" header-style="width: 10%"></p-column>
                        <p-column field="type" header="文件类型" header-style="width: 8%">
                            <template #body="slotProps">
                                {{slotProps.data.type}}
                            </template>
                        </p-column>
                        <p-column field="size" header="文件大小" header-style="width: 15%">
                            <template #body="slotProps">
                                {{(slotProps.data.size/1024).toFixed(2)}}KB
                            </template>
                        </p-column>
                        <p-column field="uploadTime" header="上传时间" header-style="width: 10%"></p-column>
                        <p-column field="uploadUser" header="上传用户" header-style="width: 10%"></p-column>
                    </p-datatable>
                </div>
                <div v-else>
                    <span class="emptyInfo"><em>暂无文件</em></span>
                </div>
            </p-panel>
        </p-blockui>
        <template #footer>
            <p-button icon="pi pi-times" label="取消" @click="closeFileEditDialog"
                      class="p-button-text" :disabled="blockedPanel"></p-button>
            <p-button icon="pi pi-save" label="提交更新" @click="uploadFile" :disabled="blockedPanel"></p-button>
        </template>
    </p-dialog>
    <p-dialog v-model:visible="deleteFileDialog" header="删除文件"
              :breakpoints="{'960px': '50vw', '640px': '70vw'}" :style="{width: '50vw'}" :modal="true">
        <div class="confirmation-content">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span v-if="album">确定删除所选的文件？</span>
        </div>
        <template #footer>
            <p-button label="取消" icon="pi pi-times" class="p-button-text"
                      @click="cancelDeleteSelectedFile"></p-button>
            <p-button label="确认删除" icon="pi pi-check" class="p-button-text"
                      @click="deleteFile"></p-button>
        </template>
    </p-dialog>
    <p-dialog v-model:visible="displayArtistEditDialog" :style="{width: '800px'}" header="编辑创作"
              :modal="true">
        <p-panel>
            <template #header>
                <i class="pi pi-user-plus mr-2" style="font-size: 2rem"></i>
                <b>新增</b>
            </template>
            <div class="grid">
                <div class="col-3">
                    <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <i class="pi pi-tag"></i>
                                    </span>
                        <p-inputtext v-model="artist.pos" placeholder="职位名称"></p-inputtext>
                    </div>
                </div>
                <div class="col-7">
                    <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <i class="pi pi-users"></i>
                                    </span>
                        <p-chips v-model="artist.name" placeholder="人员信息" separator=","></p-chips>
                    </div>
                </div>
                <div class="col-2">
                    <p-button label="新增" icon="pi pi-save"
                              @click="addArtist"></p-button>
                </div>
            </div>
        </p-panel>
        <p-panel>
            <template #header>
                <i class="pi pi-user-edit mr-2" style="font-size: 2rem"></i>
                <b>编辑</b>
            </template>
            <div v-if="music.artists.length != 0">
                <p-datatable dataKey="id" :value="music.artists" responsive-layout="scroll"
                             class="p-datatable-sm" striped-rows @row-reorder="onRowReorder"
                             context-menu v-model:context-menu-selection="selectedArtist"
                             @row-contextmenu="artistRowMenu" edit-mode="row"
                             v-model:editing-rows="editingRows" @row-edit-save="onRowEditSave">
                    <p-column :row-reorder="true"></p-column>
                    <p-column field="pos" header="职位">
                        <template #editor="{ data, field }">
                            <p-inputtext v-model="data[field]" autofocus></p-inputtext>
                        </template>
                    </p-column>
                    <p-column field="name" header="人员">
                        <template #body="slotProps">
                            {{slotProps.data.name.join(" / ")}}
                        </template>
                        <template #editor="{ data, field }">
                            <p-chips v-model="data[field]"></p-chips>
                        </template>
                    </p-column>
                    <p-column :row-editor="true" style="width:10%; min-width:8rem"
                              bodyStyle="text-align:center"></p-column>
                </p-datatable>
                <p-contextmenu :model="menuModel" ref="cm"></p-contextmenu>
            </div>
            <div v-else>
                <span class="emptyInfo">暂无创作人员相关信息</span>
            </div>
        </p-panel>
        <template #footer>
            <p-button label="清空" icon="pi pi-trash" class="p-button-danger mr-4"
                      @click="clearArtists"></p-button>
            <p-button label="取消" icon="pi pi-times" class="mr-4"
                      @click="cancelArtistEdit"></p-button>
            <p-button label="更新" icon="pi pi-save" class="p-button-success mr-4"
                      @click="submitArtist"></p-button>
        </template>
    </p-dialog>
    <p-dialog v-model:visible="displayDescriptionDialog" header="编辑描述信息"
              :breakpoints="{'960px': '75vw', '640px': '90vw'}" :style="{width: '80vw'}" :modal="true">
        <!--                    <div id="md-editor-v3">-->
        <md-editor-v3 v-model="descriptionMd" preview-theme="github">
        </md-editor-v3>
        <!--                    </div>-->
        <template #footer>
            <p-button label="取消" icon="pi pi-times" @click="closeDescriptionEditDialog"
                      class="p-button-text">
            </p-button>
            <p-button label="保存" icon="pi pi-save" @click="submitDescription" autofocus></p-button>
        </template>
    </p-dialog>
    <p-dialog v-model:visible="displayLyricsDialog" header="编辑歌词文本"
              :breakpoints="{'960px': '75vw', '640px': '90vw'}" :style="{width: '80vw'}" :modal="true">
        <md-editor-v3 v-model="lyricsMd" preview-theme="github"></md-editor-v3>
        <template #footer>
            <p-button label="取消" icon="pi pi-times" @click="closeLyricsEditDialog" class="p-button-text">
            </p-button>
            <p-button label="保存" icon="pi pi-save" @click="submitLyrics" autofocus></p-button>
        </template>
    </p-dialog>
    <!-- 尾部 -->
    <footer class="mt-2" th:insert="~{template/footer :: site_footer}"></footer>
</div>
<script type="module" th:inline="javascript">

    const {createApp, onMounted, ref} = Vue;
    const Tooltip = primevue.tooltip;
    const {useToast} = primevue.usetoast;

    const App = {
        setup() {
            onMounted(() => {
                init();
                $(window).resize(function () {
                    $("#main").attr("style", "min-height:" + ($(window).height() - 350) + 'px');
                });
            })

            const playerOption = ref({
                fixed: false,
            });
            const createAplayer = () => {

                if (audioInfo.value !== null) {
                    const ap = new APlayer({
                        container: document.getElementById('aplayer'),
                        volume: 0.5,
                        lrcType: 3,
                        fixed: playerOption.value.fixed,
                        audio: [audioInfo.value]
                    });
                }else {
                    //<![CDATA[
                    document.getElementById('aplayer').innerHTML = "<span class='emptyInfo'>暂无音频文件</span>";
                    //]]>
                }
            }

            //region ------基础------
            const music = ref([[${music}]]);
            const audioInfo = ref([[${audioInfo}]]);
            const pageInfo = ref([[${pageInfo}]]);
            const relatedAlbum = ref([[${relatedAlbum}]]);
            const toast = useToast();
            const audioTypeSet = ref([[${audioTypeSet}]]);
            const relatedMusics = ref([[${relatedMusics}]]);
            const edits = ref([
                {
                    label: '创作人员',
                    icon: 'pi pi-users',
                    command: () => {
                        openArtistEditDialog();
                    }
                },
                {
                    label: '描述信息',
                    icon: 'pi iconfont icon-miaoshu',
                    command: () => {
                        openDescriptionEditDialog();
                    }
                },
                {
                    label: '编辑歌词',
                    icon: 'pi iconfont icon-music',
                    command: () => {
                        openLyricsEditDialog();
                    }
                },
                {
                    label: '文件管理',
                    icon: 'pi pi-file',
                    command: () => {
                        openFileEditDialog();
                    }
                },
            ]);
            //endregion

            //region ------上传文件------
            const deleteFileDialog = ref(false);
            const selectedFiles = ref([]);
            const confirmDeleteSelectedFile = () => {
                deleteFileDialog.value = true;
            };
            const cancelDeleteSelectedFile = () => {
                selectedFiles.value = [];
                deleteFileDialog.value = false;
            };
            const fileHtml = ref("");
            const blockedPanel = ref(false);
            const fileInfo = ref({
                file: null,
                name: '',
                size: 0,
                type: ''
            });
            const fileInfos = ref([]);
            const displayFileEditDialog = ref(false);
            const openFileEditDialog = () => {
                axiosGetRequest(CHECK_USER_AUTHORITY_URL, null)
                    .then(res => {
                        if (res.state === 0) {
                            toast.add({severity: 'error', summary: 'Error', detail: res.message, life: 3000});
                        } else {
                            fileInfo.value = {};
                            displayFileEditDialog.value = true;
                        }
                    })
            };
            const showFile = () => {
                fileHtml.value = "";
                //<![CDATA[
                fileHtml.value += "<div class='grid'>";
                for (const file of fileInfos.value) {
                    fileHtml.value += '<div class="col-12">';
                    fileHtml.value += '<p>文件名: ' + file.name + '</p>';
                    fileHtml.value += '<p>文件大小: ' + (file.size / 1024).toFixed(2) + 'KB</p>';
                    fileHtml.value += '<p>文件类型: ' + file.type + '</p>';
                    fileHtml.value += '</div>';
                }
                fileHtml.value += "</div>";
                //]]>
                document.getElementById("fileBox").innerHTML = fileHtml;
            };
            const closeFileEditDialog = () => {
                fileInfo.value = {};
                displayFileEditDialog.value = false;
            };
            const onUpload = (ev) => {
                toast.add({severity: 'info', summary: 'Success', detail: FILE_SELECTED_INFO, life: 3000});
            };
            const clearUploadedFile = () => {
                fileInfos.value = [];
                document.getElementById("fileBox").innerHTML = "";
            };
            const selectFile = (ev) => {
                fileInfo.value.file = ev.files[0];
                if (ev.files[0].type === 'audio/mpeg') {
                    fileInfo.value.type = ev.files[0].type;
                    fileInfo.value.name = ev.files[0].name;
                    fileInfo.value.size = ev.files[0].size;
                }
                if (ev.files[0].name.substr(ev.files[0].name.lastIndexOf('.') + 1) === 'lrc') {
                    fileInfo.value.type = 'text/lrc';
                    fileInfo.value.name = ev.files[0].name;
                    fileInfo.value.size = ev.files[0].size;
                }
                fileInfos.value.push(fileInfo.value);
                fileInfo.value = {};
                showFile();
            };
            const uploadFile = () => {
                blockedPanel.value = true;
                const formData = new FormData();
                for (const file of fileInfos.value) {
                    formData.append("files", file.file);
                }
                formData.append("id", music.value.id);
                formData.append("fileInfos", JSON.stringify(fileInfos.value));
                axiosRequest(UPLOAD_MUSIC_FILE_URL, formData)
                    .then(res => {
                        if (res.state === 1) {
                            blockedPanel.value = false;
                            closeFileEditDialog();
                            location.reload(true);
                        } else {
                            blockedPanel.value = false;
                            toast.add({severity: 'error', summary: 'Error', detail: res.message, life: 3000});
                        }
                    }).catch(err => {
                    console.error(err);
                });
            };
            const deleteFile = () => {
                let json = {
                    id: music.value.id,
                    files: selectedFiles.value
                };
                axiosPostRequest(DELETE_MUSIC_FILE_URL, json)
                    .then(res => {
                        if (res.state === 1) {
                            toast.add({severity: 'success', summary: 'Success', detail: res.message, life: 3000});
                            deleteFileDialog.value = false;
                            closeFileEditDialog();
                            selectedFiles.value = [];
                            location.reload(true);
                        } else {
                            toast.add({severity: 'error', summary: 'Error', detail: res.message, life: 3000});
                        }
                    }).catch(err => {
                    console.error(err);
                });
            };
            //endregion

            //region ------页面header------
            const domainUrl = DOMAIN_URL;
            const selectedEntity = ref();
            const entityType = ref(ENTITY_TYPE);
            const notLoginNavbarItems = ref(NOT_LOGIN_NAVBAR_ITEMS);
            const loginNavbarItems = ref(LOGIN_NAVBAR_ITEMS);
            //endregion

            //region ------编辑music信息------
            const musicEdit = ref({});
            const displayEditDialog = ref(false);

            //打开编辑数据面板
            const openEditDialog = () => {
                axiosGetRequest(CHECK_USER_AUTHORITY_URL, null)
                    .then(res => {
                        if (res.state === 0) {
                            toast.add({severity: 'error', summary: 'Error', detail: res.message, life: 3000});
                        } else {
                            let dataTmp = JSON.parse(JSON.stringify(music.value));
                            musicEdit.value = dataTmp;
                            musicEdit.value.audioType = dataTmp.audioType.value;
                            displayEditDialog.value = true;
                        }
                    })
            };

            //关闭编辑基础信息面板
            const closeEditDialog = () => {
                displayEditDialog.value = false;
                musicEdit.value = {};
            };

            //保存编辑好的基础信息
            const submitEditMusic = () => {
                axiosPostRequest(UPDATE_MUSIC_URL, musicEdit.value)
                    .then(res => {
                        if (res.state === 1) {
                            musicEdit.value = {};
                            toast.add({
                                severity: 'success',
                                summary: 'Successful',
                                detail: res.message,
                                life: 3000
                            });
                            closeEditDialog();
                            location.reload(true);
                        } else {
                            toast.add({severity: 'error', summary: 'Error', detail: res.message, life: 3000});
                        }
                    })
                    .catch(error => {
                        console.error(error);
                    });
            };
            //endregion

            //region ------artists相关组件------
            const cm = ref();
            const selectedArtist = ref();
            const artist = ref({});
            const artists = ref([]);
            const displayArtistEditDialog = ref(false);
            const menuModel = ref([
                {label: '删除', icon: 'pi pi-fw pi-user-minus', command: () => deleteArtist(selectedArtist)}
            ]);
            const artistRowMenu = (ev) => {
                cm.value.show(ev.originalEvent);
            };
            const deleteArtist = (artist) => {
                music.value.artists = music.value.artists.filter((a) => a.pos !== artist.value.pos);
                toast.add({severity: 'error', summary: '已删除', detail: artist.pos, life: 3000});
                selectedArtist.value = null;
            };
            const editingRows = ref([]);
            const onRowEditSave = (ev) => {
                let {newData, index} = ev;

                music.value.artists[index] = newData;
            };

            const openArtistEditDialog = () => {
                axiosGetRequest(CHECK_USER_AUTHORITY_URL, null)
                    .then(res => {
                        if (res.state === 0) {
                            toast.add({severity: 'error', summary: 'Error', detail: res.message, life: 3000});
                        } else {
                            artist.value = {};
                            displayArtistEditDialog.value = true;
                        }
                    })
            };
            const clearArtists = () => {
                music.value.artists = [];
            };
            const addArtist = () => {
                music.value.artists.push(artist.value);
                artist.value = {};
            }
            const cancelArtistEdit = () => {
                artist.value = {};
                displayArtistEditDialog.value = false;
            };
            const submitArtist = () => {
                let json = {
                    id: music.value.id,
                    artists: music.value.artists
                }
                axiosPostRequest(UPDATE_MUSIC_ARTISTS_URL, json)
                    .then(res => {
                        if (res.state === 1) {
                            toast.add({severity: 'success', summary: 'Successful', detail: res.message, life: 3000});
                            displayArtistEditDialog.value = false;
                            artist.value = {};
                            location.reload(true);
                        } else {
                            toast.add({severity: 'error', summary: 'Error', detail: res.message, life: 3000});
                        }
                    })
            };
            const onRowReorder = (ev) => {
                music.value.artists = ev.value;
                toast.add({severity: 'success', summary: 'Rows Reordered', life: 3000});
            };
            //endregion

            //region ------编辑描述------
            const descriptionMd = ref("");
            const displayDescriptionDialog = ref(false);
            const openDescriptionEditDialog = () => {
                axiosGetRequest(CHECK_USER_AUTHORITY_URL, null)
                    .then(res => {
                        if (res.state === 0) {
                            toast.add({severity: 'error', summary: 'Error', detail: res.message, life: 3000});
                        } else {
                            descriptionMd.value = music.value.description;
                            displayDescriptionDialog.value = true;
                        }
                    });
            }
            const closeDescriptionEditDialog = () => {
                displayDescriptionDialog.value = false;
                descriptionMd.value = "";
            }
            const submitDescription = () => {
                let json = {
                    id: music.value.id,
                    description: descriptionMd.value
                }
                axiosPostRequest(UPDATE_MUSIC_DESCRIPTION_URL, json)
                    .then(res => {
                        if (res.state === 1) {
                            music.value.description = descriptionMd.value;
                            text2marked();
                            closeDescriptionEditDialog();
                            toast.add({severity: 'success', summary: 'Successful', detail: res.message, life: 3000});
                        } else {
                            toast.add({severity: 'error', summary: 'Error', detail: res.message, life: 3000});
                        }
                    });
            }
            //endregion

            //region ------编辑歌词------
            const lyricsMd = ref("");
            const displayLyricsDialog = ref(false);
            const openLyricsEditDialog = () => {
                axiosGetRequest(CHECK_USER_AUTHORITY_URL, null)
                    .then(res => {
                        if (res.state === 0) {
                            toast.add({severity: 'error', summary: 'Error', detail: res.message, life: 3000});
                        } else {
                            lyricsMd.value = music.value.lrcText;
                            displayLyricsDialog.value = true;
                        }
                    });
            }
            const closeLyricsEditDialog = () => {
                displayLyricsDialog.value = false;
                lyricsMd.value = "";
            }
            const submitLyrics = () => {
                let json = {
                    id: music.value.id,
                    lyricsText: lyricsMd.value
                }
                axiosPostRequest(UPDATE_MUSIC_LYRICS_TEXT_URL, json)
                    .then(res => {
                        if (res.state === 1) {
                            music.value.lrcText = lyricsMd.value;
                            text2marked();
                            closeLyricsEditDialog();
                            toast.add({severity: 'success', summary: 'Successful', detail: res.message, life: 3000});
                        } else {
                            toast.add({severity: 'error', summary: 'Error', detail: res.message, life: 3000});
                        }
                    });
            };
            //endregion

            //region ------markdown共通------

            const text2marked = () => {

                if (music.value.description != null && music.value.description !== "") {
                    document.getElementById("description").innerHTML = marked.parse(music.value.description);
                }

                if (music.value.lrcText != null && music.value.lrcText !== "") {
                    document.getElementById("lyrics").innerHTML = marked.parse(music.value.lrcText);
                } else {
                    //<![CDATA[
                    document.getElementById("lyrics").innerHTML = "<span class='emptyInfo'><em>暂无歌词</em></span>";
                    //]]>
                }
            };
            //endregion

            const init = () => {
                text2marked();
                $("#main").attr("style", "min-height:" + ($(window).height() - 350) + 'px');

                createAplayer();
            };

            return {
                createAplayer,
                playerOption,
                audioInfo,

                cm,
                artist,
                artists,
                menuModel,
                editingRows,
                selectedArtist,
                addArtist,
                clearArtists,
                submitArtist,
                deleteArtist,
                cancelArtistEdit,
                artistRowMenu,
                onRowEditSave,
                onRowReorder,


                relatedAlbum,
                domainUrl,
                notLoginNavbarItems,
                loginNavbarItems,
                entityType,
                selectedEntity,

                edits,
                relatedMusics,

                displayEditDialog,
                musicEdit,
                openEditDialog,
                closeEditDialog,
                submitEditMusic,

                audioTypeSet,

                pageInfo,
                music,

                displayArtistEditDialog,
                descriptionMd,
                displayDescriptionDialog,
                closeDescriptionEditDialog,
                submitDescription,
                lyricsMd,
                displayLyricsDialog,
                closeLyricsEditDialog,
                submitLyrics,

                blockedPanel,
                displayFileEditDialog,
                openFileEditDialog,
                closeFileEditDialog,
                onUpload,
                clearUploadedFile,
                selectFile,
                uploadFile,
                fileHtml,
                deleteFileDialog, selectedFiles, confirmDeleteSelectedFile, cancelDeleteSelectedFile, deleteFile
            }
        },
        components: {
            "p-panel": primevue.panel,
            "p-fieldset": primevue.fieldset,
            "p-button": primevue.button,
            "p-dialog": primevue.dialog,
            "p-chips": primevue.chips,
            "p-divider": primevue.divider,
            "p-inputtext": primevue.inputtext,
            "p-menubar": primevue.menubar,
            "p-avatar": primevue.avatar,
            "p-toast": primevue.toast,
            "p-dropdown": primevue.dropdown,
            "p-textarea": primevue.textarea,
            "p-inputnumber": primevue.inputnumber,
            "p-splitbutton": primevue.splitbutton,
            "p-datatable": primevue.datatable,
            "p-column": primevue.column,
            "p-contextmenu": primevue.contextmenu,
            "p-card": primevue.card,
            "p-fileupload": primevue.fileupload,
            "p-blockui": primevue.blockui,
            "p-progressbar": primevue.progressbar,
            "p-inplace": primevue.inplace,
        }
    };

    const routes = [{path: "/", component: App}];

    const router = VueRouter.createRouter({
        // history: VueRouter.createWebHashHistory(),
        history: VueRouter.createWebHistory(),
        routes
    });

    createApp(App)
        .use(router)
        .use(primevue.toastservice)
        .use(primevue.config.default)
        .use(MdEditorV3)
        .directive('tooltip', Tooltip)
        .mount("#app");
</script>
<style>
    .aplayer .aplayer-info .aplayer-music .aplayer-title {
        color: black;
    }

    a:hover {
        /*border-bottom: 1px solid #ceffff;*/
        text-decoration: underline;
    }

    .related-album {
        margin: 0 0 0 1.25rem;
        padding: 0;
    }

    .music-detail-cover {
        transform: translateY(5px);
        width: 80px;
        height: 80px;
    }

    .p-tooltip-text {
        width: 15rem;
    }

    .title-container > span {
        font-size: .9rem;
        padding-left: .829rem;
    }

    .title-container > span.title {
        font-weight: bold;
    }
</style>
</body>
</html>