<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>Rakbow's Database</title>

    <!-- bootstrap -->
    <link rel="stylesheet" th:href="@{/css/bootstrap/myBootstrap.min.css}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" th:href="@{/assets/fonts/simple-line-icons.min.css}">
    <link rel="stylesheet" th:href="@{/css/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/styles.min.css}">


    <link rel="stylesheet" th:href="@{/css/index.css}">


    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js}"></script>
    <script th:src="@{/assets/js/script.min.js}"></script>

    <!-- PrimeVue -->
    <link th:href="@{/css/primevue/themes/saga-blue/theme.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/primevue/primevue.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/primeflex/primeflex.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/primeicons/primeicons.css}" rel="stylesheet" type="text/css"/>

    <!-- Dependencies -->
    <script th:src="@{/js/primevue/vue.min.js}"></script>
    <script th:src="@{/js/primevue/primevue.min.js}"></script>
    <script th:src="@{/js/primevue/vue-router.global.js}"></script>

    <!-- PrimeVue Components -->
    <script th:src="@{/js/primevue/components/fileupload.min.js}"></script>
    <script th:src="@{/js/primevue/components/panel.min.js}"></script>
    <script th:src="@{/js/primevue/components/divider.min.js}"></script>
    <script th:src="@{/js/primevue/components/chips.min.js}"></script>
    <script th:src="@{/js/primevue/components/dialog.min.js}"></script>
    <script th:src="@{/js/primevue/components/toolbar.min.js}"></script>
    <script th:src="@{/js/primevue/components/fieldset.min.js}"></script>
    <script th:src="@{/js/primevue/components/image.min.js}"></script>
    <script th:src="@{/js/primevue/components/card.min.js}"></script>
    <script th:src="@{/js/primevue/components/fieldset.min.js}"></script>
    <script th:src="@{/js/primevue/components/chips.min.js}"></script>
    <script th:src="@{/js/primevue/components/divider.min.js}"></script>
    <script th:src="@{/js/primevue/components/inputtext.min.js}"></script>
    <script th:src="@{/js/primevue/components/multiselect.min.js}"></script>
    <script th:src="@{/js/primevue/components/galleria.min.js}"></script>
    <script th:src="@{/js/primevue/components/menubar.min.js}"></script>
    <script th:src="@{/js/primevue/components/avatar.min.js}"></script>

    <!-- Axios -->
    <script th:src="@{/js/axios/axios.min.js}"></script>

    <!-- other -->
    <script th:src="@{/js/basic/httpRequest.js}"></script>
    <script th:src="@{/js/basic/basicParam.js}"></script>
    <script th:src="@{/js/basic/dataHandler.js}"></script>


</head>
<body>
<div class="nk-container">
    <div class="main">
        <div class="container">
            <div id="app">

                <!-- 头部 -->
                <header class="sticky-top" th:insert="~{header :: site_header}"></header><br><br>

                <p-toolbar class="mb-4">
                    <template #start>
                        <p-button label="编辑图片" icon="pi pi-images" class="p-button-success mr-4"
                                  @click="openImageEditDialog"></p-button>
                        <p-button label="编辑音乐制作" icon="pi pi-users" class="p-button-success mr-4"
                                  @click="openArtistEditDialog"></p-button>
                        <p-button label="编辑音轨信息" icon="pi pi-list" class="p-button-success mr-4"
                                  @click="openTrackEditDialog"></p-button>
                    </template>
                    <template #end>
                    </template>
                </p-toolbar>
                <div class="grid card">
                    <div class="col-12 sm:col-12 md:col-6 lg:col-9">
                        <p-panel>
                            <template #header>
                                <div class="container mt-0 mb-0 ml-0">
                                    <h4 class="text-start ml-2 mt-0 mb-0">{{album.nameJp}}</h4>
                                    <h4 class="text-start ml-2 mt-0 mb-0"><small>{{album.nameEn}}</small></h4>
                                </div>
                            </template>
                            <div class="grid">
                                <div class="ml-5" id="coverart"
                                     :style="'background-image: url(' + imgCover.url + ')'"
                                     :title="imgCover.name">
                                </div>
                                <table class="table-borderless table-sm ml-5">
                                    <tbody>
                                    <tr>
                                        <td><strong>专辑编号</strong></td>
                                        <td>
                                            {{album.catalogNo?album.catalogNo:"N/A"}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>商品条形码</strong></td>
                                        <td>{{album.barcode?album.barcode:"N/A"}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>发行时间</strong></td>
                                        <td>
                                            {{album.releaseDate?album.releaseDate:"N/A"}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>发行价格</strong></td>
                                        <td>
                                            {{album.publishPrice?album.publishPrice:"N/A"}} 日元(含税)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>出版形式</strong></td>
                                        <td>
                                            {{album.publishFormat?album.publishFormat:"N/A"}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>媒体类型</strong></td>
                                        <td>
                                            {{album.mediaFormat?album.mediaFormat:"N/A"}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>专辑类型</strong></td>
                                        <td>
                                            {{album.albumFormat?album.albumFormat:"N/A"}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>唱片公司</strong></td>
                                        <td>{{album.label?album.label:"N/A"}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>出版商</strong></td>
                                        <td>
                                            {{album.publisher?album.publisher:"N/A"}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>经销商</strong></td>
                                        <td>
                                            {{album.distributor?album.distributor:"N/A"}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>版权方</strong></td>
                                        <td>
                                            {{album.copyright?album.copyright:"N/A"}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </p-panel>
                        <br>
                        <p-fieldset :toggleable="true">
                            <template #legend>
                                <i class="pi pi-users mr-2"></i>
                                <b>音乐创作</b>
                            </template>
                            <div class="grid">
                                <table class="table-borderless table-sm ml-10">
                                    <tbody>
                                    <tr v-for="item in album.artists">
                                        <td><strong>{{item.position}}</strong></td>
                                        <td>
                                            {{item.artist.join("/")}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </p-fieldset>
                        <br>
                        <p-fieldset :toggleable="true">
                            <template #legend>
                                <i class="pi pi-list mr-2"></i>
                                <b>音轨信息</b>
                            </template>
                            <div v-if="album.trackInfo == null || JSON.stringify(album.trackInfo) == '{}' ">
                                <span>暂无音轨信息</span>
                            </div>
                            <div v-else v-for="disc in album.trackInfo.disc_list">
                                <table class="table table-sm table-hover table-striped">
                                    <thead>
                                    <h5>
                                        Disc {{disc.serial}} ({{disc.media_format}}) [{{disc.catalog_no}}]
                                        {{disc.album_format}}
                                    </h5>
                                    </thead>
                                    <tbody>
                                    <tr v-for="track in disc.track_list">
                                        <th scope="row">{{track.serial}}</th>
                                        <td>{{track.name}}</td>
                                        <td>{{track.length}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                Disc length <b>{{disc.disc_length}}</b>
                                <br>
                            </div>
                            <span class="text-end"
                               v-if="album.trackInfo != null && JSON.stringify(album.trackInfo) != '{}' ">
                                Total tracks <b>{{album.trackInfo.total_tracks}}</b>   Total length
                                <b>{{album.trackInfo.total_length}}</b></span>
                        </p-fieldset>
                        <br>
                        <p-fieldset :toggleable="true">
                            <template #legend>
                                <i class="pi pi-images mr-2"></i>
                                <b>图片</b>
                            </template>
                            <div v-if="album.imgUrl.length == 0">
                                <span>暂无图片</span>
                            </div>
                            <div v-else>
                                <p-galleria :value="album.imgUrl" :responsive-options="responsiveOptions" :num-visible="5" container-style="max-width: 640px">
                                    <template #item="{item}">
                                        <img :src="item.url" :alt="item.name" style="width: 100%; display: block;" />
                                    </template>
                                    <template #thumbnail="{item}">
                                        <div class="grid grid-nogutter justify-content-center">
                                            <img :src="item.url" :alt="item.name" style="display: block;" />
                                        </div>
                                    </template>
                                    <template #caption="{item}">
                                        <h4 style="margin-bottom: .5rem;">{{item.name}}</h4>
                                        <p>{{item.name}}</p>
                                    </template>
                                </p-galleria>
                            </div>
                        </p-fieldset>
                        <br>
                        <p-fieldset :toggleable="true">
                            <template #legend>
                                <i class="pi pi-bookmark mr-2"></i>
                                <b>描述</b>
                            </template>
                        </p-fieldset>
                        <br>
                        <p-fieldset :toggleable="true">
                            <template #legend>
                                <i class="pi pi-box mr-2"></i>
                                <b>特典</b>
                            </template>
                            <div :v-if="album.hasBouns == 0">
                                该专辑不包含特典
                            </div>
                        </p-fieldset>
                    </div>
                    <div class="col-12 sm:col-12 md:col-6 lg:col-3">
                        <p-panel>
                            <template #header>
                                <i class="pi pi-info-circle mr-2"></i>
                                <b>专辑分类</b>
                            </template>
                            <div class="grid">
                                <div class="col-fixed">
                                    <i class="pi pi-bookmark mr-2"></i><b>Series</b>
                                </div>
                                <div class="col-10 col-offset-1">
                                    {{album.series}}
                                </div>
                                <div class="col-fixed">
                                    <i class="pi pi-tags mr-2"></i><b>Products</b>
                                </div>
                                <div class="col-10 col-offset-1">
                                    <p class="mb-0" v-for="item of album.products">
                                        <a :href="'https://rakbow.com/blog/product/'+ item.id ">
                                            <span class="albumtitle" lang="en" style="display:inline">
                                                {{item.name}}
                                            </span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </p-panel>
                        <br>
                        <p-panel>
                            <template #header>
                                <i class="pi pi-info-circle mr-2"></i>
                                <b>相关专辑</b>
                            </template>
                            <div class="grid">
                                <!-- <div style="width: 250px;"> -->
                                <span class="smallfont">
                                    <div class="album_infobit_small smallfont label" v-if="relatedAlbums.length != 0"
                                         v-for="relatedAlbum of relatedAlbums">
                                        <div class="album_infobit_thumb">
                                            <div :style="'background-image: url(' + relatedAlbum.imgUrl.url + ')'">
                                                <a :href="'http://localhost:8080/blog/album/'+ relatedAlbum.id "
                                                   :title="relatedAlbum.imgUrl.name"></a>
                                            </div>
                                        </div>
                                        <ul class="album_infobit_detail">
                                            <li>
                                                <a class="albumtitle smallfont album-anime"
                                                   :href="'http://localhost:8080/blog/album/'+ relatedAlbum.id ">
                                                    <span class="albumtitle" lang="en" style="display:inline">
                                                        {{relatedAlbum.nameJp}}
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <span
                                                        class="catalog smallfont album-anime">{{relatedAlbum.catalogNo}}</span>
                                            </li>
                                            <li>{{relatedAlbum.relaseDate}}</li>
                                        </ul>
                                    </div>
                                </span>
                                <br>
                                <b class="rbot"><b></b></b>
                            </div>
                        </p-panel>
                        <br>
                        <p-panel>
                            <template #header>
                                <i class="pi pi-info-circle mr-2"></i>
                                <b>页面信息</b>
                            </template>
                            <div class="grid">
                                <div class="col-fixed">
                                    <i class="pi pi-plus mr-2"></i><b>录入时间</b>
                                </div>
                                <div class="col-10 col-offset-1">
                                    {{album.addedTime}}
                                </div>
                                <div class="col-fixed">
                                    <i class="pi pi-pencil mr-2"></i><b>编辑时间</b>
                                </div>
                                <div class="col-10 col-offset-1">
                                    {{album.editedTime}}
                                </div>
                                <div class="col-fixed">
                                    <i class="pi pi-chart-bar mr-2"></i><b>页面流量</b>
                                </div>
                                <div class="col-10 col-offset-1">
                                    <i class="pi pi-eye mr-2"></i><b>访问数</b>1685
                                </div>
                            </div>
                        </p-panel>
                    </div>
                </div>
                <p-dialog v-model:visible="displayImageEditDialog" :style="{width: '800px'}" header="编辑图片"
                          :modal="true">
                    <div style="width:500px">
                        <p-fileupload name="imageSetJson[]" ref="fileupload" :custom-upload="true" :multiple="true"
                                      accept="image/*"
                                      :max-file-size="1000000" :preview-width="100"
                                      invalid-file-size-message="{0}大小已超过{1}"
                                      @uploader="myUploader"
                                      @remove="removeFile"
                                      @select="selectFile">
                            <template #empty>
                                <p>Drag and drop files to here to upload.</p>
                            </template>
                        </p-fileupload>
                        <div style="width:500px">
                            <p-panel>
                                <template #icons>
                                    <i class="pi pi-images"></i>
                                    <span>Image List</span>
                                </template>
                                <div class="field">
                                    <label htmlFor="imageName">编辑图片名称</label>
                                    <p-chips v-model="imageName" separator="," :max="imageNum"></p-chips>
                                </div>
                                <p-divider></p-divider>
                                <div class="field">
                                    <section>
                                        <div id="imgBox" v-html="html"></div>
                                    </section>
                                </div>
                            </p-panel>
                        </div>
                    </div>
                </p-dialog>
                <p-dialog v-model:visible="displayArtistEditDialog" :style="{width: '800px'}" header="编辑音乐制作"
                          :modal="true">
                    <p-panel>
                        <template #icons>
                            <i class="pi pi-users"></i>
                            <span>Artist List</span>
                        </template>
                        <div class="grid">
                            <div class="col-3">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <i class="pi pi-tag"></i>
                                    </span>
                                    <p-inputtext v-model="positionName"></p-inputtext>
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <i class="pi pi-users"></i>
                                    </span>
                                    <p-chips v-model="positionArtist" placeholder="人员信息" separator=","></p-chips>
                                </div>
                            </div>
                            <div class="col-2">
                                <p-button label="保存" icon="pi pi-save" class="p-button-success"
                                          @click="saveArtist"></p-button>
                            </div>
                        </div>
                        <p-divider></p-divider>
                        <div class="grid">
                            <section>
                                <div id="artistBox" v-html="artistHtml"></div>
                            </section>
                        </div>
                    </p-panel>
                    <template #footer>
                        <p-button label="保存" icon="pi pi-save" class="p-button-success mr-4"
                                  @click="submitArtist"></p-button>
                    </template>
                </p-dialog>
                <p-dialog v-model:visible="displayTrackEditDialog" :style="{width: '800px'}" header="编辑音轨信息"
                          :modal="true">
                    <p-panel>
                        <template #icons>
                            <i class="pi pi-list"></i>
                            <span>Track Info</span>
                        </template>
                        <div class="grid">
                            <div class="col-10">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <i class="pi pi-tag"></i>
                                    </span>
                                    <p-chips v-model="musicName" placeholder="曲目列表" separator=","></p-chips>
                                </div>
                            </div>
                            <div class="col-10">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <i class="pi pi-users"></i>
                                    </span>
                                    <p-chips v-model="musicLength" placeholder="曲目长度" separator=","></p-chips>
                                </div>
                            </div>

                            <div class="col-5">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <i class="pi pi-tag"></i>
                                    </span>
                                    <p-multiselect id="mediaFormat" v-model="mediaFormat" :options="mediaFormatSet"
                                                   option-label="label" option-value="labelEn" placeholder="媒体格式"
                                                   display="chip">
                                    </p-multiselect>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <i class="pi pi-tag"></i>
                                    </span>
                                    <p-multiselect id="albumFormat" v-model="albumFormat" :options="albumFormatSet"
                                                   option-label="label" option-value="labelEn" placeholder="专辑分类"
                                                   display="chip">
                                    </p-multiselect>
                                </div>
                            </div>

                            <div class="col-2">
                                <p-button label="保存disc" icon="pi pi-save" class="p-button-success"
                                          @click="saveDisc"></p-button>
                            </div>
                        </div>
                        <p-divider></p-divider>
                        <div class="grid">
                            <section>
                                <div id="trackBox" v-html="trackHtml"></div>
                            </section>
                        </div>
                    </p-panel>
                    <template #footer>
                        <p-button label="保存" icon="pi pi-save" class="p-button-success mr-4"
                                  @click="submitTrackInfo"></p-button>
                    </template>
                </p-dialog>
            </div>
        </div>
    </div>

    <!-- 尾部 -->
    <!--    <footer th:insert="~{footer :: site_footer}"></footer>-->
</div>
<script type="module" th:inline="javascript">
    const {createApp, onMounted, ref} = Vue;

    const App = {
        setup() {
            onMounted(() => {
                // getAlbum();
                init();
            })
            const user = ref([[${user}]]);

            const mediaFormatSet = ref([[${mediaFormatSet}]]);
            const albumFormatSet = ref([[${albumFormatSet}]]);

            //图片展示
            const responsiveOptions = [
                {
                    breakpoint: '1024px',
                    numVisible: 5
                },
                {
                    breakpoint: '768px',
                    numVisible: 3
                },
                {
                    breakpoint: '560px',
                    numVisible: 1
                }
            ];
            //

            //音轨信息相关组件
            const mediaFormat = ref();
            const albumFormat = ref();
            const trackHtml = ref("");
            const musicName = ref([]);
            const musicLength = ref([]);
            const discList = ref([]);
            const displayTrackEditDialog = ref(false);
            const openTrackEditDialog = () => {
                discList.value = [];
                trackHtml.value = "";
                displayTrackEditDialog.value = true;
            };
            const saveDisc = () => {
                let disc = {track_list:null, media_format:null, album_format:null};
                let trackList = [];
                for (let i = 0; i < musicName.value.length; i++) {
                    let param = {name: null, length: null};
                    param.name = musicName.value[i];
                    param.length = musicLength.value[i];
                    trackList.push(param);
                }
                disc.track_list = trackList;
                disc.album_format = albumFormat.value.join(",");
                disc.media_format = mediaFormat.value.join(",");
                discList.value.push(disc);
                musicName.value = [];
                musicLength.value = [];
                albumFormat.value = "";
                mediaFormat.value = "";
                showTrackInfo();
            };
            const showTrackInfo = () => {
                trackHtml.value = "";
                //<![CDATA[
                for (const disc of discList.value) {
                    for(let t of disc.track_list){
                        trackHtml.value += '<p>' + t.name + ' : ' + t.length + '</p>';
                    }
                }
                //]]>
                document.getElementById("trackBox").innerHTML = trackHtml;
            };
            const submitTrackInfo = () => {
                let json = {
                    id: album.value.id,
                    discList: discList.value
                }
                axiosPostRequest(UPDATE_ALBUM_TRACK_INFO_URL, json)
                    .then(res => {
                        if (res.state != 0) {
                            displayTrackEditDialog.value = false;
                            discList.value = [];
                        } else {
                            console.log(res.message);
                        }
                    })
            };

            //artists相关组件
            const artistHtml = ref("");
            const positionName = ref();
            const positionArtist = ref();
            const artists = ref([]);
            const displayArtistEditDialog = ref(false);
            const openArtistEditDialog = () => {
                artists.value = [];
                positionName.value = "";
                positionArtist.value = "";
                displayArtistEditDialog.value = true;
            };
            const saveArtist = () => {
                let param = {
                    position: null,
                    artist: null
                };
                param.position = positionName.value;
                param.artist = positionArtist.value;
                artists.value.push(param);
                positionName.value = "";
                positionArtist.value = [];
                showArtist();
            }
            const showArtist = () => {
                artistHtml.value = "";
                //<![CDATA[
                for (const a of artists.value) {
                    artistHtml.value += '<p>' + a.position + ' : ' + a.artist.join("/") + '</p>';
                }
                //]]>
                document.getElementById("artistBox").innerHTML = artistHtml;
            };
            const submitArtist = () => {
                console.log(JSON.stringify(artists.value));
                let json = {
                    id: album.value.id,
                    artists: artists.value
                }
                axiosPostRequest(UPDATE_ALBUM_ARTISTS_URL, json)
                    .then(res => {
                        if (res.state != 0) {
                            displayArtistEditDialog.value = false;
                            artists.value = [];
                        } else {
                            console.log(res.message);
                        }
                    })
            };

            const imgCover = ref({});
            const album = ref([[${album}]]);
            const relatedAlbums = ref([[${relatedAlbums}]]);
            const displayImageEditDialog = ref(false);
            const html = ref("");
            const imageName = ref();
            const imageNum = ref(0);

            const init = () => {
                if (album.value.imgUrl != null) {
                    if (album.value.imgUrl.length != 0) {
                        for (let img of album.value.imgUrl) {
                            if (img.name == "Cover" || img.name == "Front") {
                                imgCover.value.url = img.url;
                                imgCover.value.name = img.name;
                            }
                        }
                    } else {
                        imgCover.value.url = DOMIAN_URL + "/img/404.jpg";
                        imgCover.value.name = "Cover";
                    }
                } else {
                    imgCover.value.url = DOMIAN_URL + "/img/404.jpg";
                    imgCover.value.name = "Cover";
                }
                album.value.publishFormat = album.value.publishFormat.join("/");
                album.value.mediaFormat = album.value.mediaFormat.join("/");
                album.value.albumFormat = album.value.albumFormat.join("/");
            };

            const getAlbum = () => {
                const param = {"id": album.value.id};
                axiosGetRequest(GET_ALBUM_URL, param)
                    .then(res => {
                        album.value = res;
                    }).catch(err => {
                    console.log(err);
                });
            }

            const openImageEditDialog = () => {
                const param = ref({});
                param.value.id = album.value.id;
                displayImageEditDialog.value = true;
                imageName.value = false;
            };

            function myUploader(ev) {
                const formData = new FormData();
                let images = Array.from(ev.files);
                images.forEach((image) => {
                    formData.append('images', image);
                })
                formData.append("albumId", album.value.id);
                formData.append("imageName", imageName.value);
                axiosRequest(UPLOAD_ALBUM_URL, formData)
                    .then(res => {
                        console.log(res);
                    }).catch(err => {
                    console.log(err);
                });
                displayImageEditDialog.value = false;
                getAlbum();
            };

            const showImage = (imageSet) => {
                html.value = "";
                //<![CDATA[
                for (const img of imageSet) {
                    html.value += '<img src="' + img.objectURL + '"/>';
                    html.value += '<p>' + img.name + '</p>';
                    html.value += '<p-divider></p-divider>';
                }
                //]]>
                document.getElementById("imgBox").innerHTML = html;
            };

            const removeFile = (ev) => {
                showImage(ev.files);
                imageNum.value = ev.files.length;
                console.log(imageNum.value);
            };

            const selectFile = (ev) => {
                showImage(ev.files);
                imageNum.value = ev.files.length;
                console.log(imageNum.value);
            };

            const navbarItems = ref([
                {
                    label:'Album',
                    icon:'pi pi-fw pi-list',
                    items:[
                        {
                            label:'Album List',
                            icon:'pi pi-fw pi-list',
                            url: 'http://localhost:8080/db/album-list'
                        },
                        {
                            label:'Album Card',
                            icon:'pi pi-fw pi-list',
                            url: 'http://localhost:8080/db/album-card'
                        }
                    ]
                },
                {
                    label:'Disc',
                    icon:'pi pi-fw pi-video',
                    items:[
                        {
                            label:'Develop',
                            icon:'pi pi-fw pi-wrench'
                        },
                        {
                            label:'Develop',
                            icon:'pi pi-fw pi-wrench'
                        }
                    ]
                },
                {
                    label:'Book',
                    icon:'pi pi-fw pi-book',
                    items:[
                        {
                            label:'Book List',
                            icon:'pi pi-fw pi-book'
                        },
                        {
                            label:'Develop',
                            icon:'pi pi-fw pi-wrench'
                        }
                    ]
                },
                {
                    label:'Users',
                    icon:'pi pi-fw pi-user',
                    items:[
                        {
                            label:'New',
                            icon:'pi pi-fw pi-user-plus',
                        },
                        {
                            label:'Delete',
                            icon:'pi pi-fw pi-user-minus',
                        },
                        {
                            label:'Search',
                            icon:'pi pi-fw pi-users',
                            items:[
                                {
                                    label:'Filter',
                                    icon:'pi pi-fw pi-filter',
                                    items:[
                                        {
                                            label:'Print',
                                            icon:'pi pi-fw pi-print'
                                        }
                                    ]
                                },
                                {
                                    icon:'pi pi-fw pi-bars',
                                    label:'List'
                                }
                            ]
                        }
                    ]
                },
                {
                    label:'Quit',
                    icon:'pi pi-fw pi-power-off',
                    url: "http://localhost:8080/logout"
                }
            ]);

            return {
                album, relatedAlbums, imgCover,
                myUploader, removeFile, selectFile,
                html, displayImageEditDialog, openImageEditDialog,
                imageName, imageNum,
                positionName, positionArtist, openArtistEditDialog, displayArtistEditDialog,
                artists, saveArtist, artistHtml, submitArtist,
                openTrackEditDialog, displayTrackEditDialog,
                musicName, musicLength, discList, saveDisc, trackHtml, submitTrackInfo,
                mediaFormatSet, albumFormatSet, mediaFormat, albumFormat,
                responsiveOptions, navbarItems, user
            }
        },
        components: {
            "p-panel": primevue.panel,
            "p-image": primevue.image,
            "p-fieldset": primevue.fieldset,
            "p-button": primevue.button,
            "p-dialog": primevue.dialog,
            "p-fileupload": primevue.fileupload,
            "p-toolbar": primevue.toolbar,
            "p-chips": primevue.chips,
            "p-divider": primevue.divider,
            "p-inputtext": primevue.inputtext,
            "p-multiselect": primevue.multiselect,
            "p-galleria": primevue.galleria,
            "p-menubar": primevue.menubar,
            "p-avatar": primevue.avatar,
        }
    };

    const routes = [{ path: "/", component: App }];

    const router = VueRouter.createRouter({
        history: VueRouter.createWebHashHistory(),
        routes
    });

    createApp(App)
        .use(router)
        .use(primevue.config.default)
        .mount("#app");
</script>

<style>

    #imgBox img {
        height: 200px;
    }

    .p-panel .p-panel-header {
        /* border: 1px solid #dee2e6; */
        padding: 0.5rem;
        background: #6d7c8b;
        color: #d0da9a;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }

    #coverart {
        height: 250px;
        width: 250px;
        overflow: hidden;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .album_infobit_small {
        clear: left;
        height: 76px;
        /* border-top: 1px solid #464A64; */
        /* border-bottom: 1px solid #1B273D; */
        padding: 4px 6px 4px 4px;
        overflow: hidden;
    }

    .label {
        color: #788990;
    }

    .album_infobit_thumb {
        float: left;
        margin: 0 4px 0 0;
        padding: 8px;
        background: transparent url(https://vgmdb.net/db/img/border_thumb.png) 0 0 no-repeat;
    }

    ul.album_infobit_detail {
        list-style-type: none;
        margin: 6px 0 0 0;
        padding: 0;
        overflow: hidden;
    }

    b.rbot {
        background-position: 0 -8px;
    }

    .smallfont {
        font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, Meiryo, sans-serif;
    }

    a.album-anime {
        /* color: yellowgreen !important; */
    }

    /* #imgRelatedAlbum {
        width: 50px;
    } */

    .p-panel .p-panel-content {
        padding: 0.5rem;
    }

    /*
    p-image {
        width: 250px;
        margin-right: 0 auto;
    } */
</style>
</body>
</html>