<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Database</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <!--other css -->
    <link href="https://img.rakbow.com/common/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/iconfont/iconfont.css}" rel="stylesheet" type="text/css" />

    <!-- PrimeVue -->
    <link th:href="@{/css/primevue/themes/saga-blue/theme.css}" rel="stylesheet" />
    <link th:href="@{/css/primevue/primevue.min.css}" rel="stylesheet" />
    <link th:href="@{/css/primeflex/primeflex.min.css}" rel="stylesheet" />
    <link th:href="@{/css/primeicons/primeicons.css}" rel="stylesheet" />

    <!-- Vue3 -->
    <script src="https://cdn.staticfile.org/vue/3.2.41/vue.global.js"></script>
    <script th:src="@{/js/primevue/primevue.min.js}"></script>
    <script src="https://cdn.staticfile.org/vue-router/4.1.6/vue-router.global.js"></script>

    <!-- PrimeVue Components -->
    <script th:src="@{/js/primevue/components/menubar.min.js}"></script>
    <script th:src="@{/js/primevue/components/avatar.min.js}"></script>
    <script th:src="@{/js/primevue/components/inputtext.min.js}"></script>

    <!-- basic js -->
    <script th:src="@{/js/basic/Data_Helper.js}"></script>
    <script th:src="@{/js/basic/Http_Request.js}"></script>
    <script th:src="@{/js/basic/Rakbow_Web_Helper_Str.js}"></script>
</head>

<body>
<div class="main">
    <div class="container">
        <div id="app">
            <!-- 头部 -->
            <header class="sticky-top mb-2" th:insert="~{template/header :: site_header}"></header>

            <div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
                <div class="mb-3 font-bold text-2xl">
                    <span class="text-900">欢迎，来到</span>
                    <span class="text-blue-600">Rakbow的在线数据库</span>
                </div>
                <div class="text-700 text-sm mb-6">
                    还没想到这一段具体写什么
                </div>
                <div class="grid">

                    <div class="col-12 md:col-4 mb-4 px-5">
                        <a href="/db/album/list">
                                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                                    <i class="pi iconfont icon-24gl-musicAlbum2 text-6xl text-blue-500"></i>
                                </span>
                        </a>
                        <div class="text-900 mb-3 font-medium">音乐专辑</div>
                        <span class="text-700 text-sm line-height-3">
                            还没想到这一段具体写什么
                        </span>
                    </div>

                    <div class="col-12 md:col-4 mb-4 px-5">
                        <a href="/db/disc">
                                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                                    <i class="pi iconfont icon-Video-Disc text-6xl text-blue-500"></i>
                                </span>
                        </a>
                        <div class="text-900 mb-3 font-medium">动画碟片</div>
                        <span class="text-700 text-sm line-height-3">
                            建设中
                        </span>
                    </div>

                    <div class="col-12 md:col-4 mb-4 px-5">
                        <a href="/db/book">
                                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                                    <i class="pi iconfont icon-book text-6xl text-blue-500"></i>
                                </span>
                        </a>
                        <div class="text-900 mb-3 font-medium">书籍/漫画</div>
                        <span class="text-700 text-sm line-height-3">
                            建设中
                        </span>
                    </div>

                    <div class="col-12 md:col-4 mb-4 px-5">
                        <a href="/db/goods">
                                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                                    <i class="pi iconfont icon-yinshuabaozhuang text-6xl text-blue-500"></i>
                                </span>
                        </a>
                        <div class="text-900 mb-3 font-medium">周边</div>
                        <span class="text-700 text-sm line-height-3">
                            建设中
                        </span>
                    </div>

                    <div class="col-12 md:col-4 mb-4 px-5">
                        <a href="/db/game">
                                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                                    <i class="pi iconfont icon-youxi text-6xl text-blue-500"></i>
                                </span>
                        </a>
                        <div class="text-900 mb-3 font-medium">游戏</div>
                        <span class="text-700 text-sm line-height-3">
                            建设中
                        </span>
                    </div>

                    <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
                        <a href="/db/product/list">
                                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                                    <i class="pi iconfont icon-_classification text-6xl text-blue-500"></i>
                                </span>
                        </a>
                        <div class="text-900 mb-3 font-medium">产品</div>
                        <span class="text-700 text-sm line-height-3">
                            还没想到这一段具体写什么
                        </span>
                    </div>
                </div>
            </div>

            <!-- 尾部 -->
            <footer class="mt-2" th:insert="~{template/footer :: site_footer}"></footer>
        </div>
    </div>
</div>

<script type="module" th:inline="javascript">
    const {createApp, onMounted, ref} = Vue;

    const App = {
        setup() {
            onMounted(() => {
            })

            //region 页面header
            const domainUrl = DOMAIN_URL;

            const selectedEntity = ref();

            const entityType = ref(ENTITY_TYPE);

            const notLoginNavbarItems = ref(NOT_LOGIN_NAVBAR_ITEMS);

            const loginNavbarItems = ref(LOGIN_NAVBAR_ITEMS);
            //endregion

            return { domainUrl, selectedEntity, entityType, notLoginNavbarItems, loginNavbarItems }
        },
        components: {
            "p-button": primevue.button,
            "p-menubar": primevue.menubar,
            "p-avatar": primevue.avatar,
            "p-inputtext": primevue.inputtext,
            "p-dropdown": primevue.dropdown

        }
    };

    const routes = [{ path: "/", component: App }];

    const router = VueRouter.createRouter({
        // history: VueRouter.createWebHashHistory(),
        history: VueRouter.createWebHistory(),
        routes
    });

    createApp(App)
        .use(router)
        .use(primevue.config.default)
        .mount("#app");
</script>
</body>

</html>