<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" th:href="@{/assets/fonts/simple-line-icons.min.css}">
    <link rel="stylesheet" th:href="@{/css/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/styles.min.css}">
    <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js}"></script>
    <script th:src="@{/assets/js/script.min.js}"></script>
</head>
<body>
<!--<div class="container" th:fragment="site_footer">-->
<!--    <div class="row">-->
<!--        &lt;!&ndash; 二维码 &ndash;&gt;-->
<!--        <div class="col-4 qrcode">-->
<!--            <img th:src="@{/img/rakbow_header.png}" class="img-thumbnail" style="width:136px;"/>-->
<!--        </div>-->
<!--        &lt;!&ndash; 公司信息 &ndash;&gt;-->
<!--        <div class="col-8 detail-info">-->
<!--            <div class="row">-->
<!--                <div class="col">-->
<!--                    <ul class="nav">-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link text-light" href="#">关于我们</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link text-light" href="#">加入我们</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link text-light" href="#">意见反馈</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link text-light" href="#">企业服务</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link text-light" href="#">联系我们</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link text-light" href="#">免责声明</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link text-light" href="#">友情链接</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col">-->
<!--                    <ul class="nav btn-group-vertical company-info">-->
<!--                        <li class="nav-item text-white-50">-->
<!--                            公司地址：六轩岛&雏见泽-->
<!--                        </li>-->
<!--                        <li class="nav-item text-white-50">-->
<!--                            &lt;!&ndash;                                    联系方式：010-60728802(电话)&nbsp;&nbsp;&nbsp;&nbsp;rakbow@163.com&ndash;&gt;-->
<!--                            联系方式：rakbow@163.com-->
<!--                        </li>-->
<!--                        <li class="nav-item text-white-50">-->
<!--                            ©2020-2022 All rights reserved-->
<!--                        </li>-->
<!--                        <li class="nav-item text-white-50">-->
<!--                            备案号：粤ICP备2021077722 &nbsp;&nbsp;&nbsp;&nbsp;-->
<!--                            &lt;!&ndash;                                    <img src="http://static.nowcoder.com/company/images/res/ghs.png" style="width:18px;" />&ndash;&gt;-->
<!--                            &lt;!&ndash;                                    XXXXXXXXXXXXXXXXXXXXXXXX&ndash;&gt;-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<footer class="page-footer dark" th:fragment="site_footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3"><h5>Get started</h5>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">Downloads</a></li>
                </ul>
            </div>
            <div class="col-sm-3"><h5>About us</h5>
                <ul>
                    <li><a href="#">Company Information</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Reviews</a></li>
                </ul>
            </div>
            <div class="col-sm-3"><h5>Support</h5>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help desk</a></li>
                    <li><a href="#">Forums</a></li>
                </ul>
            </div>
            <div class="col-sm-3"><h5>Legal</h5>
                <ul>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright"><p>©2020-2022 All rights reserved</p><br><p>备案号：粤ICP备2021077722</p></div>
</footer>

</body>
</html>