<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>傲幽的个人空间</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <!--other css -->
    <link href="https://img.rakbow.com/common/logo/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link th:href="@{/css/global.css}" rel="stylesheet" />
    <link th:href="@{/css/iconfont/iconfont.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/search.css}" rel="stylesheet"/>
    <link th:href="@{/css/topbar.css}" rel="stylesheet"/>

    <!-- PrimeVue -->
    <link th:href="@{/css/primevue/bootstrap4-dark-blue.css}" rel="stylesheet"/>
    <link th:href="@{/css/primevue/primevue.min.css}" rel="stylesheet" />
    <link th:href="@{/css/primevue/primeflex.min.css}" rel="stylesheet" />
    <link th:href="@{/css/primevue/primeicon/primeicons.css}" rel="stylesheet" />

    <!-- Vue3 -->
    <script th:src="@{/js/vue/vue.global.js}"></script>
    <script th:src="@{/js/primevue/core.min.js}"></script>
    <script th:src="@{/js/vue/vue-router.global.js}"></script>

    <!-- PrimeVue Components -->
    <script th:src="@{/js/primevue/components/menubar.min.js}"></script>
    <script th:src="@{/js/primevue/components/avatar.min.js}"></script>
    <script th:src="@{/js/primevue/components/inputtext.min.js}"></script>

    <script th:src="@{/js/primevue/components/scrolltop.min.js}"></script>
    <script th:src="@{/js/primevue/components/scrollpanel.min.js}"></script>
    <script th:src="@{/js/primevue/components/dynamicdialog.min.js}"></script>
    <script th:src="@{/js/primevue/components/dialogservice.min.js}"></script>
    <script th:src="@{/js/primevue/components/divider.min.js}"></script>
    <script th:src="@{/js/primevue/components/chip.min.js}"></script>
    <script th:src="@{/js/primevue/components/menubar.min.js}"></script>
    <script th:src="@{/js/primevue/components/avatar.min.js}"></script>
    <script th:src="@{/js/primevue/components/tag.min.js}"></script>

    <!-- basic js -->
    <script th:src="@{/js/basic/Data_Helper.js}"></script>
    <script th:src="@{/js/basic/Rakbow_Web_Url_Helper_Str.js}"></script>
    <script th:src="@{/js/basic/Rakbow_Web_Exception_Str_CN.js}"></script>

    <!-- Jquery -->
    <script th:src="@{/js/jquery.js}"></script>

    <!-- fullpage -->
    <script th:src="@{/tool/fullpage/fullpage.js}"></script>
    <link th:href="@{/tool/fullpage/fullpage.min.css}" rel="stylesheet"/>

    <!-- rainyday -->
    <script th:src="@{/js/rainyday.min.js}"></script>
</head>
<body>
<!-- <div id="app" style="margin-top: 60px">-->
 <div id="app">
    <!-- 头部 -->
    <header class="sticky-top mb-2" th:insert="~{template/header :: no_search_header}"></header><br>

     <div id="index">
         <div class="section">
             <div id="main" class="grid grid-nogutter surface-section text-800">
                 <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
                     <section>
                         <span class="block text-6xl font-bold mb-1">欢迎来到</span>
                         <div class="text-6xl text-primary font-bold mb-3">Rakbow的私人在线数据库</div>
                         <p class="mt-0 mb-4 text-700 line-height-3">数据库收录包含各种数据</p>

                         <p-button label="数据库" type="button" @click.native="goDb" class="mr-3 p-button-raised"></p-button>
                         <!--                <p-button label="博客" type="button" @click.native="goBlog" class="p-button-outlined"></p-button>-->
                     </section>
                 </div>
                 <div class="col-12 md:col-6 overflow-hidden">
                     <img src="https://img.rakbow.com/common/index.jpg" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
                 </div>
             </div>
         </div>
         <div class="section">
             <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
                 <div class="text-700 text-center">
                     <div class="text-blue-600 font-bold mb-3"><i class="pi pi-discord"></i>&nbsp;POWERED BY DISCORD</div>
                     <div class="text-900 font-bold text-5xl mb-3">Join Our Design Community</div>
                     <div class="text-700 text-2xl mb-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit numquam eligendi quos.</div>
                     <p-button label="Join Now" icon="pi pi-discord" class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"></p-button>
                 </div>
             </div>
         </div>
     </div>

    <!-- 尾部 -->
    <footer class="mt-2" th:insert="~{template/footer :: site_footer}"></footer>
</div>
<script type="module" th:inline="javascript">

    const {createApp, onMounted, ref} = Vue;

    const App = {
        setup() {
            onMounted(() => {
                new fullpage('#index', {
                    scrollingSpeed: 500, //滚动的时间
                });

                function run() {
                    var rainyDay = new RainyDay({
                        image: 'background'
                    });
                    window.setTimeout(function () {
                        // rainyDay.destroy()
                    }, 1000)
                }
            })

            const goBlog = () => {
                window.location.href = BLOG_INDEX_URL;
            };

            const goDb = () => {
                window.location.href = DATABASE_INDEX_URL;
            };

            const domainUrl = DOMAIN_URL;

            return { goDb, goBlog, domainUrl}
        },
        components: {
            "p-button": primevue.button,
            "p-menubar": primevue.menubar,
            "p-avatar": primevue.avatar,
            "p-inputtext": primevue.inputtext,
            "p-dropdown": primevue.dropdown,
        }
    };

    const routes = [{ path: "/", component: App }];

    const router = VueRouter.createRouter({
        history: VueRouter.createWebHistory(),
        routes
    });

    createApp(App)
        .use(router)
        .use(primevue.config.default)
        .mount("#app");
</script>
 <style>
     .section {
         width: 100%;
         height: 100%;
         text-align: center;
         color: #fff;
     }

     #index .section:nth-child(1) {
         background-image: url('http://localhost:8083/img/index_1.jpg');
         background-repeat: no-repeat;
         background-size: cover;
     }

     #index .section:nth-child(2) {
         background: yellowgreen;
     }

     #index .section:nth-child(3) {
         background: orangered;
     }

     #index .section:last-child {
         padding: 100px;
         background-image: url('http://localhost:8083/img/index_2.jpg');
         background-repeat: no-repeat;
         background-size: cover;
     }
 </style>
</body>
</html>