<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>傲幽的个人空间</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <!--other css -->
    <link href="https://img.rakbow.com/common/logo/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link th:href="@{/css/global.css}" rel="stylesheet" />
    <link th:href="@{/css/iconfont/iconfont.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/search.css}" rel="stylesheet"/>
    <link th:href="@{/css/topbar.css}" rel="stylesheet"/>

    <!-- PrimeVue -->
    <link th:href="@{/css/primevue/bootstrap4-dark-blue.css}" rel="stylesheet"/>
    <link th:href="@{/css/primevue/primevue.min.css}" rel="stylesheet" />
    <link th:href="@{/css/primevue/primeflex.min.css}" rel="stylesheet" />
    <link th:href="@{/css/primevue/primeicon/primeicons.css}" rel="stylesheet" />

    <!-- Vue3 -->
    <script th:src="@{/js/vue/vue.global.min.js}"></script>
    <script th:src="@{/js/primevue/core.min.js}"></script>
    <script th:src="@{/js/vue/vue-router.global.min.js}"></script>

    <!-- PrimeVue Components -->
    <script th:src="@{/js/primevue/components/menubar.min.js}"></script>
    <script th:src="@{/js/primevue/components/avatar.min.js}"></script>
    <script th:src="@{/js/primevue/components/inputtext.min.js}"></script>

    <script th:src="@{/js/primevue/components/scrolltop.min.js}"></script>
    <script th:src="@{/js/primevue/components/scrollpanel.min.js}"></script>
    <script th:src="@{/js/primevue/components/dynamicdialog.min.js}"></script>
    <script th:src="@{/js/primevue/components/dialogservice.min.js}"></script>
    <script th:src="@{/js/primevue/components/divider.min.js}"></script>
    <script th:src="@{/js/primevue/components/chip.min.js}"></script>
    <script th:src="@{/js/primevue/components/menubar.min.js}"></script>
    <script th:src="@{/js/primevue/components/avatar.min.js}"></script>
    <script th:src="@{/js/primevue/components/tag.min.js}"></script>

    <!-- basic js -->
    <script th:src="@{/js/basic/Data_Helper.js}"></script>
    <script th:src="@{/js/basic/Rakbow_Web_Url_Helper_Str.js}"></script>
    <script th:src="@{/js/basic/Rakbow_Web_Exception_Str_CN.js}"></script>

    <!-- Jquery -->
    <script th:src="@{/js/jquery.js}"></script>

    <!-- fullpage -->
    <link th:href="@{/tool/fullpage/fullpage.min.css}" rel="stylesheet"/>

    <!-- fullpage -->
<!--    <script th:src="@{/tool/swiper/swiper-bundle.min.css}"></script>-->
<!--    <link th:href="@{/tool/swiper/swiper-bundle.min.js}" rel="stylesheet"/>-->

    <!-- rainyday -->
    <script th:src="@{/js/rainyday.min.js}"></script>
</head>
<body>
<!-- <div id="app" style="margin-top: 60px">-->
 <div id="app">
    <!-- 头部 -->
    <header class="sticky-top mb-2" th:insert="~{template/header :: no_search_header}"></header><br>

     <div id="index">
         <div class="section">
             <div class="px-4 py-8 md:px-6 lg:px-8" style="background-color: rgba(0,0,0,0)">
                 <div class="text-700 text-center">
                     <div class="text-blue-600 font-bold mb-3"><i class="pi pi-database"></i>&nbsp;POWERED BY RAKBOW</div>
                     <div class="text-900 font-bold text-5xl mb-3">欢迎来到Rakbow的私人在线数据库</div>
                     <div class="text-700 text-2xl mb-5">数据库收录包含各种数据</div>
                     <p-button label="详情" icon="pi pi-database" @click.native="goDb"
                               class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"></p-button>
                 </div>
             </div>
         </div>
     </div>

    <!-- 尾部 -->
    <footer class="mt-2" th:insert="~{template/footer :: site_footer}"></footer>
</div>
<script type="module" th:inline="javascript">

    import fullpage from '/tool/fullpage/fullpage.esm.js';
    const {createApp, onMounted, ref} = Vue;

    const App = {
        setup() {
            onMounted(() => {
                fullpage('#index', {
                    scrollingSpeed: 500, //滚动的时间
                });
                fullpage_api.setAllowScrolling(false);

                function run() {
                    var rainyDay = new RainyDay({
                        image: 'background'
                    });
                    window.setTimeout(function () {
                        // rainyDay.destroy()
                    }, 1000)
                }
            })

            const goBlog = () => {
                window.location.href = BLOG_INDEX_URL;
            };

            const goDb = () => {
                window.location.href = DATABASE_INDEX_URL;
            };

            return { goDb, goBlog}
        },
        components: {
            "p-button": primevue.button,
            "p-menubar": primevue.menubar,
            "p-avatar": primevue.avatar,
            "p-inputtext": primevue.inputtext,
            "p-dropdown": primevue.dropdown,
        }
    };

    const routes = [{ path: "/", component: App }];

    const router = VueRouter.createRouter({
        history: VueRouter.createWebHistory(),
        routes
    });

    createApp(App)
        .use(router)
        .use(primevue.config.default)
        .mount("#app");
</script>
 <style>
     .section {
         width: 100%;
         height: 100%;
         text-align: center;
         color: #fff;
     }

     #index .section {
         padding: 100px;
         background-image: url('https://img.rakbow.com/common/index_v1.jpg');
         background-repeat: no-repeat;
         background-size: cover;
     }
 </style>
</body>
</html>