<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Template</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <!--other css -->
    <link href="https://img.rakbow.com/common/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link th:href="@{/css/global.css}" rel="stylesheet" />
    <link th:href="@{/css/iconfont/iconfont.css}" rel="stylesheet" type="text/css" />

    <!-- bootstrap -->
    <link rel="stylesheet" th:href="@{/css/bootstrap/myBootstrap.min.css}">
    <script th:src="@{/tool/bootstrap/bootstrap.min.js}"></script>

    <!-- PrimeVue css-->
    <link th:href="@{/css/primevue/themes/lara-light-blue/theme.css}" rel="stylesheet" />
    <link th:href="@{/css/primevue/primevue.min.css}" rel="stylesheet" />
    <link th:href="@{/css/primeflex/primeflex.min.css}" rel="stylesheet" />
    <link th:href="@{/css/primeicons/primeicons.css}" rel="stylesheet" />

    <!-- Vue3 -->
    <script th:src="@{/js/vue/vue.global.js}"></script>
    <script th:src="@{/js/primevue/primevue.min.js}"></script>
    <script th:src="@{/js/vue/vue-router.global.js}"></script>

    <!-- PrimeVue Components -->
    <script th:src="@{/js/primevue/components/menubar.min.js}"></script>
    <script th:src="@{/js/primevue/components/avatar.min.js}"></script>
    <script th:src="@{/js/primevue/components/inputtext.min.js}"></script>
    <script th:src="@{/js/primevue/components/toast.min.js}"></script>
    <script th:src="@{/js/primevue/components/toastservice.min.js}"></script>

    <!-- Axios -->
    <script th:src="@{/tool/axios/axios.js}"></script>

    <!-- Jquery -->
    <script th:src="@{/js/jquery.js}"></script>

    <!-- basic js -->
    <script th:src="@{/js/basic/Data_Helper.js}"></script>
    <script th:src="@{/js/basic/Http_Request.js}"></script>
    <script th:src="@{/js/basic/Rakbow_Web_Helper_Str.js}"></script>
    <script th:src="@{/js/basic/Rakbow_Web_Exception_Str_CN.js}"></script>
</head>
<body>
<div class="nk-container">
    <div class="main">
        <div id="app">
            <!-- 头部 -->
            <header class="sticky-top mb-2" th:insert="~{template/header :: site_header}"></header>

            <p-toast></p-toast>

            <!-- 尾部 -->
            <footer class="mt-2" th:insert="~{template/footer :: site_footer}"></footer>
        </div>
    </div>
</div>
<script type="module" th:inline="javascript">
    const {createApp, onMounted, ref} = Vue;
    const Tooltip = primevue.tooltip;
    const {useToast} = primevue.usetoast;

    const App = {
        setup() {
            onMounted(() => {
            });

            //region 基础配置
            const toast = useToast();
            const domainUrl = DOMAIN_URL;
            const selectedEntity = ref();
            const entityType = ref(ENTITY_TYPE);
            const notLoginNavbarItems = ref(NOT_LOGIN_NAVBAR_ITEMS);
            const loginNavbarItems = ref(LOGIN_NAVBAR_ITEMS);
            //endregion

            return {
                toast, domainUrl, notLoginNavbarItems, loginNavbarItems, entityType, selectedEntity,
            }
        },
        components: {
            "p-dropdown": primevue.dropdown,
            "p-button": primevue.button,
            "p-menubar": primevue.menubar,
            "p-avatar": primevue.avatar,
            "p-inputtext": primevue.inputtext,
            "p-toast": primevue.toast,
        }
    };

    const routes = [{path: "/", component: App}];

    const router = VueRouter.createRouter({
        // history: VueRouter.createWebHashHistory(),
        history: VueRouter.createWebHistory(),
        routes
    });

    createApp(App)
        .use(router)
        .use(primevue.toastservice)
        .use(primevue.config.default)
        .directive('tooltip', Tooltip)
        .mount("#app");
</script>
<style>
</style>
</body>
</html>