<p-blockui :blocked="editBlock">
    <md-editor-v3 v-model="descriptionMd" preview-theme="github"></md-editor-v3>
    <div class="text-end mt-3 mb-2">
        <p-button icon="pi pi-times" label="取消" @click="closeDescriptionEditDialog"
              class="p-button-text"></p-button>
        <p-button icon="pi pi-save" label="保存" @click="submitDescription"></p-button>
    </div>
    <p-panel>
        <div v-if="images.length != 0">
            <p-datatable :value="images" class="p-datatable-sm" striped-rows>
                <p-column header="图片" header-style="width: 8%">
                    <template #body="slotProps">
                        <img :src="slotProps.data.thumbUrl50" :alt="slotProps.data.nameEn"
                             class="edit-image"/>
                    </template>
                </p-column>
                <p-column field="url" header="URL" header-style="width: 10%">
                    <template #body="slotProps">
                        {{slotProps.data.url.substr(22)}}
                    </template>
                </p-column>
                <p-column field="nameZh" header="名(中)" header-style="width: 10%"></p-column>
                <p-column field="nameEn" header="名(英)" header-style="width: 10%"></p-column>
                <p-column field="description" header="描述" header-style="width: 15%"></p-column>
            </p-datatable>
        </div>
        <div v-else>
            <span class="emptyInfo"><em>暂无图片</em></span>
        </div>
    </p-panel>
</p-blockui>