<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Game Detail</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>

    <!-- bootstrap -->
    <link rel="stylesheet" th:href="@{/css/bootstrap/myBootstrap.min.css}">
    <script th:src="@{/tool/bootstrap/bootstrap.min.js}"></script>

    <link href="https://img.rakbow.com/common/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
    <link th:href="@{/css/iconfont/iconfont.css}" rel="stylesheet" />

    <!-- PrimeVue -->
    <link th:href="@{/css/primevue/themes/bootstrap4-dark-blue/theme.css}" rel="stylesheet"/>
    <link th:href="@{/css/primevue/primevue.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/primeflex/primeflex.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/primeicons/primeicons.css}" rel="stylesheet"/>

    <!-- Vue3 -->
    <script th:src="@{/js/vue/vue.global.js}"></script>
    <script th:src="@{/js/primevue/primevue.min.js}"></script>
    <script th:src="@{/js/vue/vue-router.global.js}"></script>

    <!-- PrimeVue Components -->
    <script th:src="@{/js/primevue/components/fileupload.min.js}"></script>
    <script th:src="@{/js/primevue/components/panel.min.js}"></script>
    <script th:src="@{/js/primevue/components/divider.min.js}"></script>
    <script th:src="@{/js/primevue/components/dialog.min.js}"></script>
    <script th:src="@{/js/primevue/components/fieldset.min.js}"></script>
    <script th:src="@{/js/primevue/components/chips.min.js}"></script>
    <script th:src="@{/js/primevue/components/inputtext.min.js}"></script>
    <script th:src="@{/js/primevue/components/multiselect.min.js}"></script>
    <script th:src="@{/js/primevue/components/galleria.min.js}"></script>
    <script th:src="@{/js/primevue/components/menubar.min.js}"></script>
    <script th:src="@{/js/primevue/components/avatar.min.js}"></script>
    <script th:src="@{/js/primevue/components/toast.min.js}"></script>
    <script th:src="@{/js/primevue/components/toastservice.min.js}"></script>
    <script th:src="@{/js/primevue/components/textarea.min.js}"></script>
    <script th:src="@{/js/primevue/components/calendar.min.js}"></script>
    <script th:src="@{/js/primevue/components/inputnumber.min.js}"></script>
    <script th:src="@{/js/primevue/components/inputswitch.min.js}"></script>
    <script th:src="@{/js/primevue/components/splitbutton.min.js}"></script>
    <script th:src="@{/js/primevue/components/datatable.min.js}"></script>
    <script th:src="@{/js/primevue/components/column.min.js}"></script>
    <script th:src="@{/js/primevue/components/contextmenu.min.js}"></script>
    <script th:src="@{/js/primevue/components/inplace.min.js}"></script>
    <script th:src="@{/js/primevue/components/blockui.min.js}"></script>
    <script th:src="@{/js/primevue/components/card.min.js}"></script>
    <script th:src="@{/js/primevue/components/tag.min.js}"></script>

    <script th:src="@{/js/primevue/components/scrolltop.min.js}"></script>
    <script th:src="@{/js/primevue/components/scrollpanel.min.js}"></script>
    <script th:src="@{/js/primevue/components/dynamicdialog.min.js}"></script>
    <script th:src="@{/js/primevue/components/dialogservice.min.js}"></script>
    <script th:src="@{/js/primevue/components/divider.min.js}"></script>
    <script th:src="@{/js/primevue/components/chip.min.js}"></script>
    <script th:src="@{/js/primevue/components/menubar.min.js}"></script>
    <script th:src="@{/js/primevue/components/avatar.min.js}"></script>
    <script th:src="@{/js/primevue/components/tag.min.js}"></script>

    <!-- Jquery -->
    <script th:src="@{/js/jquery.js}"></script>

    <!-- high light js -->
    <link th:href="@{/tool/highlight/default.min.css}" rel="stylesheet">
    <script th:src="@{/tool/highlight/highlight.min.js}"></script>

    <!-- md-editor-v3 -->
    <script th:src="@{/tool/md-editor-v3/md-editor-v3.umd.js}"></script>
    <link th:href="@{/tool/md-editor-v3/style.css}" rel="stylesheet">

    <!-- marked -->
    <script th:src="@{/js/marked.min.js}"></script>
    <link th:href="@{/css/github-markdown/github-markdown.css}" rel="stylesheet" />
    <script th:src="@{/js/clipboard.js}"></script>

    <!-- flag-icons -->
    <link th:href="@{/css/flag-icons/css/flag-icons.css}" rel="stylesheet">

    <!-- basic js -->
    <script th:src="@{/js/basic/Data_Helper.js}"></script>
    <script th:src="@{/js/basic/Rakbow_Web_Helper_Str.js}"></script>
    <script th:src="@{/js/basic/Rakbow_Web_Exception_Str_CN.js}"></script>

    <!--other css -->
    <link th:href="@{/css/global.css}" rel="stylesheet"/>
    <link th:href="@{/css/search.css}" rel="stylesheet"/>
    <link th:href="@{/css/item-detail.css}" rel="stylesheet"/>
</head>
<body>
<div id="app">
    <!-- 头部 -->
    <header class="sticky-top mb-2" th:insert="~{template/header :: site_header}"></header>

    <div id="main" class="grid mt-2">
        <p-toast></p-toast>
        <div class="detail-card col-8 lg:col-offset-1">
            <p-card>
                <template #title>
                    <div class="grid detail-item-header-title">
                        <h4 class="col-11">
                            <b class="detail-item-title">
                                <i class="pi iconfont icon-youxi" style="font-size: 1.5rem"></i>
                                {{game.name}}
                            </b>
                        </h4>
                        <div th:insert="~{template/item-detail-template :: item_common_edit_button}"></div>
                    </div>
                </template>
                <template #subtitle>
                    <h5 v-if="game.nameZh != ''" class="detail-item-subtitle"><small class="ml-4">{{game.nameZh}}</small></h5>
                    <h5 v-else><small></small></h5>
                    <h5 v-if="game.nameEn != ''" class="detail-item-subtitle"><small class="ml-4">{{game.nameEn}}</small></h5>
                    <h5 v-else><small></small></h5>
                </template>
                <template #content>
                    <div class="grid">
                        <div class="col-4" style="width: 150px">
                            <div class="game-detail-cover">
                                <img :src="itemImageInfo.cover.url" :alt="itemImageInfo.cover.name"/>
                            </div>
                        </div>
                        <div class="col detail-item-header-card">
                            <p-card>
                                <template #content>
                                    <table class="table-borderless table-sm ml-2">
                                        <tbody class="detail-item-header-table">
                                        <tr>
                                            <td>
                                                <i class="pi pi-calendar"></i>
                                                <strong>发售日期</strong>
                                            </td>
                                            <td>
                                                {{game.releaseDate}}
                                            </td>
                                        </tr>
                                        <tr v-if="game.barcode != '' && game.barcode != null">
                                            <td>
                                                <i class="pi iconfont icon-bar-code"></i>
                                                <strong>商品条形码</strong>
                                            </td>
                                            <td>
                                                {{game.barcode}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="pi pi-th-large"></i>
                                                <strong>发售类型</strong>
                                            </td>
                                            <td>
                                                {{game.releaseType.nameZh}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="pi iconfont icon-yingyong"></i>
                                                <strong>发售平台</strong>
                                            </td>
                                            <td>
                                                <p-tag class="ml-1" :value="game.platform.nameEn"></p-tag>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="pi pi-globe"></i>
                                                <strong>地区</strong>
                                            </td>
                                            <td>
                                                <span :class="'fi fi-' + game.region.code" style="margin-left: 0.5rem"
                                                      v-tooltip.bottom="{value: game.region.nameZh, class: 'region-tooltip'}"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="pi iconfont icon-gift"></i>
                                                <strong>特典</strong>
                                            </td>
                                            <td>
                                                <a v-if="game.hasBonus" href="#bonus" style="color: #ceffff" class="ml-2">有</a>{{(game.hasBonus)?"":"无"}}
                                            </td>
                                        </tr>
                                        <div v-if="game.organizations.length != 0">
                                            <tr v-for="item in game.organizations">
                                                <td>
                                                    <i class="pi iconfont icon-gongsi"></i>
                                                    <strong>{{item.label}}</strong>
                                                </td>
                                                <td>
                                                    {{item.value.join(", ")}}
                                                </td>
                                            </tr>
                                        </div>
                                        </tbody>
                                    </table>
                                </template>
                            </p-card>
                        </div>
                    </div>
                    <div class="detail-item-field">
                        <!-- staffs -->
                        <p-fieldset :toggleable="true">
                            <template #legend>
                                <i class="pi pi-users"></i>
                                <b>开发制作人员</b>
                            </template>
                            <div class="grid ml-4" v-if="game.staffs.length != 0">
                                <table class="table-borderless table-sm">
                                    <tbody class="detail-item-artists-table">
                                    <tr v-for="staff in game.staffs">
                                        <td width="80px"><strong>{{staff.pos}}</strong></td>
                                        <td>
                                            {{staff.name.join(", ")}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div v-else>
                                <span class="emptyInfo"><em>暂无开发制作人员信息</em></span>
                            </div>
                        </p-fieldset>
                        <!-- description -->
                        <div th:insert="~{template/item-detail-template :: description_field_set}"></div>
                        <!-- bonus -->
                        <div v-if="game.hasBonus">
                            <div th:insert="~{template/item-detail-template :: bonus_field_set}"></div>
                        </div>
                    </div>
                </template>
            </p-card>
        </div>
        <div class="col-2" style="min-width: 300px">
            <div th:insert="~{template/item-detail-template :: belong_to_panel}"></div>
            <div class="mt-2" th:insert="~{template/item-detail-template :: sider_image_panel}"></div>
            <p-panel class="mt-2">
                <template #header>
                    <span class="text-start side-panel-header">
                        <i class="pi iconfont icon-youxi"></i><span><strong>相关游戏</strong></span>
                    </span>
                </template>
                <div class="grid">
                    <span class="small_font">
                        <div class="info_bit_small small_font grid m-0 p-0"
                             v-if="relatedGames.length != 0"
                             v-for="relatedGame of relatedGames">
                            <div class="sidebar-panel-image-small-div game_info_bit_thumb mt-2">
                                <a :href="'/db/game/'+ relatedGame.id">
                                    <img class="sidebar-panel-image-small" :src="relatedGame.cover.blackUrl" v-tooltip.bottom="'收录时间: ' + relatedGame.addedTime + '编辑时间: ' + relatedGame.editedTime">
                                </a>
                            </div>
                            <div class="col p-0" style="height: 80px">
                                <ul class="info_bit_small_other">
                                    <li>
                                        <a class="small_font"
                                           :href="'/db/game/'+ relatedGame.id ">
                                            <span class="text-truncate-2 mr-2">
                                                {{relatedGame.name}}
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <span class="small_font col-6 related-item-catalog">
                                            {{relatedGame.releaseDate}}
                                        </span>
                                        <span class="small_font col-6 related-item-date">
                                            <b>{{relatedGame.platform.nameEn}}</b> <span :class="'fi fi-' + relatedGame.region.code"></span>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </span>
                </div>
            </p-panel>
            <div th:insert="~{template/item-detail-template :: page_info_card}"></div>
        </div>
    </div>
    <p-dialog :modal="true" v-model:visible="displayEditDialog" header="编辑基础信息"
              :style="{width: '600px'}" class="p-fluid">
        <p-blockui :blocked="editBlock">
            <div class="field">
                <label>游戏名<span style="color: red">*</span></label>
                <p-inputtext v-model.trim="gameEdit.name"></p-inputtext>
            </div>
            <div class="field">
                <label>游戏名(中)</label>
                <p-inputtext v-model.trim="gameEdit.nameZh"></p-inputtext>
            </div>
            <div class="field">
                <label>游戏名(英)</label>
                <p-inputtext v-model.trim="gameEdit.nameEn"></p-inputtext>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <label>商品条形码</label>
                    <p-inputtext v-model.trim="gameEdit.barcode"></p-inputtext>
                </div>
                <div class="field col">
                    <label>发行时间<span style="color: red">*</span></label>
                    <p-calendar v-model="gameEdit.releaseDate" date-format="yy/mm/dd"
                                :show-button-bar="true"
                                :show-icon="true"></p-calendar>
                </div>
                <div class="field col-2">
                    <div class="col-12">
                        <label class="mb-3">特典</label>
                    </div>
                    <div class="col-12 mt-3">
                        <p-inputswitch v-model="gameEdit.hasBonus" :true-value="1"
                                       :false-value="0"></p-inputswitch>
                    </div>
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <label class="mb-3">发售类型<span style="color: red">*</span></label>
                    <p-dropdown v-model="gameEdit.releaseType" :options="releaseTypeSet"
                                option-label="labelZh" option-value="value">
                    </p-dropdown>
                </div>
                <div class="field col">
                    <label class="mb-3">发售平台<span style="color: red">*</span></label>
                    <p-dropdown v-model="gameEdit.platform" :options="gamePlatformSet"
                                option-label="labelEn" option-value="value">
                    </p-dropdown>
                </div>
                <div class="field col">
                    <label class="mb-3">地区<span style="color: red">*</span></label>
                    <p-dropdown v-model="gameEdit.region" :options="regionSet" :filter="true"
                                :show-clear="true" option-label="nameZh" option-value="code">
                        <template #value="slotProps">
                            <div class="country-item" v-if="slotProps.value">
                                <span :class="'fi fi-' + slotProps.value"></span>
                                <div class="ml-2">{{regionCode2NameZh(slotProps.value, regionSet)}}</div>
                            </div>
                            <span v-else>选择地区</span>
                        </template>
                        <template #option="slotProps">
                            <div class="country-item">
                                <span :class="'fi fi-' + slotProps.option.code"></span>
                                <div class="ml-2">{{slotProps.option.nameZh}}</div>
                            </div>
                        </template>
                    </p-dropdown>
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col-4">
                    <label class="mb-3">所属系列<span style="color: red">*</span></label>
                    <p-multiselect v-model="gameEdit.franchises" @change="getProducts($event)"
                                   :options="franchiseSet" placeholder="所属系列"
                                   option-label="label" option-value="value" display="chip" :filter="true">
                    </p-multiselect>
                </div>
                <div class="field col-8">
                    <label class="mb-3">所属产品<span style="color: red">*</span></label>
                    <p-multiselect v-model="gameEdit.products" :options="productSet"
                                   option-label="label" option-value="value" placeholder="选择所属作品"
                                   display="chip" :filter="true" :disabled="productSelect">
                    </p-multiselect>
                </div>
            </div>
            <div class="field">
                <label>备注</label>
                <p-textarea v-model="gameEdit.remark" rows="3" cols="20"
                            :auto-resize="true"></p-textarea>
            </div>
        </p-blockui>
        <template #footer>
            <p-button label="取消" icon="pi pi-times" class="p-button-text"
                      @click="closeEditDialog" :disabled="editBlock"></p-button>
            <p-button label="保存" icon="pi pi-check" class="p-button-text"
                      @click="submitEditGame" :disabled="editBlock"></p-button>
        </template>
    </p-dialog>
    <p-dialog :modal="true" v-model:visible="displayOrganizationEditDialog" header="编辑关联组织信息"
              :style="{width: '800px'}">
        <p-blockui :blocked="editBlock">
            <p-panel>
                <template #header>
                    <i class="pi pi-user-plus mr-2" style="font-size: 2rem"></i>
                    <b>新增</b>
                </template>
                <div class="grid">
                    <div class="col-3">
                        <div class="p-inputgroup">
                                        <span class="p-inputgroup-addon">
                                            <i class="pi pi-tag"></i>
                                        </span>
                            <p-inputtext v-model="organization.label" placeholder="组织类型"></p-inputtext>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="p-inputgroup">
                                        <span class="p-inputgroup-addon">
                                            <i class="pi iconfont icon-gongsi"></i>
                                        </span>
                            <p-chips v-model="organization.value" placeholder="组织名称" separator=","></p-chips>
                        </div>
                    </div>
                    <div class="col-2">
                        <p-button label="新增" icon="pi pi-save"
                                  @click="addOrganization"></p-button>
                    </div>
                </div>
            </p-panel>
            <p-panel>
                <template #header>
                    <i class="pi pi-user-edit mr-2" style="font-size: 2rem"></i>
                    <b>编辑</b>
                </template>
                <div v-if="tmpOrganizations.length != 0">
                    <p-datatable dataKey="id" :value="tmpOrganizations" responsive-layout="scroll"
                                 class="p-datatable-sm" striped-rows @row-reorder="organizationOnRowReorder"
                                 context-menu v-model:context-menu-selection="selectedOrganization"
                                 @row-contextmenu="organizationRowMenu" edit-mode="row"
                                 v-model:editing-rows="organizationEditingRows" @row-edit-save="organizationOnRowEditSave">
                        <p-column :row-reorder="true"></p-column>
                        <p-column field="label" header="组织类型">
                            <template #editor="{ data, field }">
                                <p-inputtext v-model="data[field]" autofocus></p-inputtext>
                            </template>
                        </p-column>
                        <p-column field="value" header="组织名称">
                            <template #body="slotProps">
                                {{slotProps.data.value.join("/")}}
                            </template>
                            <template #editor="{ data, field }">
                                <p-chips v-model="data[field]"></p-chips>
                            </template>
                        </p-column>
                        <p-column :row-editor="true" style="width:10%; min-width:8rem"
                                  bodyStyle="text-align:center"></p-column>
                    </p-datatable>
                    <p-contextmenu :model="organizationMenuModel" ref="organizationCm"></p-contextmenu>
                </div>
                <div v-else>
                    <span class="emptyInfo">暂无关联组织信息</span>
                </div>
            </p-panel>
        </p-blockui>
        <template #footer>
            <p-button label="清空" icon="pi pi-trash" class="p-button-danger mr-4"
                      @click="clearOrganizations" :disabled="editBlock"></p-button>
            <p-button label="取消" icon="pi pi-times" class="mr-4"
                      @click="cancelOrganizationsEdit" :disabled="editBlock"></p-button>
            <p-button label="更新" icon="pi pi-save" class="p-button-success mr-4"
                      @click="submitOrganizations" :disabled="editBlock"></p-button>
        </template>
    </p-dialog>
    <p-dialog :modal="true" v-model:visible="displayStaffEditDialog" header="编辑开发制作人员信息"
              :style="{width: '800px'}">
        <p-blockui :blocked="editBlock">
            <p-panel>
                <template #header>
                    <i class="pi pi-user-plus mr-2" style="font-size: 2rem"></i>
                    <b>新增</b>
                </template>
                <div class="grid">
                    <div class="col-3">
                        <div class="p-inputgroup">
                                        <span class="p-inputgroup-addon">
                                            <i class="pi pi-tag"></i>
                                        </span>
                            <p-inputtext v-model="staff.pos" placeholder="职位名称"></p-inputtext>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="p-inputgroup">
                                        <span class="p-inputgroup-addon">
                                            <i class="pi pi-users"></i>
                                        </span>
                            <p-chips v-model="staff.name" placeholder="人员信息" separator=","></p-chips>
                        </div>
                    </div>
                    <div class="col-2">
                        <p-button label="新增" icon="pi pi-save"
                                  @click="addStaff"></p-button>
                    </div>
                </div>
            </p-panel>
            <p-panel>
                <template #header>
                    <i class="pi pi-user-edit mr-2" style="font-size: 2rem"></i>
                    <b>编辑</b>
                </template>
                <div v-if="tmpStaffs.length != 0">
                    <p-datatable dataKey="id" :value="tmpStaffs" responsive-layout="scroll"
                                 class="p-datatable-sm" striped-rows @row-reorder="onRowReorder"
                                 context-menu v-model:context-menu-selection="selectedStaff"
                                 @row-contextmenu="staffRowMenu" edit-mode="row"
                                 v-model:editing-rows="editingRows" @row-edit-save="onRowEditSave">
                        <p-column :row-reorder="true"></p-column>
                        <p-column field="pos" header="职位">
                            <template #editor="{ data, field }">
                                <p-inputtext v-model="data[field]" autofocus></p-inputtext>
                            </template>
                        </p-column>
                        <p-column field="name" header="人员">
                            <template #body="slotProps">
                                {{slotProps.data.name.join("/")}}
                            </template>
                            <template #editor="{ data, field }">
                                <p-chips v-model="data[field]"></p-chips>
                            </template>
                        </p-column>
                        <p-column :row-editor="true" style="width:10%; min-width:8rem"
                                  bodyStyle="text-align:center"></p-column>
                    </p-datatable>
                    <p-contextmenu :model="menuModel" ref="cm"></p-contextmenu>
                </div>
                <div v-else>
                    <span class="emptyInfo">暂无开发制作人员信息</span>
                </div>
            </p-panel>
        </p-blockui>
        <template #footer>
            <p-button label="清空" icon="pi pi-trash" class="p-button-danger mr-4"
                      @click="clearStaffs" :disabled="editBlock"></p-button>
            <p-button label="取消" icon="pi pi-times" class="mr-4"
                      @click="cancelStaffEdit" :disabled="editBlock"></p-button>
            <p-button label="更新" icon="pi pi-save" class="p-button-success mr-4"
                      @click="submitStaff" :disabled="editBlock"></p-button>
        </template>
    </p-dialog>

    <p-dynamicdialog></p-dynamicdialog>
    <!-- 尾部 -->
    <footer class="mt-2" th:insert="~{template/footer :: site_footer}"></footer>
</div>
<script type="module" th:inline="javascript">

    import {postRequest, commonSubmit} from '/js/basic/Http_Request.js';
    import {showSearchPanel} from '/js/basic/Search_Params.js';
    import {showImageEditDialog} from '/js/basic/Item_Detail_Image_Params.js';
    import {showBonusEditDialog, showDescriptionEditDialog} from '/js/basic/Item_Detail_Text_params.js';
    const {createApp, onMounted, ref} = Vue;
    const Tooltip = primevue.tooltip;
    const { useDialog } = primevue.usedialog;
    const {useToast} = primevue.usetoast;

    const App = {
        setup() {
            onMounted(() => {
                init();
                $(window).resize(function () {
                    $("#main").attr("style", "min-height:" + ($(window).height() - 350) + 'px');
                });
            })

            //region common header
            const dialog = useDialog();
            const openSearchPanel = () => {
                showSearchPanel(dialog);
            }
            //endregion

            //region image
            const activeIndex = ref(0)
            const displayCustom = ref(false)
            const imageClick = (index) => {
                activeIndex.value = index;
                displayCustom.value = true;
            };
            //endregion

            //region basic
            const game = ref([[${game}]]);
            const toast = useToast();
            const detailInfo = ref([[${detailInfo}]]);
            const pageInfo = ref([[${pageInfo}]]);
            const itemImageInfo = ref([[${itemImageInfo}]]);
            const franchiseSet = ref([[${franchiseSet}]]);
            const productSet = ref([]);
            const relatedGames = ref([[${relatedGames}]]);
            const releaseTypeSet = ref([[${releaseTypeSet}]]);
            const regionSet = ref([[${regionSet}]]);
            const gamePlatformSet = ref([[${gamePlatformSet}]]);

            //endregion

            //region edit basic info
            const productSelect = ref(true);
            const edits = ref([
                {
                    label: '图片管理',
                    icon: 'pi pi-images',
                    command: () => {
                        showImageEditDialog(toast, dialog, itemImageInfo.value, detailInfo.value);
                    }
                },
                {
                    label: '关联组织',
                    icon: 'pi iconfont icon-gongsi',
                    command: () => {
                        openOrganizationEditDialog();
                    }
                },
                {
                    label: '开发制作人员',
                    icon: 'pi pi-users',
                    command: () => {
                        openStaffEditDialog();
                    }
                },
                {
                    label: '描述信息',
                    icon: 'pi iconfont icon-miaoshu',
                    command: () => {
                        showDescriptionEditDialog(toast, dialog, detailInfo.value);
                    }
                },
                {
                    label: '特典信息',
                    icon: 'pi iconfont icon-gift',
                    command: () => {
                        showBonusEditDialog(toast, dialog, detailInfo.value, game.value.bonus);
                    }
                }
            ]);
            const editBlock = ref(false);
            const gameEdit = ref({});
            const displayEditDialog = ref(false);
            //打开编辑数据面板
            const openEditDialog = () => {
                let dataTmp = JSON.parse(JSON.stringify(game.value));
                dataTmp.hasBonus = game.value.hasBonus ? 1 : 0;
                gameEdit.value = dataTmp;
                gameEdit.value.releaseType = dataTmp.releaseType.id;
                gameEdit.value.region = dataTmp.region.code;
                gameEdit.value.platform = dataTmp.platform.id;
                gameEdit.value.franchises = label2value(detailInfo.value.franchises, franchiseSet.value).concat();
                let json = {
                    franchises: gameEdit.value.franchises,
                    entityType: ENTITY.GAME
                };
                postRequest(null, GET_PRODUCT_SET_URL, json)
                    .then(res => {
                        if(res.state === 1) {
                            if (res.data.length !== 0) {
                                productSet.value = res.data;
                                productSelect.value = false;
                            } else {
                                productSelect.value = true;
                            }
                            gameEdit.value.products = label2value(detailInfo.value.products, productSet.value).concat();
                            displayEditDialog.value = true;
                        }
                    });
            };
            //关闭编辑数据面板
            const closeEditDialog = () => {
                displayEditDialog.value = false;
                gameEdit.value = {};
            };
            //保存编辑数据
            const submitEditGame = () => {
                editBlock.value = true;
                commonSubmit(toast, editBlock, UPDATE_GAME_URL, gameEdit.value)
                    .then(res => {
                        if (res.state === 1) {
                            gameEdit.value = {};
                            closeEditDialog();
                            location.reload(true);
                        }
                    })
                    .catch(error => {
                        console.error(error);
                    });
            };
            //根据系列id获取该系列所有作品
            const getProducts = (ev) => {
                if(ev.value.length !== 0) {
                    let json = {
                        franchises: ev.value,
                        entityType: ENTITY.GAME
                    };
                    postRequest(null, GET_PRODUCT_SET_URL, json)
                        .then(res => {
                            if(res.state === 1) {
                                if (res.length !== 0) {
                                    productSet.value = res.data;
                                    productSelect.value = false;
                                } else {
                                    productSelect.value = true;
                                    gameEdit.value.products = [];
                                }
                            }
                        });
                }else {
                    productSelect.value = true;
                    gameEdit.value.products = [];
                }
            };
            //endregion

            //region init
            const init = () => {
                text2marked();
                $("#main").attr("style", "min-height:" + ($(window).height() - 350) + 'px');
            };
            const text2marked = () => {
                const bonus = game.value.bonus;

                if (detailInfo.value.description != null && detailInfo.value.description !== "") {
                    document.getElementById("description").innerHTML = marked.parse(detailInfo.value.description);
                }

                if (game.value.hasBonus && bonus != null && bonus !== "") {
                    document.getElementById("bonus").innerHTML = marked.parse(bonus);
                }
                if ((bonus == null || bonus === "") && game.value.hasBonus) {
                    //<![CDATA[
                    document.getElementById("bonus").innerHTML = "<span class='emptyInfo'><em>暂无特典信息</em></span>";
                    //]]>
                }
            };
            //endregion

            //region staffs
            const tmpStaffs = ref();
            const cm = ref();
            const selectedStaff = ref();
            const staff = ref({});
            const staffs = ref([]);
            const displayStaffEditDialog = ref(false);
            const menuModel = ref([
                {label: '删除', icon: 'pi pi-fw pi-user-minus', command: () => deleteStaff(selectedStaff)}
            ]);
            const onRowReorder = (ev) => {
                tmpStaffs.value = ev.value;
            };
            const staffRowMenu = (ev) => {
                cm.value.show(ev.originalEvent);
            };
            const deleteStaff = (staff) => {
                tmpStaffs.value = tmpStaffs.value.filter((s) => s.pos !== staff.value.pos);
                toast.add({severity: 'error', summary: '已删除', detail: staff.value.pos, life: 3000});
                selectedStaff.value = null;
            };
            const editingRows = ref([]);
            const onRowEditSave = (ev) => {
                let {newData, index} = ev;

                tmpStaffs.value[index] = newData;
            };

            const openStaffEditDialog = () => {
                tmpStaffs.value = JSON.parse(JSON.stringify(game.value.staffs));
                staff.value = {};
                displayStaffEditDialog.value = true;
            };
            const clearStaffs = () => {
                tmpStaffs.value = [];
            };
            const addStaff = () => {
                tmpStaffs.value.push(staff.value);
                staff.value = {};
            }
            const cancelStaffEdit = () => {
                staff.value = {};
                displayStaffEditDialog.value = false;
            };
            const submitStaff = () => {
                editBlock.value = true;
                let json = {
                    id: game.value.id,
                    Staffs: tmpStaffs.value
                }
                commonSubmit(toast, editBlock, UPDATE_GAME_STAFFS_URL, json)
                    .then(res => {
                        if (res.state === 1) {
                            displayStaffEditDialog.value = false;
                            staff.value = {};
                            location.reload(true);
                        }
                    })
            };
            //endregion

            //region organization
            const tmpOrganizations = ref();
            const organizationCm = ref();
            const selectedOrganization = ref();
            const organization = ref({});
            const organizations = ref([]);
            const displayOrganizationEditDialog = ref(false);
            const organizationMenuModel = ref([
                {label: '删除', icon: 'pi pi-fw pi-user-minus', command: () => deleteOrganization(selectedOrganization)}
            ]);
            const organizationOnRowReorder = (ev) => {
                tmpOrganizations.value = ev.value;
            };
            const organizationRowMenu = (ev) => {
                organizationCm.value.show(ev.originalEvent);
            };
            const deleteOrganization = (organization) => {
                tmpOrganizations.value = tmpOrganizations.value.filter((o) => o.label !== organization.value.label);
                toast.add({severity: 'error', summary: '已删除', detail: organization.value.value, life: 3000});
                selectedOrganization.value = null;
            };
            const organizationEditingRows = ref([]);
            const organizationOnRowEditSave = (ev) => {
                let {newData, index} = ev;

                tmpOrganizations.value[index] = newData;
            };

            const openOrganizationEditDialog = () => {
                tmpOrganizations.value = JSON.parse(JSON.stringify(game.value.organizations));
                organization.value = {};
                displayOrganizationEditDialog.value = true;
            };
            const clearOrganizations = () => {
                tmpOrganizations.value = [];
            };
            const addOrganization = () => {
                tmpOrganizations.value.push(organization.value);
                organization.value = {};
            }
            const cancelOrganizationsEdit = () => {
                organization.value = {};
                displayOrganizationEditDialog.value = false;
            };
            const submitOrganizations = () => {
                editBlock.value = true;
                let json = {
                    id: game.value.id,
                    organizations: tmpOrganizations.value
                }
                commonSubmit(toast, editBlock, UPDATE_GAME_ORGANIZATIONS_URL, json)
                    .then(res => {
                        if (res.state === 1) {
                            displayOrganizationEditDialog.value = false;
                            organization.value = {};
                            location.reload(true);
                        }
                    })
            };
            //endregion

            return {
                //header
                dialog, openSearchPanel, NOT_LOGIN_NAVBAR_ITEMS, LOGIN_NAVBAR_ITEMS,

                //image
                activeIndex, displayCustom, imageClick, initGalleriaImageClass,

                //basic
                game, detailInfo, itemImageInfo, pageInfo, currencyUnitSet, getProducts, productSelect, franchiseSet,
                gamePlatformSet, regionSet, releaseTypeSet, productSet, relatedGames, responsiveOptions,
                regionCode2NameZh,

                //edit
                editBlock, gameEdit, edits, displayEditDialog, openEditDialog, closeEditDialog, submitEditGame,

                //staffs
                displayStaffEditDialog, tmpStaffs, cm, staff, staffs, menuModel, editingRows, selectedStaff,
                addStaff, clearStaffs, submitStaff, deleteStaff, cancelStaffEdit, staffRowMenu, onRowEditSave,
                onRowReorder,

                //organization
                displayOrganizationEditDialog, tmpOrganizations, organizationCm, organization, organizations,
                organizationMenuModel, organizationEditingRows, selectedOrganization, addOrganization,
                clearOrganizations, submitOrganizations, deleteOrganization, cancelOrganizationsEdit,
                organizationRowMenu, organizationOnRowEditSave, organizationOnRowReorder,
            }
        },
        components: {
            "p-panel": primevue.panel,
            "p-fieldset": primevue.fieldset,
            "p-button": primevue.button,
            "p-dialog": primevue.dialog,
            "p-chips": primevue.chips,
            "p-divider": primevue.divider,
            "p-inputtext": primevue.inputtext,
            "p-multiselect": primevue.multiselect,
            "p-galleria": primevue.galleria,
            "p-menubar": primevue.menubar,
            "p-avatar": primevue.avatar,
            "p-toast": primevue.toast,
            "p-dropdown": primevue.dropdown,
            "p-textarea": primevue.textarea,
            "p-calendar": primevue.calendar,
            "p-inputnumber": primevue.inputnumber,
            "p-inputswitch": primevue.inputswitch,
            "p-splitbutton": primevue.splitbutton,
            "p-datatable": primevue.datatable,
            "p-column": primevue.column,
            "p-contextmenu": primevue.contextmenu,
            "p-inplace": primevue.inplace,
            "p-blockui": primevue.blockui,
            "p-card": primevue.card,
            "p-tag": primevue.tag,

            "p-dynamicdialog": primevue.dynamicdialog,
        }
    };

    const routes = [{path: GAME_DETAIL_URL + [[${detailInfo.id}]], component: App}];

    const router = VueRouter.createRouter({
        history: VueRouter.createWebHistory(),
        routes
    });

    createApp(App)
        .use(router)
        .use(primevue.toastservice)
        .use(primevue.config.default)
        .use(MdEditorV3)
        .directive('tooltip', Tooltip)
        .use(primevue.dialogservice)
        .mount("#app");
</script>
<style>
    .game-detail-cover {
        transform:translateY(7px);
        width: 140px;
        height: 140px;
    }

    .game-detail-cover img {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        transform: translate(-50%, -50%);
        cursor: pointer;
        pointer-events: none;
    }












</style>
</body>
</html>