<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${book.title}"></title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>

    <!-- bootstrap -->
    <link rel="stylesheet" th:href="@{/css/bootstrap/myBootstrap.min.css}">
    <script th:src="@{/tool/bootstrap/bootstrap.bundle.min.js}"></script>

    <link href="https://img.rakbow.com/common/logo/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
    <link th:href="@{/css/iconfont/iconfont.css}" rel="stylesheet" />

    <!-- PrimeVue -->
    <link th:href="@{/css/primevue/bootstrap4-dark-blue.css}" rel="stylesheet"/>
    <link th:href="@{/css/primevue/primevue.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/primevue/primeflex.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/primevue/primeicon/primeicons.css}" rel="stylesheet"/>

    <!-- Vue3 -->
    <script th:src="@{/js/vue/vue.global.min.js}"></script>
    <script th:src="@{/js/primevue/core.min.js}"></script>
    <script th:src="@{/js/vue/vue-router.global.min.js}"></script>

    <!-- PrimeVue Components -->
    <script th:src="@{/js/primevue/components/fileupload.min.js}"></script>
    <script th:src="@{/js/primevue/components/panel.min.js}"></script>
    <script th:src="@{/js/primevue/components/divider.min.js}"></script>
    <script th:src="@{/js/primevue/components/dialog.min.js}"></script>
    <script th:src="@{/js/primevue/components/fieldset.min.js}"></script>
    <script th:src="@{/js/primevue/components/chips.min.js}"></script>
    <script th:src="@{/js/primevue/components/inputtext.min.js}"></script>
    <script th:src="@{/js/primevue/components/multiselect.min.js}"></script>
    <script th:src="@{/js/primevue/components/galleria.min.js}"></script>
    <script th:src="@{/js/primevue/components/menubar.min.js}"></script>
    <script th:src="@{/js/primevue/components/avatar.min.js}"></script>
    <script th:src="@{/js/primevue/components/toast.min.js}"></script>
    <script th:src="@{/js/primevue/components/toastservice.min.js}"></script>
    <script th:src="@{/js/primevue/components/textarea.min.js}"></script>
    <script th:src="@{/js/primevue/components/calendar.min.js}"></script>
    <script th:src="@{/js/primevue/components/inputnumber.min.js}"></script>
    <script th:src="@{/js/primevue/components/inputswitch.min.js}"></script>
    <script th:src="@{/js/primevue/components/splitbutton.min.js}"></script>
    <script th:src="@{/js/primevue/components/datatable.min.js}"></script>
    <script th:src="@{/js/primevue/components/column.min.js}"></script>
    <script th:src="@{/js/primevue/components/contextmenu.min.js}"></script>
    <script th:src="@{/js/primevue/components/inplace.min.js}"></script>
    <script th:src="@{/js/primevue/components/blockui.min.js}"></script>
    <script th:src="@{/js/primevue/components/card.min.js}"></script>
    <script th:src="@{/js/primevue/components/tag.min.js}"></script>
    <script th:src="@{/js/primevue/components/checkbox.min.js}"></script>

    <script th:src="@{/js/primevue/components/scrolltop.min.js}"></script>
    <script th:src="@{/js/primevue/components/scrollpanel.min.js}"></script>
    <script th:src="@{/js/primevue/components/dynamicdialog.min.js}"></script>
    <script th:src="@{/js/primevue/components/dialogservice.min.js}"></script>
    <script th:src="@{/js/primevue/components/chip.min.js}"></script>
    <script th:src="@{/js/primevue/components/skeleton.min.js}"></script>

    <!-- Jquery -->
    <script th:src="@{/js/jquery.js}"></script>

    <!-- high light js -->
    <link th:href="@{/tool/highlight/default.min.css}" rel="stylesheet">
    <script th:src="@{/tool/highlight/highlight.min.js}"></script>

    <!-- md-editor-v3 -->
    <script th:src="@{/tool/md-editor-v3/md-editor-v3.umd.js}"></script>
    <link th:href="@{/tool/md-editor-v3/style.min.css}" rel="stylesheet">

    <!-- marked -->

    <link th:href="@{/css/github-markdown/github-markdown.css}" rel="stylesheet" />

    <script th:src="@{/js/clipboard.js}"></script>

    <!-- flag-icons -->
    <link th:href="@{/css/flag-icons/css/flag-icons.css}" rel="stylesheet">

    <!-- basic js -->
    <script th:src="@{/js/basic/Data_Helper.js}"></script>
    <script th:src="@{/js/basic/Rakbow_Web_Url_Helper_Str.js}"></script>
    <script th:src="@{/js/basic/Rakbow_Web_Exception_Str_CN.js}"></script>

    <!--other css -->
    <link th:href="@{/css/global.css}" rel="stylesheet"/>
    <link th:href="@{/css/topbar.css}" rel="stylesheet"/>
    <link th:href="@{/css/search.css}" rel="stylesheet"/>
    <link th:href="@{/css/item-detail.css}" rel="stylesheet"/>



    <!-- tingle -->
    <script th:src="@{/tool/tingle/tingle.min.js}"></script>
    <link th:href="@{/tool/tingle/tingle.min.css}" rel="stylesheet">
</head>
<body>
 <div id="app" style="margin-top: 60px">
    <!-- header -->
    <header class="sticky-top mb-2" th:insert="~{template/header :: site_header}"></header>

    <div id="main" class="grid mt-2">
        <p-toast></p-toast>
        <div class="detail-card col-8 lg:col-offset-1">
            <p-card>
                <template #title>
                    <div class="grid detail-item-header-title">
                        <h4 class="col-11">
                            <b class="detail-item-title">
                                <i class="pi iconfont icon-book" style="font-size: 1.5rem"></i>
                                {{book.title}}
                            </b>
                        </h4>
                        <div th:insert="~{template/item-detail-template :: item_common_edit_button}"></div>
                    </div>
                </template>
                <template #subtitle>
                    <h5 v-if="book.titleZh != ''" class="detail-item-subtitle"><small
                            class="ml-4">{{book.titleZh}}</small></h5>
                    <h5 v-else><small></small></h5>
                    <h5 v-if="book.titleEn != ''" class="detail-item-subtitle"><small
                            class="ml-4">{{book.titleEn}}</small></h5>
                    <h5 v-else><small></small></h5>
                </template>
                <template #content>
                    <div class="grid">
                        <div class="col-4" style="width: 190px">
                            <div class="book-detail-cover">
                                <img :src="itemImageInfo.cover.url" :alt="itemImageInfo.cover.name"/>
                            </div>
                        </div>
                        <div class="col detail-item-header-card">
                            <p-card>
                                <template #content>
                                    <div class="relative">
                                        <table class="table-borderless table-sm ml-2">
                                            <tbody class="detail-item-header-table">
                                            <tr>
                                                <td>
                                                    <i class="pi iconfont icon-bar-code"></i>
                                                    <strong>{{RKW_Web.BookISBN10}}</strong>
                                                </td>
                                                <td>
                                                    {{book.isbn10}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <i class="pi iconfont icon-bar-code"></i>
                                                    <strong>{{RKW_Web.BookISBN13}}</strong>
                                                </td>
                                                <td>{{book.isbn13}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <i class="pi pi-th-large"></i>
                                                    <strong>{{RKW_Web.BookType}}</strong>
                                                </td>
                                                <td>
                                                    <a :href="'/db/books?bookType=' + book.bookType.value">
                                                        <p-tag class="ml-1" :value="book.bookType.label"></p-tag>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <i class="pi pi-globe"></i>
                                                    <strong>{{RKW_Web.Region}}</strong>
                                                </td>
                                                <td>
                                                <span :class="'fi fi-' + book.region.code" style="margin-left: 0.5rem"
                                                      v-tooltip.bottom="{value: book.region.name, class: 'region-tooltip'}"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <i class="pi pi-language"></i>
                                                    <strong>{{RKW_Web.Language}}</strong>
                                                </td>
                                                <td>
                                                    {{book.publishLanguage.name}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <i class="pi pi-calendar"></i>
                                                    <strong>{{RKW_Web.PublishDate}}</strong>
                                                </td>
                                                <td>
                                                    {{book.publishDate}}
                                                </td>
                                            </tr>
                                            <tr v-if="book.companies.length != 0">
                                                <td>
                                                    <i class="pi iconfont icon-gongsi"></i>
                                                    <strong>{{RKW_Web.BookPublisher}}</strong>
                                                </td>
                                                <td v-for="company of book.companies" style="display:inline">
                                                    <span v-for="(member, index) of company.members" class="a_with_underline">
                                                        <a :href="'/db/entry/' + member.value" style="display:inline">
                                                            {{member.label}}
                                                        </a>
                                                        <span v-if="index < company.members.length - 1">, </span>
                                                    </span>&nbsp;
                                                    <span class="label">({{company.role.label}})</span>
                                                </td>
<!--                                                <td class="common-link">-->
<!--                                                    <a :href="'/db/books?publisher=' + book.publisher">-->
<!--                                                        {{book.publisher}}-->
<!--                                                    </a>-->
<!--                                                </td>-->
                                            </tr>
                                            <tr>
                                                <td>
                                                    <i class="pi iconfont icon-wuliaojiage"></i>
                                                    <strong>{{RKW_Web.PublishPrice}}</strong>
                                                </td>
                                                <td>
                                                    {{book.price != 0 ? book.price :"&nbsp;&nbsp;-"}}
                                                    <span v-if="book.price != 0">
                                                        <span v-if="book.currencyUnit == 'JPY'" class="ml-1"
                                                              style="text-decoration-line: underline;text-decoration-style: dashed;"
                                                              v-tooltip.right="{value: RKW_Web.TaxInclusive, class: 'region-tooltip'}">JPY</span>
                                                        <span v-else>{{book.currencyUnit}}</span>
                                                        <span class="ml-2 dropdown">
                                                            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">{{RKW_Web.OtherCurrencyUnit}}</a>
                                                            <div class="dropdown-menu">
                                                                <a :href="'https://www.bing.com/search?q='+book.price+'+'+book.currencyUnit+'+'+'IN'+'+CNY'"
                                                                   class="dropdown-item">CNY</a>
                                                                <a :href="'https://www.bing.com/search?q='+book.price+'+'+book.currencyUnit+'+'+'IN'+'+USD'"
                                                                   class="dropdown-item">USD</a>
                                                                <a :href="'https://www.bing.com/search?q='+book.price+'+'+book.currencyUnit+'+'+'IN'+'+EUR'"
                                                                   class="dropdown-item">EUR</a>
                                                                <a :href="'https://www.bing.com/search?q='+book.price+'+'+book.currencyUnit+'+'+'IN'+'+TWD'"
                                                                   class="dropdown-item">TWD</a>
                                                            </div>
                                                        </span>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <i class="pi iconfont icon-gift"></i>
                                                    <strong>{{RKW_Web.Bonus}}</strong>
                                                </td>
                                                <td>
                                                    <a v-if="book.hasBonus" href="#bonus" class="ml-3">
                                                        <i class="pi true-icon pi-check-circle"></i>
                                                    </a>
                                                    <i v-else class="pi false-icon pi-times-circle"></i>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div th:insert="~{template/item-detail-template :: item_status_edit}" th:if="${loginUser != null}"></div>
                                        <div th:insert="~{template/item-detail-template :: item_statistic_info}"></div>
                                    </div>
                                </template>
                            </p-card>
                        </div>
                    </div>
                    <div class="detail-item-field">
                        <!-- authors/spec -->
                        <p-fieldset :toggleable="true">
                            <template #legend>
                                <i class="pi pi-users"></i>
                                <b>{{RKW_Web.BookDetailAuthorSpecTitle}}</b>
                            </template>
                            <div class="grid">
                                <div class="col-5 flex align-items-start justify-content-start">
                                    <div class="grid ml-4" v-if="book.personnel.length != 0">
                                        <table class="table-borderless table-sm">
                                            <tbody class="detail-item-artists-table">
                                            <tr v-for="item in book.personnel">
                                                <td width="100px"><strong>{{item.role.label}}</strong></td>
                                                <td v-for="(member, index) in item.members" style="display:inline" class="a_with_underline">
                                                    <a :href="'/db/entry/' + member.value">
                                                        <span style="white-space: nowrap;">{{member.label}}</span>
                                                    </a>
                                                    <span v-if="index < item.members.length - 1">,</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div v-else>
                                        <span class="emptyInfo"><em>{{RKW_Web.BookDetailMessageNoAuthor}}</em></span>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <p-divider layout="vertical"></p-divider>
                                </div>
                                <div class="col-5 flex align-items-start justify-content-start">
                                    <div class="grid ml-4" v-if="book.specs.length != 0">
                                        <table class="table-borderless table-sm">
                                            <tbody class="detail-item-artists-table">
                                            <tr v-for="spec in book.specs">
                                                <td width="80px"><strong>{{spec.label.label}}</strong></td>
                                                <td>
                                                    {{spec.value.join(", ")}}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div v-else>
                                        <span class="emptyInfo"><em>{{RKW_Web.ItemDetailMessageNoSpec}}</em></span>
                                    </div>
                                </div>
                            </div>
                        </p-fieldset>


                        <!-- authors/spec -->
                        <p-fieldset :toggleable="true">
                            <template #legend>
                                <i class="pi pi-users"></i>
                                <b>{{RKW_Web.BookDetailAuthorSpecTitle}}</b>
                            </template>
                            <div class="grid">
                                <div class="col-5 flex align-items-start justify-content-start">
                                    <div class="grid ml-4" v-if="book.authors.length != 0">
                                        <table class="table-borderless table-sm">
                                            <tbody class="detail-item-artists-table">
                                            <tr v-for="author in book.authors">
                                                <td width="80px"><strong>{{author.pos}}</strong></td>
                                                <td>
                                                    {{author.name.join(", ")}}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div v-else>
                                        <span class="emptyInfo"><em>{{RKW_Web.BookDetailMessageNoAuthor}}</em></span>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <p-divider layout="vertical"></p-divider>
                                </div>
                                <div class="col-5 flex align-items-start justify-content-start">
                                    <div class="grid ml-4" v-if="book.spec.length != 0">
                                        <table class="table-borderless table-sm">
                                            <tbody class="detail-item-artists-table">
                                            <tr v-for="specItem in book.spec">
                                                <td width="80px"><strong>{{specItem.label}}</strong></td>
                                                <td>
                                                    {{specItem.value.join(", ")}}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div v-else>
                                        <span class="emptyInfo"><em>{{RKW_Web.ItemDetailMessageNoSpec}}</em></span>
                                    </div>
                                </div>
                            </div>
                        </p-fieldset>
                        <!-- summary -->
                        <p-fieldset :toggleable="true">
                            <template #legend>
                                <i class="pi iconfont icon-miaoshu"></i>
                                <b>{{RKW_Web.ItemDetailSummaryTitle}}</b>
                            </template>
                            <article id="summary" class="markdown-body" style="font-size: 13px"></article>
                        </p-fieldset>
                        <!-- description -->
                        <div th:insert="~{template/item-detail-template :: description_field_set}"></div>
                        <!-- bonus -->
                        <div v-if="book.hasBonus">
                            <div th:insert="~{template/item-detail-template :: bonus_field_set}"></div>
                        </div>
                    </div>
                </template>
            </p-card>
        </div>
        <div class="col-2" style="min-width: 300px">
            <div th:insert="~{template/item-detail-template :: belong_to_panel}"></div>
            <div class="mt-2" th:insert="~{template/item-detail-template :: sider_image_panel}"></div>
            <div class="mt-2" th:insert="~{template/item-detail-template :: index_loading_related_item_panel}"></div>
            <p-panel class="mt-2" v-if="!relatedItemLoad">
                <template #header>
                    <span class="text-start side-panel-header">
                        <i class="pi pi-list"></i><span><strong>{{RKW_Web.RelatedBookTitle}}</strong></span>
                    </span>
                </template>
                <div class="grid" v-if="relatedBooks.length != 0">
                    <span class="small_font">
                        <div class="info_bit_small small_font grid m-0 p-0"
                             v-if="relatedBooks.length != 0"
                             v-for="relatedBook of relatedBooks">
                            <div class="sidebar-panel-image-small-div book_info_bit_thumb mt-2">
                                <a :href="'/db/book/'+ relatedBook.id">
                                    <img class="sidebar-panel-image-small" :src="relatedBook.cover.blackUrl"
                                         v-tooltip.bottom="RKW_Web.AddedTime + ': ' + relatedBook.addedTime + RKW_Web.EditedTime + ': ' + relatedBook.editedTime">
                                </a>
                            </div>
                            <div class="col p-0" style="height: 80px">
                                <ul class="info_bit_small_other">
                                    <li>
                                        <a class="small_font"
                                           :href="'/db/book/'+ relatedBook.id ">
                                            <span class="text-truncate-2 mr-2">
                                                {{relatedBook.title}}
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <span class="small_font col-6 related-item-catalog">
                                            {{relatedBook.isbn13}}
                                        </span>
                                        <span class="small_font col-6 related-item-date">
                                            {{relatedBook.publishDate}}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </span>
                </div>
                <div v-else>
                    <span class="emptyInfo"><em>{{RKW_Web.ItemDetailMessageNoRelatedItem}}</em></span>
                </div>
            </p-panel>
            <div th:insert="~{template/item-detail-template :: page_info_card}"></div>
        </div>
    </div>
    <p-dialog :modal="true" v-model:visible="displayEditDialog" :header="RKW_Web.ItemDetailBaseInfoEditTitle"
              :style="{width: '600px'}" class="p-fluid">
        <p-blockui :blocked="editBlock">
            <div class="formgrid grid">
                <div class="field col">
                    <label>{{RKW_Web.BookISBN10}}<span style="color: red">*</span></label>
                    <div class="p-inputgroup">
                        <p-inputtext v-model.trim="bookEdit.isbn10"></p-inputtext>
                        <p-button icon="pi pi-sync" class="p-button-warning"
                                  @click="ISBNInterConvert('isbn10', bookEdit.isbn13)"
                                  v-tooltip.bottom="{value:RKW_Web.TooltipGenerateBookISBN10, class: 'common-tooltip'}"></p-button>
                    </div>
                </div>
                <div class="field col">
                    <label>{{RKW_Web.BookISBN13}}<span style="color: red">*</span></label>
                    <div class="p-inputgroup">
                        <p-inputtext v-model.trim="bookEdit.isbn13"></p-inputtext>
                        <p-button icon="pi pi-sync" class="p-button-warning"
                                  @click="ISBNInterConvert('isbn13', bookEdit.isbn10)"
                                  v-tooltip.bottom="{value:RKW_Web.TooltipGenerateBookISBN13, class: 'common-tooltip'}"></p-button>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>{{RKW_Web.BookTitle}}<span style="color: red">*</span></label>
                <p-inputtext v-model.trim="bookEdit.title"></p-inputtext>
            </div>
            <div class="field">
                <label>{{RKW_Web.BookChineseTitle}}</label>
                <p-inputtext v-model.trim="bookEdit.titleZh"></p-inputtext>
            </div>
            <div class="field">
                <label>{{RKW_Web.BookEnglishTitle}}</label>
                <p-inputtext v-model.trim="bookEdit.titleEn"></p-inputtext>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <label class="mb-3">{{RKW_Web.BookType}}<span style="color: red">*</span></label>
                    <p-dropdown v-model="bookEdit.bookType" :options="bookTypeSet"
                                option-label="label" option-value="value">
                    </p-dropdown>
                </div>
                <div class="field col">
                    <label class="mb-3">{{RKW_Web.Region}}<span style="color: red">*</span></label>
                    <p-dropdown v-model="bookEdit.region" :options="regionSet" :filter="true"
                                :show-clear="true" option-label="name" option-value="code">
                        <template #value="slotProps">
                            <div class="country-item" v-if="slotProps.value">
                                <span :class="'fi fi-' + slotProps.value"></span>
                                <div class="ml-2">{{getNameByCode(slotProps.value, regionSet)}}</div>
                            </div>
                            <span v-else>{{RKW_Web.PlaceholderRegion}}</span>
                        </template>
                        <template #option="slotProps">
                            <div class="country-item">
                                <span :class="'fi fi-' + slotProps.option.code"></span>
                                <div class="ml-2">{{slotProps.option.name}}</div>
                            </div>
                        </template>
                    </p-dropdown>
                </div>
                <div class="field col">
                    <label class="mb-3">{{RKW_Web.Language}}<span style="color: red">*</span></label>
                    <p-dropdown v-model="bookEdit.publishLanguage" :options="languageSet"
                                option-label="name" option-value="code">
                    </p-dropdown>
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col-4">
                    <label class="mb-3">{{RKW_Web.BelongToFranchises}}<span style="color: red">*</span></label>
                    <p-multiselect v-model="bookEdit.franchises" @change="getProducts($event)"
                                   :options="franchiseSet" :placeholder="RKW_Web.PlaceholderBelongToFranchises"
                                   option-label="label" option-value="value" display="chip" :filter="true">
                    </p-multiselect>
                </div>
                <div class="field col-6">
                    <label class="mb-3">{{RKW_Web.BelongToProducts}}<span style="color: red">*</span></label>
                    <p-multiselect v-model="bookEdit.products" :options="productSet"
                                   option-label="label" option-value="value" :placeholder="RKW_Web.PlaceholderBelongToProducts"
                                   display="chip" :filter="true" :disabled="productSelect">
                    </p-multiselect>
                </div>
                <div class="field col-2">
                    <div class="col-12">
                        <label class="mb-3">{{RKW_Web.Bonus}}</label>
                    </div>
                    <div class="col-12 mt-4">
                        <p-inputswitch v-model="bookEdit.hasBonus" :true-value="1"
                                       :false-value="0"></p-inputswitch>
                    </div>
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <label>{{RKW_Web.PublishDate}}<span style="color: red">*</span></label>
                    <p-calendar v-model="bookEdit.publishDate" date-format="yy/mm/dd"
                                :show-button-bar="true"
                                :show-icon="true"></p-calendar>
                </div>
                <div class="field col">
                    <label>{{RKW_Web.PublishPrice}}</label>
                    <p-inputnumber v-model="bookEdit.price"></p-inputnumber>
                </div>
                <div class="field col">
                    <label>{{RKW_Web.BookPublisher}}</label>
                    <p-inputtext v-model.trim="bookEdit.publisher"></p-inputtext>
                </div>
            </div>
            <div class="field">
                <label>{{RKW_Web.Summary}}</label>
                <p-textarea v-model="bookEdit.summary" rows="3" cols="20"
                            :auto-resize="true"></p-textarea>
            </div>
            <div class="field">
                <label>{{RKW_Web.Remark}}</label>
                <p-textarea v-model="bookEdit.remark" rows="3" cols="20"
                            :auto-resize="true"></p-textarea>
            </div>
        </p-blockui>
        <template #footer>
            <p-button :label="RKW_Web.Cancel" icon="pi pi-times" class="p-button-text"
                      @click="closeEditDialog" :disabled="editBlock"></p-button>
            <p-button :label="RKW_Web.Save" icon="pi pi-check" class="p-button-text"
                      @click="submitEditBook" :disabled="editBlock"></p-button>
        </template>
    </p-dialog>
    <p-dialog :modal="true" v-model:visible="displayAuthorEditDialog" :header="RKW_Web.BookDetailAuthorEditTitle"
              :style="{width: '800px'}">
        <p-blockui :blocked="editBlock">
            <p-panel>
            <template #header>
                <i class="pi pi-user-plus mr-2" style="font-size: 2rem"></i>
                <b>{{RKW_Web.Add}}</b>
            </template>
            <div class="grid">
                <div class="col-3">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-tag"></i>
                        </span>
                        <span class="p-inputgroup-addon">
                            <p-checkbox v-model="author.main" :binary="true" :true-value="1" :false-value="0"></p-checkbox>
                        </span>
                        <p-inputtext v-model="author.pos" :placeholder="RKW_Web.BookDetailEditAuthorPos"></p-inputtext>
                    </div>
                </div>
                <div class="col-7">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-users"></i>
                        </span>
                        <p-chips v-model="author.name" :placeholder="RKW_Web.BookDetailEditAuthorName" separator=","></p-chips>
                    </div>
                </div>
                <div class="col-2">
                    <p-button :label="RKW_Web.Add" icon="pi pi-save"
                              @click="addAuthor"></p-button>
                </div>
            </div>
        </p-panel>
            <p-panel>
            <template #header>
                <i class="pi pi-user-edit mr-2" style="font-size: 2rem"></i>
                <b>{{RKW_Web.Edit}}</b>
            </template>
            <div v-if="tmpAuthors.length != 0">
                <p-datatable dataKey="id" :value="tmpAuthors" responsive-layout="scroll"
                             class="p-datatable-sm" striped-rows @row-reorder="onRowReorder"
                             context-menu v-model:context-menu-selection="selectedAuthor"
                             @row-contextmenu="authorRowMenu" edit-mode="row"
                             v-model:editing-rows="editingRows" @row-edit-save="onRowEditSave">
                    <p-column :row-reorder="true"></p-column>
                    <p-column field="main" header-style="width: 3%">
                        <template #body="slotProps">
                            <i v-if="slotProps.data.main == 1" class="pi false-icon pi-star-fill"></i>
                        </template>
                        <template #editor="{ data, field }">
                            <p-checkbox v-model="data[field]" :binary="true" :true-value="1" :false-value="0"></p-checkbox>
                        </template>
                    </p-column>
                    <p-column field="pos" :header="RKW_Web.BookDetailEditAuthorPos">
                        <template #editor="{ data, field }">
                            <p-inputtext v-model="data[field]" autofocus></p-inputtext>
                        </template>
                    </p-column>
                    <p-column field="name" :header="RKW_Web.BookDetailEditAuthorName">
                        <template #body="slotProps">
                            {{slotProps.data.name.join("/")}}
                        </template>
                        <template #editor="{ data, field }">
                            <p-chips v-model="data[field]"></p-chips>
                        </template>
                    </p-column>
                    <p-column :row-editor="true" style="width:10%; min-width:8rem"
                              bodyStyle="text-align:center"></p-column>
                </p-datatable>
                <p-contextmenu :model="menuModel" ref="cm"></p-contextmenu>
            </div>
            <div v-else>
                <span class="emptyInfo">{{RKW_Web.BookDetailMessageNoAuthor}}</span>
            </div>
        </p-panel>
        </p-blockui>
        <template #footer>
            <p-button :label="RKW_Web.Clear" icon="pi pi-trash" class="p-button-danger mr-4"
                      @click="clearAuthors" :disabled="editBlock"></p-button>
            <p-button :label="RKW_Web.Cancel" icon="pi pi-times" class="mr-4"
                      @click="cancelAuthorEdit" :disabled="editBlock"></p-button>
            <p-button :label="RKW_Web.Update" icon="pi pi-save" class="p-button-success mr-4"
                      @click="submitAuthor" :disabled="editBlock"></p-button>
        </template>
    </p-dialog>

    <p-dynamicdialog></p-dynamicdialog>
    <!-- footer -->
    <footer class="mt-2" th:insert="~{template/footer :: site_footer}"></footer>
</div>
<script type="module" th:inline="javascript">
    import {RKW_Web} from '/js/basic/Rakbow_Web_Control_Strs_CN.js';
    import {marked} from '/tool/marked/marked.esm.js';
    import {HttpUtil} from '/js/basic/Http_Util.js';
    import {showSearchPanel} from '/js/basic/Rakbow_Web_Search_Params.js';
    import {showImageEditDialog} from '/js/basic/Item_Detail_Image_Params.js';
    import {showBonusEditDialog, showDescriptionEditDialog, showCompaniesEditDialog, showPersonnelEditDialog, showSpecEditDialog} from '/js/basic/Item_Detail_Text_Params.js';
    const {createApp, onMounted, ref} = Vue;
    const Tooltip = primevue.tooltip;
    const { useDialog } = primevue.usedialog;
    const {useToast} = primevue.usetoast;

    const App = {
        setup() {
            onMounted(() => {
                init();
                initOption();
                $(window).resize(function () {
                    $("#main").attr("style", "min-height:" + ($(window).height() - 350) + 'px');
                });
                getRelatedBooks();
            })

            //region tingle
            const descriptionModal = new tingle.modal({
                closeMethods: ['overlay', 'button', 'escape'],
                closeLabel: "Close",
                cssClass: ['tingle-markdown-body'],
                onOpen: function () {
                    if (detailInfo.value.description != null && detailInfo.value.description !== "") {
                        descriptionModal.setContent(marked.parse(detailInfo.value.description));
                    }
                }
            });
            const bonusModal = new tingle.modal({
                closeMethods: ['overlay', 'button', 'escape'],
                closeLabel: "Close",
                cssClass: ['tingle-markdown-body'],
                onOpen: function () {
                    if (book.value.hasBonus && book.value.bonus != null && book.value.bonus !== "") {
                        bonusModal.setContent(marked.parse(book.value.bonus));
                    }
                }
            });

            const openTingleDescription = () => {
                descriptionModal.open();
            };
            const openTingleBonus = () => {
                bonusModal.open();
            };
            //endregion

            //region common header
            const dialog = useDialog();
            const openSearchPanel = () => {
                showSearchPanel(dialog);
            }
            //endregion

            //region image
            const activeIndex = ref(0)
            const displayCustom = ref(false)
            const imageClick = (index) => {
                activeIndex.value = index;
                displayCustom.value = true;
            };
            //endregion

            //region basic
            const initOption = () => {
                const option = ref([[${options}]]);
                if(option.value !== null) {
                    franchiseSet.value = option.value.franchiseSet;
                    bookTypeSet.value = option.value.bookTypeSet;
                    regionSet.value = option.value.regionSet;
                    languageSet.value = option.value.languageSet;
                    companySet.value = option.value.companySet;
                    companyRoleSet.value = option.value.companyRoleSet;
                    roleSet.value = option.value.roleSet;
                    personnelSet.value = option.value.personnelSet;
                    specParameterSet.value = option.value.specParameterSet;
                    publicationSet.value = option.value.publicationSet;
                }
            }
            const book = ref([[${book}]]);
            const toast = useToast();
            const pageInfo = ref([[${pageInfo}]]);
            const detailInfo = ref([[${detailInfo}]]);
            const itemImageInfo = ref([[${itemImageInfo}]]);
            const franchiseSet = ref([[${options.franchiseSet}]]);
            const productSet = ref([]);
            const relatedItemLoad = ref(true);
            const relatedBooks = ref([]);

            const bookTypeSet = ref([]);
            const regionSet = ref([]);
            const languageSet = ref([]);
            const companySet = ref([]);
            const companyRoleSet = ref([]);
            const roleSet = ref([]);
            const personnelSet = ref([]);
            const specParameterSet = ref([]);
            const publicationSet = ref([]);
            //endregion

            //region edit basic info
            const edits = ref([
                {
                    label: RKW_Web.ItemDetailOptionImageEditTitle,
                    icon: 'pi pi-images',
                    command: () => {
                        showImageEditDialog(toast, dialog, itemImageInfo.value, detailInfo.value);
                    }
                },
                {
                    label: RKW_Web.BookDetailOptionAuthorEditTitle,
                    icon: 'pi pi-users',
                    command: () => {
                        openAuthorEditDialog();
                    }
                },
                {
                    label: RKW_Web.ItemDetailOptionSpecEditTitle,
                    icon: 'pi iconfont icon-miaoshu',
                    command: () => {
                        showSpecEditDialog(toast, dialog, detailInfo.value.id, detailInfo.value.entityType, book.value.specs, specParameterSet.value);
                    }
                },
                {
                    label: RKW_Web.ItemDetailOptionDescriptionEditTitle,
                    icon: 'pi iconfont icon-miaoshu',
                    command: () => {
                        showDescriptionEditDialog(toast, dialog, detailInfo.value, itemImageInfo.value.images);
                    }
                },
                {
                    label: RKW_Web.ItemDetailOptionBonusEditTitle,
                    icon: 'pi iconfont icon-gift',
                    command: () => {
                        showBonusEditDialog(toast, dialog, detailInfo.value, book.value.bonus, itemImageInfo.value.images);
                    }
                },
                {
                    label: RKW_Web.ItemDetailOptionCompaniesEditTitle,
                    icon: 'pi pi-building',
                    command: () => {
                        showCompaniesEditDialog(toast, dialog, detailInfo.value.id, detailInfo.value.entityType, book.value.editCompanies, companyRoleSet.value, companySet.value);
                    }
                },
                {
                    label: RKW_Web.AlbumDetailOptionArtistEditTitle,
                    icon: 'pi pi-users',
                    command: () => {
                        showPersonnelEditDialog(toast, dialog, detailInfo.value.id, detailInfo.value.entityType, book.value.editPersonnel, roleSet.value, personnelSet.value);
                    }
                }
            ]);
            const productSelect = ref(true);
            const editBlock = ref(false);
            const bookEdit = ref({});
            const displayEditDialog = ref(false);
            //打开编辑数据面板
            const openEditDialog = () => {
                let dataTmp = JSON.parse(JSON.stringify(book.value));
                dataTmp.hasBonus = book.value.hasBonus ? 1 : 0;
                bookEdit.value = dataTmp;
                bookEdit.value.bookType = dataTmp.bookType.value;
                bookEdit.value.region = dataTmp.region.code;
                bookEdit.value.publishLanguage = dataTmp.publishLanguage.code;
                bookEdit.value.franchises = label2value(detailInfo.value.franchises, franchiseSet.value).concat();
                let json = {
                    franchises: bookEdit.value.franchises,
                    entityType: ENTITY.BOOK
                };
                HttpUtil.post(null, GET_PRODUCT_SET_URL, json)
                    .then(res => {
                        if(res.state === 1) {
                            if (res.data.length !== 0) {
                                productSet.value = res.data;
                                productSelect.value = false;
                            } else {
                                productSelect.value = true;
                            }
                            bookEdit.value.products = label2value(detailInfo.value.products, productSet.value).concat();
                            displayEditDialog.value = true;
                        }
                    });
            };

            //关闭编辑数据面板
            const closeEditDialog = () => {
                displayEditDialog.value = false;
                bookEdit.value = {};
            };

            //保存编辑数据
            const submitEditBook = () => {
                editBlock.value = true;
                HttpUtil.commonSubmit(toast, editBlock, UPDATE_BOOK_URL, bookEdit.value)
                    .then(res => {
                        if (res.state === 1) {
                            bookEdit.value = {};
                            closeEditDialog();
                            location.reload(true);
                        }
                    })
                    .catch(error => {
                        console.error(error);
                    });
            };
            //根据系列id获取该系列所有作品
            const getProducts = (ev) => {
                if(ev.value.length !== 0) {
                    let json = {
                        franchises: ev.value,
                        entityType: ENTITY.BOOK
                    };
                    HttpUtil.post(null, GET_PRODUCT_SET_URL, json)
                        .then(res => {
                            if(res.state === 1) {
                                if (res.length !== 0) {
                                    productSet.value = res.data;
                                    productSelect.value = false;
                                } else {
                                    productSelect.value = true;
                                    bookEdit.value.products = [];
                                }
                            }
                        });
                }else {
                    productSelect.value = true;
                    bookEdit.value.products = [];
                }

            };

            const ISBNInterConvert = (label, isbn) => {
                editBlock.value = true;
                let json = {
                    label: label,
                    isbn: isbn
                };
                HttpUtil.commonSubmit(toast, editBlock, BOOK_GENERATE_ISBN_URL, json)
                    .then(res => {
                        if(res.state === 1) {
                            console.log(res.data)
                            if(label === 'isbn13') {
                                bookEdit.value.isbn13 = res.data;
                            }
                            if(label === 'isbn10') {
                                bookEdit.value.isbn10 = res.data;
                            }
                        }
                        editBlock.value = false;
                    })
            };
            const like = () => {
                let json = {
                    entityType: ENTITY.BOOK,
                    entityId: detailInfo.value.id
                }
                HttpUtil.post(toast, LIKE_ITEM_URL, json)
                    .then(res => {
                        if (res.state === 1) {
                            pageInfo.value.likeCount++;
                            pageInfo.value.liked = true;
                        }
                    });
            };
            const updateStatus = () => {
                editBlock.value = true;
                let json = {
                    entityType: ENTITY.BOOK,
                    entityId: detailInfo.value.id,
                    status: !detailInfo.value.status
                };
                HttpUtil.commonSubmit(toast, editBlock, UPDATE_ITEM_STATUS_URL, json);
            };
            //endregion

            //region authors
            const tmpAuthors = ref();
            const cm = ref();
            const selectedAuthor = ref();
            const author = ref({});
            const authors = ref([]);
            const displayAuthorEditDialog = ref(false);
            const menuModel = ref([
                {label: RKW_Web.Delete, icon: 'pi pi-fw pi-user-minus', command: () => deleteAuthor(selectedAuthor)}
            ]);
            const onRowReorder = (ev) => {
                tmpAuthors.value = ev.value;
            };
            const authorRowMenu = (ev) => {
                cm.value.show(ev.originalEvent);
            };
            const deleteAuthor = (author) => {
                tmpAuthors.value = tmpAuthors.value.filter((a) => a.pos !== author.value.pos);
                toast.add({severity: 'error', summary: RKW_Web.MessageDeleted, detail: author.value.pos, life: 3000});
                selectedAuthor.value = null;
            };
            const editingRows = ref([]);
            const onRowEditSave = (ev) => {
                let {newData, index} = ev;

                tmpAuthors.value[index] = newData;
            };

            const openAuthorEditDialog = () => {
                tmpAuthors.value = JSON.parse(JSON.stringify(book.value.authors));
                author.value = {};
                displayAuthorEditDialog.value = true;
            };
            const clearAuthors = () => {
                tmpAuthors.value = [];
            };
            const addAuthor = () => {
                tmpAuthors.value.push(author.value);
                author.value = {};
            }
            const cancelAuthorEdit = () => {
                author.value = {};
                displayAuthorEditDialog.value = false;
            };
            const submitAuthor = () => {
                editBlock.value = true;
                let mainCount = 0;
                tmpAuthors.value.forEach(author => {
                    if(author.main === 1) {
                        mainCount++;
                    }
                });
                if(mainCount > 1) {
                    toast.add({severity: 'error', summary: RKW_Web.ErrorMessageBookDetailAuthorsMain, life: 3000});
                    editBlock.value = false;
                    return;
                }
                let json = {
                    id: book.value.id,
                    authors: tmpAuthors.value
                }
                HttpUtil.commonSubmit(toast, editBlock, UPDATE_BOOK_AUTHORS_URL, json)
                    .then(res => {
                        if (res.state === 1) {
                            displayAuthorEditDialog.value = false;
                            author.value = {};
                            location.reload(true);
                        }
                    })
            };
            //endregion

            //region init
            const init = () => {
                text2marked();
                $("#main").attr("style", "min-height:" + ($(window).height() - 350) + 'px');
            };
            const text2marked = () => {

                const bonus = book.value.bonus;
                const summary = book.value.summary;

                if (detailInfo.value.description != null && detailInfo.value.description !== "") {
                    document.getElementById("description").innerHTML = marked.parse(detailInfo.value.description);
                }

                if (summary != null && summary !== "") {
                    document.getElementById("summary").innerHTML = marked.parse(summary);
                } else {
                    //<![CDATA[
                    document.getElementById("summary").innerHTML = "<span class='emptyInfo'><em>" + RKW_Web.ItemDetailMessageNoSummary + "</em></span>";
                    //]]>
                }

                if (book.value.hasBonus && bonus != null && bonus !== "") {
                    document.getElementById("bonus").innerHTML = marked.parse(bonus);
                }
                if ((bonus == null || bonus === "") && book.value.hasBonus) {
                    //<![CDATA[
                    document.getElementById("bonus").innerHTML = "<span class='emptyInfo'><em>" + RKW_Web.ItemDetailMessageNoBonusInfo + "</em></span>";
                    //]]>
                }
            };
            const getRelatedBooks = () => {
                relatedItemLoad.value = true;
                let json = {
                    id: detailInfo.value.id
                }
                HttpUtil.post(null, GET_RELATED_BOOKS_URL, json)
                    .then(res => {
                        if (res.state === 1) {
                            relatedBooks.value = res.data;
                        }
                        relatedItemLoad.value = false;
                    });
            };
            //endregion

            return {
                RKW_Web,
                openTingleDescription, openTingleBonus,

                //header
                dialog, openSearchPanel, NOT_LOGIN_NAVBAR_ITEMS, LOGIN_NAVBAR_ITEMS,

                //image
                activeIndex, displayCustom, imageClick, initGalleriaImageClass,

                //basic
                book, updateStatus, like, pageInfo, detailInfo, itemImageInfo, currencyUnitSet, getProducts, productSelect, franchiseSet,
                bookTypeSet, regionSet, languageSet, productSet, relatedBooks, responsiveOptions, getNameByCode, relatedItemLoad, tmpList5,

                //edit
                editBlock, bookEdit, edits, displayEditDialog, openEditDialog, closeEditDialog, submitEditBook,
                ISBNInterConvert,

                //authors
                displayAuthorEditDialog, tmpAuthors, cm, author, authors, menuModel, editingRows, selectedAuthor,
                addAuthor, clearAuthors, submitAuthor, deleteAuthor, cancelAuthorEdit, authorRowMenu, onRowEditSave,
                onRowReorder,
            }
        },
        components: {
            "p-panel": primevue.panel,
            "p-fieldset": primevue.fieldset,
            "p-button": primevue.button,
            "p-dialog": primevue.dialog,
            "p-chips": primevue.chips,
            "p-divider": primevue.divider,
            "p-inputtext": primevue.inputtext,
            "p-multiselect": primevue.multiselect,
            "p-galleria": primevue.galleria,
            "p-menubar": primevue.menubar,
            "p-avatar": primevue.avatar,
            "p-toast": primevue.toast,
            "p-dropdown": primevue.dropdown,
            "p-textarea": primevue.textarea,
            "p-calendar": primevue.calendar,
            "p-inputnumber": primevue.inputnumber,
            "p-inputswitch": primevue.inputswitch,
            "p-splitbutton": primevue.splitbutton,
            "p-datatable": primevue.datatable,
            "p-column": primevue.column,
            "p-contextmenu": primevue.contextmenu,
            "p-inplace": primevue.inplace,
            "p-blockui": primevue.blockui,
            "p-card": primevue.card,
            "p-tag": primevue.tag,
            "p-checkbox": primevue.checkbox,

            "p-scrollpanel": primevue.scrollpanel,
            "p-scrolltop": primevue.scrolltop,
            "p-dynamicdialog": primevue.dynamicdialog,
            "p-skeleton": primevue.skeleton,
        }
    };

    const routes = [{path: BOOK_DETAIL_URL + [[${detailInfo.id}]], component: App}];

    const router = VueRouter.createRouter({
        history: VueRouter.createWebHistory(),
        routes
    });

    createApp(App)
        .use(router)
        .use(primevue.toastservice)
        .use(primevue.config.default)
        .directive('tooltip', Tooltip)
        .use(primevue.dialogservice)
        .use(MdEditorV3)
        .mount("#app");
</script>
<style>
    .book-detail-cover {
        transform: translateY(7px);
        width: 180px;
        height: 180px;
    }

    .book-detail-cover img {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        transform: translate(-50%, -50%);
        cursor: pointer;
        pointer-events: none;
    }

</style>
</body>
</html>