<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${product.name}"></title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>

    <link href="https://img.rakbow.com/common/logo/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
    <link th:href="@{/css/iconfont/iconfont.css}" rel="stylesheet" />

    <!-- bootstrap -->
    <link rel="stylesheet" th:href="@{/css/bootstrap/myBootstrap.min.css}">
    <script th:src="@{/tool/bootstrap/bootstrap.min.js}"></script>

    <!-- PrimeVue css-->
    <link th:href="@{/css/primevue/bootstrap4-dark-blue.css}" rel="stylesheet"/>
    <link th:href="@{/css/primevue/primevue.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/primevue/primeflex.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/primevue/primeicon/primeicons.css}" rel="stylesheet"/>

    <!-- Vue3 -->
    <script th:src="@{/js/vue/vue.global.min.js}"></script>
    <script th:src="@{/js/primevue/core.min.js}"></script>
    <script th:src="@{/js/vue/vue-router.global.min.js}"></script>

    <!-- PrimeVue Components -->
    <script th:src="@{/js/primevue/components/menubar.min.js}"></script>
    <script th:src="@{/js/primevue/components/avatar.min.js}"></script>
    <script th:src="@{/js/primevue/components/inputtext.min.js}"></script>
    <script th:src="@{/js/primevue/components/toast.min.js}"></script>
    <script th:src="@{/js/primevue/components/toastservice.min.js}"></script>
    <script th:src="@{/js/primevue/components/panel.min.js}"></script>
    <script th:src="@{/js/primevue/components/fieldset.min.js}"></script>
    <script th:src="@{/js/primevue/components/galleria.min.js}"></script>
    <script th:src="@{/js/primevue/components/splitbutton.min.js}"></script>
    <script th:src="@{/js/primevue/components/calendar.min.js}"></script>
    <script th:src="@{/js/primevue/components/textarea.min.js}"></script>
    <script th:src="@{/js/primevue/components/dialog.min.js}"></script>
    <script th:src="@{/js/primevue/components/fileupload.min.js}"></script>
    <script th:src="@{/js/primevue/components/divider.min.js}"></script>
    <script th:src="@{/js/primevue/components/datatable.min.js}"></script>
    <script th:src="@{/js/primevue/components/column.min.js}"></script>
    <script th:src="@{/js/primevue/components/timeline.min.js}"></script>
    <script th:src="@{/js/primevue/components/contextmenu.min.js}"></script>
    <script th:src="@{/js/primevue/components/chips.min.js}"></script>
    <script th:src="@{/js/primevue/components/tag.min.js}"></script>
    <script th:src="@{/js/primevue/components/multiselect.min.js}"></script>
    <script th:src="@{/js/primevue/components/inputswitch.min.js}"></script>
    <script th:src="@{/js/primevue/components/card.min.js}"></script>
    <script th:src="@{/js/primevue/components/blockui.min.js}"></script>
    <script th:src="@{/js/primevue/components/skeleton.min.js}"></script>

    <script th:src="@{/js/primevue/components/scrolltop.min.js}"></script>
    <script th:src="@{/js/primevue/components/scrollpanel.min.js}"></script>
    <script th:src="@{/js/primevue/components/dynamicdialog.min.js}"></script>
    <script th:src="@{/js/primevue/components/dialogservice.min.js}"></script>
    <script th:src="@{/js/primevue/components/divider.min.js}"></script>
    <script th:src="@{/js/primevue/components/chip.min.js}"></script>
    <script th:src="@{/js/primevue/components/menubar.min.js}"></script>
    <script th:src="@{/js/primevue/components/avatar.min.js}"></script>
    <script th:src="@{/js/primevue/components/tag.min.js}"></script>
    <script th:src="@{/js/primevue/components/skeleton.min.js}"></script>

    <!-- Jquery -->
    <script th:src="@{/js/jquery.js}"></script>

    <!-- high light js -->
    <link th:href="@{/tool/highlight/default.min.css}" rel="stylesheet">
    <script th:src="@{/tool/highlight/highlight.min.js}"></script>

    <!-- md-editor-v3 -->
    <script th:src="@{/tool/md-editor-v3/md-editor-v3.umd.js}"></script>
    <link th:href="@{/tool/md-editor-v3/style.min.css}" rel="stylesheet">

    <!-- marked -->

    <link th:href="@{/css/github-markdown/github-markdown.css}" rel="stylesheet" />

    <!-- flag-icons -->
    <link th:href="@{/css/flag-icons/css/flag-icons.css}" rel="stylesheet">

    <!-- basic js -->
    <script th:src="@{/js/basic/Data_Helper.js}"></script>
    <script th:src="@{/js/basic/Rakbow_Web_Url_Helper_Str.js}"></script>
    <script th:src="@{/js/basic/Rakbow_Web_Exception_Str_CN.js}"></script>

    <!--other css -->
    <link th:href="@{/css/global.css}" rel="stylesheet"/>
    <link th:href="@{/css/topbar.css}" rel="stylesheet"/>
    <link th:href="@{/css/search.css}" rel="stylesheet"/>
    <link th:href="@{/css/item-detail.css}" rel="stylesheet"/>



    <!-- tingle -->
    <script th:src="@{/tool/tingle/tingle.min.js}"></script>
    <link th:href="@{/tool/tingle/tingle.min.css}" rel="stylesheet">
</head>
<body>
 <div id="app" style="margin-top: 60px">
    <!-- 头部 -->
    <header class="sticky-top mb-2" th:insert="~{template/header :: site_header}"></header>

    <div id="main" class="grid mt-2">
        <p-toast></p-toast>
        <div class="detail-card col-8 lg:col-offset-1">
            <p-card>
                <template #title>
                    <div class="grid detail-item-header-title">
                        <h4 class="col-11">
                            <b class="detail-item-title">
                                {{product.name}}
                            </b><span style="font-size: 13px" class="label">({{product.category.nameZh}})</span>
                        </h4>
                        <div th:insert="~{template/item-detail-template :: item_common_edit_button}" v-if="product.id != 0"></div>
                    </div>
                </template>
                <template #subtitle>
                    <h5 v-if="product.nameZh != ''" class="detail-item-subtitle"><small>{{product.nameZh}}</small></h5>
                    <h5 v-else><small></small></h5>
                    <h5 v-if="product.nameEn != ''" class="detail-item-subtitle"><small>{{product.nameEn}}</small></h5>
                    <h5 v-else><small></small></h5>
                </template>
                <template #content>
                    <div class="grid">
                        <div class="col-4" style="width: 230px">
                            <div class="product-detail-cover">
                                <img :src="itemImageInfo.cover.url" :alt="itemImageInfo.cover.name"/>
                            </div>
                        </div>
                        <div class="col detail-item-header-card">
                            <p-card>
                                <template #content>
                                    <div class="relative" style="min-height: 100px">
                                        <table class="table-borderless table-sm ml-2" v-if="product.id == 0">
                                            <tbody class="detail-item-header-table">
                                            <tr>
                                                <td><strong><p-skeleton width="3rem"></p-skeleton></strong></td>
                                                <td>
                                                    <p-skeleton width="5rem"></p-skeleton>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><strong><p-skeleton width="3rem"></p-skeleton></strong></td>
                                                <td>
                                                    <p-skeleton width="5rem"></p-skeleton>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><strong><p-skeleton width="3rem"></p-skeleton></strong></td>
                                                <td>
                                                    <p-skeleton width="5rem"></p-skeleton>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><strong><p-skeleton width="3rem"></p-skeleton></strong></td>
                                                <td>
                                                    <p-skeleton width="5rem"></p-skeleton>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><strong><p-skeleton width="3rem"></p-skeleton></strong></td>
                                                <td>
                                                    <p-skeleton width="5rem"></p-skeleton>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><strong><p-skeleton width="3rem"></p-skeleton></strong></td>
                                                <td>
                                                    <p-skeleton width="5rem"></p-skeleton>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table class="table-borderless table-sm ml-2" v-if="product.id != 0">
                                            <tbody class="detail-item-header-table">
                                            <tr>
                                                <td><strong>所属系列</strong></td>
                                                <td>
                                                    <a :href="'/db/franchise/' + product.franchise.value">
                                                        {{product.franchise.label}}
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><strong>作品分类</strong></td>
                                                <td>
                                                    <p-tag class="ml-1" :value="product.category.nameZh"></p-tag>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><strong>发行时间</strong></td>
                                                <td>
                                                    {{product.releaseDate}}
                                                </td>
                                            </tr>
                                            <div v-if="product.organizations.length != 0">
                                                <tr v-for="organization in product.organizations">
                                                    <td>
<!--                                                        <i class="pi iconfont icon-gongsi mr-1"-->
<!--                                                           style="font-size: 1.3rem"></i>-->
                                                        <strong>{{organization.label}}</strong>
                                                    </td>
                                                    <td v-if="organization.format == 0" v-for="item in organization.value">
                                                        {{item.name}}
                                                    </td>
                                                    <td v-if="organization.format == 1" v-for="item in organization.value">
                                                        {{item.name}} <span :class="'fi fi-' + item.region"></span>
                                                    </td>
                                                    <td v-if="organization.format == 2" v-for="item in organization.value">
                                                        {{item.name}} (<span :class="'fi fi-' + item.region"></span>,{{item.platforms.join(", ")}})
                                                    </td>
                                                </tr>
                                            </div>
                                            </tbody>
                                        </table>
                                        <div th:insert="~{template/item-detail-template :: item_status_edit}" th:if="${loginUser != null}" v-if="product.id != 0"></div>
                                        <div th:insert="~{template/item-detail-template :: item_statistic_info}"></div>
                                    </div>
                                </template>
                            </p-card>
                        </div>
                    </div>
                    <div class="detail-item-field">
                        <!-- staff -->
                        <p-fieldset :toggleable="true" v-if="product.staffs.length != 0">
                            <template #legend>
                                <i class="pi pi-users"></i>
                                <b>Staff信息</b>
                            </template>
                            <div class="grid ml-4" v-if="product.staffs.length != 0">
                                <table class="table-borderless table-sm">
                                    <tbody class="detail-item-artists-table">
                                    <tr v-for="item in product.staffs">
                                        <td width="120px"><strong>{{item.pos}}</strong></td>
                                        <td>
                                            {{item.name.join(", ")}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div v-else>
                                <span class="emptyInfo"><em>暂无Staff相关信息</em></span>
                            </div>
                        </p-fieldset>
                        <!-- description -->
                        <div th:insert="~{template/item-detail-template :: description_field_set}"></div>
                        <!-- game -->
                        <p-fieldset :toggleable="true" v-if="games">
                            <template #legend>
                                <i class="pi iconfont icon-youxi"></i>
                                <b>游戏</b>
                            </template>
                            <div class="grid ml-4" v-if="games != 0">
                                <table class="table-borderless table-sm">
                                    <tbody>
                                    <tr>
                                        <th class="text-start"><strong>日&nbsp期</strong></th>
                                        <th class="text-start"><strong>游&nbsp戏</strong></th>
                                        <th class="text-start"><strong>地&nbsp区</strong></th>
                                        <th class="text-start"><strong>平&nbsp台</strong></th>
                                    </tr>
                                    <tr v-for="game in games">
                                        <td width="120px">{{game.releaseDate}}</td>
                                        <td>
                                            <a :href="'/db/game/' + game.id">
                                                {{game.name}}
                                            </a>
                                        </td>
                                        <td width="60px"><span class="ml-2" :class="'fi fi-' + game.region.code" v-tooltip.bottom="{value: game.region.nameZh, class: 'region-tooltip'}"></span></td>
                                        <td>
                                            <p-tag :value="game.platform.nameEn"></p-tag>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div v-else>
                                <span class="emptyInfo"><em>暂无游戏</em></span>
                            </div>
                        </p-fieldset>
                        <!-- album -->
                        <p-fieldset :toggleable="true" v-if="albums">
                            <template #legend>
                                <i class="pi iconfont icon-24gl-musicAlbum2"></i>
                                <b>专辑</b>
                            </template>
                            <div v-if="albums.length == 0">
                                <span class="emptyInfo"><em>暂无专辑</em></span>
                            </div>
                            <div v-else>
                                <p-timeline :value="albums">
                                    <template #opposite="slotProps">
                                        <small class="p-text-secondary">{{slotProps.item.releaseDate}}</small>
                                    </template>
                                    <template #content="slotProps">
                                        <a :href="'/db/album/' + slotProps.item.id"><em>{{slotProps.item.name}}</em></a><br>
                                        <small>
                                            {{slotProps.item.catalogNo?slotProps.item.catalogNo:" N/A "}}&nbsp
                                            <span v-for="format in slotProps.item.albumFormat" style="display:inline;">
                                                <p-tag class="ml-1" :value="format.label"></p-tag>
                                            </span>
                                        </small>
                                    </template>
                                </p-timeline>
                            </div>
                        </p-fieldset>
                        <!-- book -->
                        <p-fieldset :toggleable="true" v-if="books">
                            <template #legend>
                                <i class="pi iconfont icon-book"></i>
                                <b>图书</b>
                            </template>
                            <div v-if="books.length == 0">
                                <span class="emptyInfo"><em>暂无图书</em></span>
                            </div>
                            <div v-else>
                                <p-timeline :value="books">
                                    <template #opposite="slotProps">
                                        <small class="p-text-secondary">{{slotProps.item.publishDate}}</small>
                                    </template>
                                    <template #content="slotProps">
                                        <a :href="'/db/book/' + slotProps.item.id"><em>{{slotProps.item.title}}</em></a>
                                        <small>
                                            <p-tag class="ml-1" :value="slotProps.item.bookType.nameZh"></p-tag>
                                            &nbsp;<span class="label">ISBN-13: {{slotProps.item.isbn13}}</span>
                                        </small>
                                    </template>
                                </p-timeline>
                            </div>
                        </p-fieldset>
                        <!-- disc -->
                        <p-fieldset :toggleable="true" v-if="discs">
                            <template #legend>
                                <i class="pi iconfont icon-Video-Disc"></i>
                                <b>DVD/BD</b>
                            </template>
                            <div v-if="discs.length == 0">
                                <span class="emptyInfo"><em>暂无碟片</em></span>
                            </div>
                            <div v-else>
                                <p-timeline :value="discs">
                                    <template #opposite="slotProps">
                                        <small class="p-text-secondary">{{slotProps.item.releaseDate}}</small>
                                    </template>
                                    <template #content="slotProps">
                                        <a :href="'/db/disc/' + slotProps.item.id"><em>{{slotProps.item.name}}</em></a>&nbsp;
                                        <small>
                                            <b>{{slotProps.item.catalogNo}}</b>&nbsp;
                                            <span v-for="format in slotProps.item.mediaFormat" style="display:inline;">
                                            <p-tag class="ml-1" :value="format.label"></p-tag>
                                        </span>
                                        </small>
                                    </template>
                                </p-timeline>
                            </div>
                        </p-fieldset>
                    </div>
                </template>
            </p-card>
        </div>
        <div class="col-2" style="min-width: 300px">
            <div th:insert="~{template/item-detail-template :: sider_image_panel}"></div>
            <div class="mt-2" th:insert="~{template/item-detail-template :: index_loading_related_item_panel}"></div>
            <p-panel class="mt-2" v-if="product.id != 0 && !relatedItemLoad">
                <template #header>
                    <span class="text-start side-panel-header">
                        <i class="pi pi-list"></i><span><strong>相关作品</strong></span>
                    </span>
                </template>
                <div class="grid">
                    <span class="small_font">
                        <div class="info_bit_small small_font grid m-0 p-0"
                             v-if="relatedProducts.length != 0"
                             v-for="relatedProduct of relatedProducts">
                            <div class="sidebar-panel-image-small-div product_info_bit_thumb mt-2">
                                <a :href="'/db/product/'+ relatedProduct.id">
                                    <img class="sidebar-panel-image-small" :src="relatedProduct.cover.blackUrl" v-tooltip.bottom="'收录时间: ' + relatedProduct.addedTime + '编辑时间: ' + relatedProduct.editedTime">
                                </a>
                            </div>
                            <div class="col p-0" style="height: 80px">
                                <ul class="info_bit_small_other">
                                    <li>
                                        <a class="small_font"
                                           :href="'/db/product/'+ relatedProduct.id ">
                                            <span class="text-truncate-2 mr-2">
                                                {{relatedProduct.name}}
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <span class="small_font col-6 related-item-catalog">
                                            {{relatedProduct.category.nameZh}}
                                        </span>
                                        <span class="small_font col-6 related-item-date">
                                            {{relatedProduct.releaseDate}}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </span>
                </div>
            </p-panel>
            <div th:insert="~{template/item-detail-template :: page_info_card}"></div>
        </div>
    </div>
    <p-dialog :modal="true" v-model:visible="displayEditDialog" :style="{width: '600px'}" header="编辑数据"
              class="p-fluid">
        <p-blockui :blocked="editBlock">
            <div class="formgrid grid">
                <div class="field col">
                    <label>作品名称<span style="color: red">*</span></label>
                    <p-inputtext v-model.trim="productEdit.name"></p-inputtext>
                </div>
                <div class="field col">
                    <label>作品名称(中文)<span style="color: red">*</span></label>
                    <p-inputtext v-model.trim="productEdit.nameZh"></p-inputtext>
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <label>作品名称(英语)</label>
                    <p-inputtext v-model.trim="productEdit.nameEn"></p-inputtext>
                </div>
                <div class="field col">
                    <label>发行时间<span style="color: red">*</span></label>
                    <p-calendar v-model="productEdit.releaseDate" date-format="yy/mm/dd"
                                :show-button-bar="true" :show-icon="true"></p-calendar>
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <label class="mb-3">作品分类<span
                            style="color: red">*</span></label>
                    <p-dropdown v-model="productEdit.category" :options="productCategorySet"
                                placeholder="选择作品分类" option-label="label" option-value="value">
                    </p-dropdown>

                </div>
                <div class="field col">
                    <label class="mb-3">所属系列<span style="color: red">*</span></label>
                    <p-dropdown v-model="productEdit.franchise" :options="franchiseSet" :disabled="true"
                                placeholder="选择所属系列" option-label="label" option-value="value">
                    </p-dropdown>
                </div>
            </div>
            <div class="field">
                <label>备注</label>
                <p-textarea v-model="productEdit.remark" rows="3" cols="20" :auto-resize="true"></p-textarea>
            </div>
        </p-blockui>
        <template #footer>
            <p-button label="取消" icon="pi pi-times" class="p-button-text"
                      @click="closeEditDialog" :disabled="editBlock"></p-button>
            <p-button label="保存" icon="pi pi-check" class="p-button-text"
                      @click="submitEditProduct" :disabled="editBlock"></p-button>
        </template>
    </p-dialog>
    <p-dialog :modal="true" v-model:visible="displayOrganizationEditDialog" header="编辑关联组织信息"
              :style="{width: '800px'}">
        <p-blockui :blocked="editBlock">
            <p-panel>
            <template #header>
                <i class="pi pi-user-plus mr-2" style="font-size: 2rem"></i>
                <b>新增</b>
            </template>
            <div class="formgrid grid">
                <div class="field col-4">
                    <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <i class="pi pi-tag"></i>
                                    </span>
                        <p-inputtext v-model="organization.label" placeholder="组织类型"></p-inputtext>
                    </div>
                </div>
                <div class="field col-4">
                    <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <i class="pi iconfont icon-gongsi"></i>
                                    </span>
                        <p-inputtext v-model="organizationItem.name" placeholder="组织名称"></p-inputtext>
                    </div>
                </div>
                <div class="field col-2">
                    <p-button label="新增单项" icon="pi pi-save"
                              @click="addOrganizationItem"></p-button>
                </div>
                <div class="field col-2">
                    <p-button label="新增组织" icon="pi pi-save"
                              @click="addOrganization"></p-button>
                </div>
                <div class="field col-4">
                    <p-dropdown v-model="organization.format" :options="PRODUCT_ORGANIZATION_FORMAT" option-label="label"
                                option-value="value"></p-dropdown>
                    <!--                    <p-inputswitch v-model="organization.special" :true-value="1" :false-value="0"></p-inputswitch>-->
                </div>
                <div class="field col-4" v-if="organization.format == 1">
                    <p-dropdown v-model="organizationItem.region" :options="regionSet" :filter="true"
                                :show-clear="true" option-label="nameZh" option-value="code">
                        <template #value="slotProps">
                            <div class="country-item" v-if="slotProps.value">
                                <span :class="'fi fi-' + slotProps.value"></span>
                                <div class="ml-2">{{regionCode2NameZh(slotProps.value, regionSet)}}</div>
                            </div>
                            <span v-else>选择地区</span>
                        </template>
                        <template #option="slotProps">
                            <div class="country-item">
                                <span :class="'fi fi-' + slotProps.option.code"></span>
                                <div class="ml-2">{{slotProps.option.nameZh}}</div>
                            </div>
                        </template>
                    </p-dropdown>
                </div>
                <div class="field col-4" v-if="organization.format == 2">
                    <p-dropdown v-model="organizationItem.region" :options="regionSet" :filter="true"
                                :show-clear="true" option-label="nameZh" option-value="code">
                        <template #value="slotProps">
                            <div class="country-item" v-if="slotProps.value">
                                <span :class="'fi fi-' + slotProps.value"></span>
                                <div class="ml-2">{{regionCode2NameZh(slotProps.value, regionSet)}}</div>
                            </div>
                            <span v-else>选择地区</span>
                        </template>
                        <template #option="slotProps">
                            <div class="country-item">
                                <span :class="'fi fi-' + slotProps.option.code"></span>
                                <div class="ml-2">{{slotProps.option.nameZh}}</div>
                            </div>
                        </template>
                    </p-dropdown>
                </div>
                <div class="field col-4" v-if="organization.format == 2">
                    <p-multiselect v-model="organizationItem.platforms" :options="platformSet"
                                   placeholder="所属平台" option-label="labelEn" option-value="labelEn"
                                   display="chip" :filter="true">
                    </p-multiselect>
                </div>
            </div>
        </p-panel>
            <p-panel>
            <template #header>
                <i class="pi pi-user-edit mr-2" style="font-size: 2rem"></i>
                <b>编辑</b>
            </template>
            <div v-if="tmpOrganizations.length != 0">
                <p-datatable dataKey="id" :value="tmpOrganizations" responsive-layout="scroll"
                             class="p-datatable-sm" striped-rows @row-reorder="organizationOnRowReorder"
                             context-menu v-model:context-menu-selection="selectedOrganization"
                             @row-contextmenu="organizationRowMenu" edit-mode="row"
                             v-model:editing-rows="organizationEditingRows" @row-edit-save="organizationOnRowEditSave">
                    <p-column :row-reorder="true"></p-column>
                    <p-column field="label" header="组织类型">
                        <template #editor="{ data, field }">
                            <p-inputtext v-model="data[field]" autofocus></p-inputtext>
                        </template>
                    </p-column>
                    <p-column field="value" header="组织">
                        <template #body="slotProps">
                            <div v-if="slotProps.data.format == 0">
                                <div v-for="item in slotProps.data.value" style="display:inline">
                                    {{item.name}}
                                </div>
                            </div>
                            <div v-if="slotProps.data.format == 1">
                                <ul class="px-4">
                                    <li v-for="item in slotProps.data.value">
                                        {{item.name}} <span :class="'fi fi-' + item.region"></span>
                                    </li>
                                </ul>
                            </div>
                            <div v-if="slotProps.data.format == 2">
                                <ul class="px-4">
                                    <li v-for="item in slotProps.data.value">
                                        {{item.name}} (<span :class="'fi fi-' + item.region"></span>,{{item.platforms.join(",")}})
                                    </li>
                                </ul>
                            </div>
                        </template>
                    </p-column>
                    <p-column :row-editor="true" style="width:10%; min-width:8rem"
                              bodyStyle="text-align:center"></p-column>
                </p-datatable>
                <p-contextmenu :model="organizationMenuModel" ref="organizationCm"></p-contextmenu>
            </div>
            <div v-else>
                <span class="emptyInfo">暂无关联组织信息</span>
            </div>
        </p-panel>
        </p-blockui>
        <template #footer>
            <p-button label="清空" icon="pi pi-trash" class="p-button-danger mr-4"
                      @click="clearOrganizations" :disabled="editBlock"></p-button>
            <p-button label="取消" icon="pi pi-times" class="mr-4"
                      @click="cancelOrganizationsEdit" :disabled="editBlock"></p-button>
            <p-button label="更新" icon="pi pi-save" class="p-button-success mr-4"
                      @click="submitOrganizations" :disabled="editBlock"></p-button>
        </template>
    </p-dialog>
    <p-dialog :modal="true" v-model:visible="displayStaffEditDialog" header="编辑Staff信息"
              :style="{width: '800px'}">
        <p-blockui :blocked="editBlock">
            <p-panel>
            <template #header>
                <i class="pi pi-user-plus mr-2" style="font-size: 2rem"></i>
                <b>新增</b>
            </template>
            <div class="grid">
                <div class="col-3">
                    <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <i class="pi pi-tag"></i>
                                    </span>
                        <p-inputtext v-model="staff.pos" placeholder="职位名称"></p-inputtext>
                    </div>
                </div>
                <div class="col-7">
                    <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">
                                        <i class="pi pi-users"></i>
                                    </span>
                        <p-chips v-model="staff.name" placeholder="人员信息" separator=","></p-chips>
                    </div>
                </div>
                <div class="col-2">
                    <p-button label="新增" icon="pi pi-save"
                              @click="addStaff"></p-button>
                </div>
            </div>
        </p-panel>
            <p-panel>
            <template #header>
                <i class="pi pi-user-edit mr-2" style="font-size: 2rem"></i>
                <b>编辑</b>
            </template>
            <div v-if="tmpStaffs.length != 0">
                <p-datatable dataKey="id" :value="tmpStaffs" responsive-layout="scroll"
                             class="p-datatable-sm" striped-rows @row-reorder="onRowReorder"
                             context-menu v-model:context-menu-selection="selectedStaff"
                             @row-contextmenu="staffRowMenu" edit-mode="row"
                             v-model:editing-rows="editingRows" @row-edit-save="onRowEditSave">
                    <p-column :row-reorder="true"></p-column>
                    <p-column field="pos" header="职位">
                        <template #editor="{ data, field }">
                            <p-inputtext v-model="data[field]" autofocus></p-inputtext>
                        </template>
                    </p-column>
                    <p-column field="name" header="人员">
                        <template #body="slotProps">
                            {{slotProps.data.name.join(" / ")}}
                        </template>
                        <template #editor="{ data, field }">
                            <p-chips v-model="data[field]"></p-chips>
                        </template>
                    </p-column>
                    <p-column :row-editor="true" style="width:10%; min-width:8rem"
                              bodyStyle="text-align:center"></p-column>
                </p-datatable>
                <p-contextmenu :model="menuModel" ref="cm"></p-contextmenu>
            </div>
            <div v-else>
                <span class="emptyInfo">暂无Staff相关信息</span>
            </div>
        </p-panel>
        </p-blockui>
        <template #footer>
            <p-button label="清空" icon="pi pi-trash" class="p-button-danger mr-4"
                      @click="clearStaffs" :disabled="editBlock"></p-button>
            <p-button label="取消" icon="pi pi-times" class="mr-4"
                      @click="cancelStaffEdit" :disabled="editBlock"></p-button>
            <p-button label="更新" icon="pi pi-save" class="p-button-success mr-4"
                      @click="submitStaff" :disabled="editBlock"></p-button>
        </template>
    </p-dialog>

    <p-dynamicdialog></p-dynamicdialog>
    <!-- 尾部 -->
    <footer class="mt-2" th:insert="~{template/footer :: site_footer}"></footer>
</div>
<script type="module" th:inline="javascript">
    import {marked} from '/tool/marked/marked.esm.js';
    import {postRequest, commonSubmit} from '/js/basic/Http_Request.js';
    import {showSearchPanel} from '/js/basic/Rakbow_Web_Search_Params.js';
    import {showImageEditDialog} from '/js/basic/Item_Detail_Image_Params.js';
    import {showDescriptionEditDialog} from '/js/basic/Item_Detail_Text_Params.js';
    const {createApp, onMounted, ref} = Vue;
    const Tooltip = primevue.tooltip;
    const { useDialog } = primevue.usedialog;
    const {useToast} = primevue.usetoast;

    const App = {
        setup() {
            onMounted(() => {
                init();
                $(window).resize(function () {
                    $("#main").attr("style", "min-height:" + ($(window).height() - 350) + 'px');
                });
                getRelatedProducts();
            });

            //region tingle
            const descriptionModal = new tingle.modal({
                closeMethods: ['overlay', 'button', 'escape'],
                closeLabel: "Close",
                cssClass: ['tingle-markdown-body'],
                onOpen: function () {
                    if (detailInfo.value.description != null && detailInfo.value.description !== "") {
                        descriptionModal.setContent(marked.parse(detailInfo.value.description));
                    }
                }
            });

            const openTingleDescription = () => {
                descriptionModal.open();
            };
            //endregion

            //region common header
            const dialog = useDialog();
            const openSearchPanel = () => {
                showSearchPanel(dialog);
            }
            //endregion

            //region image
            const activeIndex = ref(0)
            const displayCustom = ref(false)
            const imageClick = (index) => {
                activeIndex.value = index;
                displayCustom.value = true;
            };
            //endregion

            //region basic
            const product = ref([[${product}]]);
            const toast = useToast();
            const pageInfo = ref([[${pageInfo}]]);
            const detailInfo = ref([[${detailInfo}]]);
            const itemImageInfo = ref([[${itemImageInfo}]]);
            const franchiseSet = ref([[${options.franchiseSet}]]);
            const relatedItemLoad = ref(true);
            const relatedProducts = ref([]);
            const productCategorySet = ref([[${options.productCategorySet}]]);
            const platformSet = ref([[${options.platformSet}]]);
            const regionSet = ref([[${options.regionSet}]]);

            const albums = ref([[${albums}]]);
            const books = ref([[${books}]]);
            const discs = ref([[${discs}]]);
            const games = ref([[${games}]]);
            //endregion

            //region organization
            const organizationItem = ref({});
            const tmpOrganizations = ref();
            const organizationCm = ref();
            const selectedOrganization = ref();
            const organization = ref({
                label: "",
                value: []
            });
            const organizations = ref([]);
            const displayOrganizationEditDialog = ref(false);
            const organizationMenuModel = ref([
                {label: '删除', icon: 'pi pi-fw pi-user-minus', command: () => deleteOrganization(selectedOrganization)}
            ]);
            const organizationOnRowReorder = (ev) => {
                tmpOrganizations.value = ev.value;
            };
            const organizationRowMenu = (ev) => {
                organizationCm.value.show(ev.originalEvent);
            };
            const deleteOrganization = (organization) => {
                tmpOrganizations.value = tmpOrganizations.value.filter((o) => o.label !== organization.value.label);
                toast.add({severity: 'error', summary: '已删除', detail: organization.value.value, life: 3000});
                selectedOrganization.value = null;
            };
            const organizationEditingRows = ref([]);
            const organizationOnRowEditSave = (ev) => {
                let {newData, index} = ev;

                tmpOrganizations.value[index] = newData;
            };

            const openOrganizationEditDialog = () => {
                tmpOrganizations.value = JSON.parse(JSON.stringify(product.value.organizations));
                organization.value = {
                    format: 0
                };
                displayOrganizationEditDialog.value = true;
            };
            const clearOrganizations = () => {
                tmpOrganizations.value = [];
            };
            const addOrganizationItem = () => {
                if (organization.value.value === null || organization.value.value === undefined
                || organization.value.value.length === 0) {
                    organization.value.value = [];
                }
                organization.value.value.push(organizationItem.value);
                organizationItem.value = {};
            };
            const addOrganization = () => {
                if (organization.value.format === null || organization.value.format === undefined) {
                    organization.value.format = 0;
                }
                tmpOrganizations.value.push(organization.value);
                organization.value = {};
            };
            const cancelOrganizationsEdit = () => {
                organization.value = {};
                displayOrganizationEditDialog.value = false;
            };
            const submitOrganizations = () => {
                editBlock.value = true;
                let json = {
                    id: product.value.id,
                    organizations: tmpOrganizations.value
                }
                commonSubmit(toast, editBlock, UPDATE_PRODUCT_ORGANIZATIONS_URL, json)
                    .then(res => {
                        if (res.state === 1) {
                            displayOrganizationEditDialog.value = false;
                            organization.value = {};
                            location.reload(true);
                        }
                    })
            };
            //endregion

            //region staffs
            const tmpStaffs = ref();
            const cm = ref();
            const selectedStaff = ref();
            const staff = ref({});
            const staffs = ref([]);
            const displayStaffEditDialog = ref(false);
            const menuModel = ref([
                {label: '删除', icon: 'pi pi-fw pi-user-minus', command: () => deleteStaff(selectedStaff)}
            ]);
            const onRowReorder = (ev) => {
                tmpStaffs.value = ev.value;
            };
            const staffRowMenu = (ev) => {
                cm.value.show(ev.originalEvent);
            };
            const deleteStaff = (staff) => {
                tmpStaffs.value = tmpStaffs.value.filter((a) => a.pos !== staff.value.pos);
                toast.add({severity: 'error', summary: '已删除', detail: staff.value.pos, life: 3000});
                selectedStaff.value = null;
            };
            const editingRows = ref([]);
            const onRowEditSave = (ev) => {
                let {newData, index} = ev;

                tmpStaffs.value[index] = newData;
            };

            const openStaffEditDialog = () => {
                tmpStaffs.value = JSON.parse(JSON.stringify(product.value.staffs));
                staff.value = {};
                displayStaffEditDialog.value = true;
            };
            const clearStaffs = () => {
                tmpStaffs.value = [];
            };
            const addStaff = () => {
                tmpStaffs.value.push(staff.value);
                staff.value = {};
            }
            const cancelStaffEdit = () => {
                staff.value = {};
                displayStaffEditDialog.value = false;
            };
            const submitStaff = () => {
                editBlock.value = true;
                let json = {
                    id: product.value.id,
                    staffs: tmpStaffs.value
                }
                commonSubmit(toast, editBlock, UPDATE_PRODUCT_STAFF_URL, json)
                    .then(res => {
                        if (res.state === 1) {
                            displayStaffEditDialog.value = false;
                            staff.value = {};
                            location.reload(true);
                        }
                    })
            };
            //endregion

            //region edit
            const like = () => {
                let json = {
                    entityType: ENTITY.PRODUCT,
                    entityId: detailInfo.value.id
                }
                postRequest(toast, LIKE_ITEM_URL, json)
                    .then(res => {
                        if (res.state === 1) {
                            pageInfo.value.likeCount++;
                            pageInfo.value.liked = true;
                        }
                    });
            };
            const updateStatus = () => {
                editBlock.value = true;
                let json = {
                    entityType: ENTITY.PRODUCT,
                    entityId: detailInfo.value.id,
                    status: !detailInfo.value.status
                };
                commonSubmit(toast, editBlock, UPDATE_ITEM_STATUS, json);
            };
            const editBlock = ref(false);
            const edits = ref([
                {
                    label: '图片管理',
                    icon: 'pi pi-images',
                    command: () => {
                        showImageEditDialog(toast, dialog, itemImageInfo.value, detailInfo.value);
                    }
                },
                {
                    label: '关联组织',
                    icon: 'pi iconfont icon-gongsi',
                    command: () => {
                        openOrganizationEditDialog();
                    }
                },
                {
                    label: 'staff信息',
                    icon: 'pi pi-users',
                    command: () => {
                        openStaffEditDialog();
                    }
                },
                {
                    label: '描述信息',
                    icon: 'pi iconfont icon-miaoshu',
                    command: () => {
                        showDescriptionEditDialog(toast, dialog, detailInfo.value, itemImageInfo.value.images);
                    }
                }
            ]);
            const productEdit = ref({});
            const displayEditDialog = ref(false);
            const openEditDialog = () => {
                let dataTmp = JSON.parse(JSON.stringify(product.value));
                productEdit.value = dataTmp;
                productEdit.value.franchise = dataTmp.franchise.value;
                productEdit.value.category = dataTmp.category.id;
                displayEditDialog.value = true;
            };
            //关闭编辑数据面板
            const closeEditDialog = () => {
                displayEditDialog.value = false;
                productEdit.value = {};
            };
            //保存编辑数据
            const submitEditProduct = async () => {
                editBlock.value = true;
                commonSubmit(toast, editBlock, UPDATE_PRODUCT_URL, productEdit.value)
                    .then(res => {
                        if (res.state === 1) {
                            productEdit.value = {};
                            closeEditDialog();
                            location.reload(true);
                        }
                    }).catch(e => {
                        console.error(e);
                    });
            };
            //endregion

            //region init
            const init = () => {
                text2marked();
                $("#main").attr("style", "min-height:" + ($(window).height() - 350) + 'px');
            };
            const text2marked = () => {

                const description = detailInfo.value.description;

                if (description != null && description !== "") {
                    document.getElementById("description").innerHTML = marked.parse(description);
                }
            };
            const getRelatedProducts = () => {
                relatedItemLoad.value = true;
                let json = {
                    id: detailInfo.value.id
                }
                postRequest(null, GET_RELATED_PRODUCTS_URL, json)
                    .then(res => {
                        if (res.state === 1) {
                            relatedProducts.value = res.data;
                        }
                        relatedItemLoad.value = false;
                    });
            };
            //endregion

            return {
                openTingleDescription,

                //header
                dialog, openSearchPanel, NOT_LOGIN_NAVBAR_ITEMS, LOGIN_NAVBAR_ITEMS,

                //image
                activeIndex, displayCustom, imageClick, initGalleriaImageClass,

                //basic
                albums, books, discs, games,
                product, updateStatus, like, pageInfo, detailInfo, itemImageInfo, franchiseSet,
                platformSet, regionSet, productCategorySet, relatedProducts, responsiveOptions, regionCode2NameZh,
                relatedItemLoad, tmpList5, PRODUCT_ORGANIZATION_FORMAT,

                //edit
                editBlock, productEdit, edits, displayEditDialog, openEditDialog, closeEditDialog, submitEditProduct,

                //staff
                tmpStaffs, cm, selectedStaff, staff, staffs, displayStaffEditDialog, menuModel, onRowReorder,
                staffRowMenu, deleteStaff, editingRows, onRowEditSave, openStaffEditDialog, clearStaffs, addStaff,
                cancelStaffEdit, submitStaff,

                //organization
                tmpOrganizations, organizationCm, organization, organizations, organizationMenuModel,
                organizationEditingRows, selectedOrganization, addOrganization, clearOrganizations,
                submitOrganizations, deleteOrganization, cancelOrganizationsEdit, organizationRowMenu,
                organizationOnRowEditSave, organizationOnRowReorder, organizationItem, addOrganizationItem,
                displayOrganizationEditDialog,
            }
        },
        components: {
            "p-dropdown": primevue.dropdown,
            "p-button": primevue.button,
            "p-menubar": primevue.menubar,
            "p-avatar": primevue.avatar,
            "p-inputtext": primevue.inputtext,
            "p-toast": primevue.toast,
            "p-panel": primevue.panel,
            "p-fieldset": primevue.fieldset,
            "p-galleria": primevue.galleria,
            "p-splitbutton": primevue.splitbutton,
            "p-calendar": primevue.calendar,
            "p-textarea": primevue.textarea,
            "p-dialog": primevue.dialog,
            "p-divider": primevue.divider,
            "p-column": primevue.column,
            "p-datatable": primevue.datatable,
            "p-timeline": primevue.timeline,
            "p-chips": primevue.chips,
            "p-contextmenu": primevue.contextmenu,
            "p-tag": primevue.tag,
            "p-multiselect": primevue.multiselect,
            "p-inputswitch": primevue.inputswitch,
            "p-card": primevue.card,
            "p-blockui": primevue.blockui,
            "p-skeleton": primevue.skeleton,

            "p-scrollpanel": primevue.scrollpanel,
            "p-scrolltop": primevue.scrolltop,
            "p-dynamicdialog": primevue.dynamicdialog,
        }
    };

    const routes = [{path: PRODUCT_DETAIL_URL + [[${detailInfo.id}]], component: App}];

    const router = VueRouter.createRouter({
        history: VueRouter.createWebHistory(),
        routes
    });

    createApp(App)
        .use(router)
        .use(primevue.toastservice)
        .use(primevue.config.default)
        .directive('tooltip', Tooltip)
        .use(MdEditorV3)
        .use(primevue.dialogservice)
        .mount("#app");
</script>
<style>
    .p-text-secondary {
        font-size: 15px;
    }

    .p-timeline {
        width: 1200px;
    }

    .p-timeline-event {
        min-height: 35px;
    }

    .p-timeline .p-timeline-event-marker {
        width: 0.6rem;
        height: 0.6rem;
    }

    .product-detail-cover {
        transform:translateY(7px);
        width: 200px;
        max-height: 150px;
    }

    a {
        color: #ceffff;
    }

    .p-timeline.p-timeline-vertical .p-timeline-event-content {
        padding: 0 1rem;
    }

    .p-timeline-left {
        position: relative;
        left: -65%;
    }
</style>
</body>
</html>