<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Franchise List</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <link href="https://img.rakbow.com/common/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link th:href="@{/css/iconfont/iconfont.css}" rel="stylesheet" type="text/css" />

    <!-- bootstrap -->
    <link rel="stylesheet" th:href="@{/css/bootstrap/myBootstrap.min.css}">
    <script th:src="@{/tool/bootstrap/bootstrap.min.js}"></script>

    <!-- PrimeVue css-->
    <link th:href="@{/css/primevue/themes/bootstrap4-dark-blue/theme.css}" rel="stylesheet"/>
    <link th:href="@{/css/primevue/primevue.min.css}" rel="stylesheet" />
    <link th:href="@{/css/primeflex/primeflex.min.css}" rel="stylesheet" />
    <link th:href="@{/css/primeicons/primeicons.css}" rel="stylesheet" />

    <!-- Vue3 -->
    <script th:src="@{/js/vue/vue.global.js}"></script>
    <script th:src="@{/js/primevue/primevue.min.js}"></script>
    <script th:src="@{/js/vue/vue-router.global.js}"></script>

    <!-- PrimeVue Components -->
    <script th:src="@{/js/primevue/components/menubar.min.js}"></script>
    <script th:src="@{/js/primevue/components/avatar.min.js}"></script>
    <script th:src="@{/js/primevue/components/inputtext.min.js}"></script>
    <script th:src="@{/js/primevue/components/toast.min.js}"></script>
    <script th:src="@{/js/primevue/components/toastservice.min.js}"></script>
    <script th:src="@{/js/primevue/components/datatable.min.js}"></script>
    <script th:src="@{/js/primevue/components/column.min.js}"></script>
    <script th:src="@{/js/primevue/components/multiselect.min.js}"></script>
    <script th:src="@{/js/primevue/components/toolbar.min.js}"></script>
    <script th:src="@{/js/primevue/components/calendar.min.js}"></script>
    <script th:src="@{/js/primevue/components/panel.min.js}"></script>
    <script th:src="@{/js/primevue/components/textarea.min.js}"></script>
    <script th:src="@{/js/primevue/components/divider.min.js}"></script>
    <script th:src="@{/js/primevue/components/dialog.min.js}"></script>
    <script th:src="@{/js/primevue/components/inputswitch.min.js}"></script>
    <script th:src="@{/js/primevue/components/tristatecheckbox.min.js}"></script>

    <script th:src="@{/js/primevue/components/scrolltop.min.js}"></script>
    <script th:src="@{/js/primevue/components/scrollpanel.min.js}"></script>
    <script th:src="@{/js/primevue/components/dynamicdialog.min.js}"></script>
    <script th:src="@{/js/primevue/components/dialogservice.min.js}"></script>
    <script th:src="@{/js/primevue/components/divider.min.js}"></script>
    <script th:src="@{/js/primevue/components/chip.min.js}"></script>
    <script th:src="@{/js/primevue/components/menubar.min.js}"></script>
    <script th:src="@{/js/primevue/components/avatar.min.js}"></script>
    <script th:src="@{/js/primevue/components/tag.min.js}"></script>



    <!-- Jquery -->
    <script th:src="@{/js/jquery.js}"></script>

    <!-- basic js -->
    <script th:src="@{/js/basic/Data_Helper.js}"></script>

    <script th:src="@{/js/basic/Rakbow_Web_Helper_Str.js}"></script>
    <script th:src="@{/js/basic/Rakbow_Web_Exception_Str_CN.js}"></script>

    <!--other css -->
    <link th:href="@{/css/global.css}" rel="stylesheet" />
    <link th:href="@{/css/search.css}" rel="stylesheet"/>
    <link th:href="@{/css/item-list.css}" rel="stylesheet"/>
</head>
<body>
<div id="app">
    <!-- 头部 -->
    <header class="sticky-top mb-2" th:insert="~{template/header :: site_header}"></header>
    <div>
        <p-toast></p-toast>
        <p-toolbar>
            <template #start>
                <p-button label="新增" icon="pi pi-plus" class="p-button-success mr-4"
                          @click="openNewDialog"></p-button>&nbsp;
            </template>
            <template #end>
                <p-button label="导出(CSV)" icon="pi pi-external-link" class="p-button-help"
                          @click="exportCSV($event)"></p-button>
            </template>
        </p-toolbar>
        <p-datatable ref="dt" :value="franchises" class=" p-datatable-sm"
                     :lazy="true" v-model:filters="filters" :total-records="totalRecords" :loading="loading"
                     @page="onPage($event)" @sort="onSort($event)" @filter="onFilter($event)"
                     filter-display="row" :globalFilterFields="['name','nameZh']" dataKey="id"
                     :paginator="true" :rows="10" striped-rows :resizable-columns="true" column-resize-mode="expand"
                     :scrollable="true" scroll-height="flex" :rows-per-page-options="[10,25,50]" show-gridlines
                     paginator-template="FirstPageLink PrevPageLink PageLinks NextPageLink
                                 LastPageLink CurrentPageReport RowsPerPageDropdown"
                     current-page-report-template="当前显示第【{first}】至【{last}】条数据，总【{totalRecords}】条数据"
                     responsive-layout="scroll">
            <template #header>
                <div class="grid p-fluid">
                    <div class="col-12 lg:col-3 md:col-3 sm:col-6" style="text-align:left">
                        <p-multiselect :model-value="selectedColumns" :options="columns" option-label="header"
                                       @update:model-value="onToggle"
                                       placeholder="可选显示列" style="width: 20em"></p-multiselect>
                    </div>
                </div>
            </template>
            <template #empty>
                <span class="emptyInfo">
                    未检索到符合条件的数据
                </span>
            </template>
            <template #loading>
                <i class="pi pi-spin pi-spinner mr-2" style="font-size: 2rem"></i>
                <span>加载中，别急~</span>
            </template>
            <p-column style="flex: 0 0 4rem">
                <template #body="slotProps">
                    <p-button icon="pi pi-pencil" class="p-button-rounded p-button-text"
                              @click="openEditDialog(slotProps.data)"></p-button>
                </template>
            </p-column>
            <p-column header="序号" field="id" exportHeader="Franchise Id" :sortable="true" style="flex: 0 0 4rem"></p-column>
            <p-column header="名称" field="name" :show-filter-menu="false" style="flex: 0 0 15rem">
                <template #body="slotProps">
<!--                    <router-link :to="'/db/franchise/' + slotProps.data.id">{{slotProps.data.name}}</router-link>-->
                    <a :href="'/db/franchise/' + slotProps.data.id">
                        {{slotProps.data.name}}
                    </a>
                </template>
                <template #filter="{filterModel,filterCallback}">
                    <p-inputtext type="text" v-model="filterModel.value" @keydown.enter="filterCallback()"></p-inputtext>
                </template>
            </p-column>
            <p-column header="名称(中)" field="nameZh" :show-filter-menu="false" style="flex: 0 0 15rem">
                <template #filter="{filterModel,filterCallback}">
                    <p-inputtext type="text" v-model="filterModel.value" @keydown.enter="filterCallback()"></p-inputtext>
                </template>
            </p-column>
            <p-column header="名称(英)" field="nameEn" style="flex: 0 0 15rem"></p-column>
            <p-column header="起始时间" field="originDate" :sortable="true" style="flex: 0 0 7rem"></p-column>
            <p-column header="元系列" field="metaLabel" data-type="boolean" body-class="text-center"
                      style="flex: 0 0 4rem">
                <template #body="{data}">
                    <i class="pi" :class="{'true-icon pi-check-circle': data.metaLabel, 'false-icon pi-times-circle': !data.metaLabel}"></i>
                </template>
                <template #filter="{filterModel,filterCallback}">
                    <p-tristatecheckbox v-model="filterModel.value" @change="filterCallback()"></p-tristatecheckbox>
                </template>
            </p-column>
            <p-column v-for="(col, index) of selectedColumns" :field="col.field"
                      :header="col.header" :key="col.field + '_' + index">
            </p-column>
        </p-datatable>
    </div>
    <p-dynamicdialog></p-dynamicdialog>
    <!-- 尾部 -->
    <footer class="mt-2" th:insert="~{template/footer :: site_footer}"></footer>

    <p-dialog :modal="true" v-model:visible="displayNewDialog" :style="{width: '600px'}" header="新增数据"
              class="p-fluid">
        <p-panel header="基础信息">
            <div class="formgrid grid">
                <div class="field col">
                    <label>名称<span style="color: red">*</span></label>
                    <p-inputtext v-model.trim="franchise.name"></p-inputtext>
                </div>
                <div class="field col">
                    <label>名称(中)<span style="color: red">*</span></label>
                    <p-inputtext v-model.trim="franchise.nameZh"></p-inputtext>
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <label>名称(英)</label>
                    <p-inputtext v-model.trim="franchise.nameEn"></p-inputtext>
                </div>
                <div class="field col">
                    <label>发售时间<span style="color: red">*</span></label>
                    <p-calendar v-model="franchise.originDate" date-format="yy/mm/dd"
                                :show-button-bar="true"
                                :show-icon="true"></p-calendar>
                </div>
            </div>
            <div class="field">
                <label>备注</label>
                <p-textarea v-model="franchise.remark" rows="3" cols="20"
                            :auto-resize="true"></p-textarea>
            </div>
        </p-panel>
        <p-panel header="进阶信息">
            <p-divider align="center" type="dashed"><b>图片</b></p-divider>
            <div class="field">
                <span style="text-align: center"><em>如需添加图片，请到详情页面进行</em></span>
            </div>
            <p-divider align="center" type="dashed"><b>描述</b></p-divider>
            <div class="field">
                <span style="text-align: center"><em>如需图片描述信息，请到详情页面进行</em></span>
            </div>
        </p-panel>
        <p-panel header="子系列">
            <div class="formgrid grid">
                <div class="field col-3">
                    <div class="col-12">
                        <label class="mb-3">是否为元系列<span style="color: red">*</span></label>
                    </div>
                    <div class="col-12 mt-4">
                        <p-inputswitch v-model="franchise.metaLabel"></p-inputswitch>
                    </div>
                </div>
                <div class="field col-9" v-if="franchise.metaLabel">
                    <label class="mb-3">子系列</label>
                    <p-multiselect v-model="franchise.childFranchises" :options="franchiseSet" placeholder="子系列"
                                   option-label="label" option-value="value" display="chip" :filter="true">
                    </p-multiselect>
                </div>
            </div>
        </p-panel>
        <template #footer>
            <p-button label="取消" icon="pi pi-times" class="p-button-text" @click="closeNewDialog"></p-button>
            <p-button label="保存" icon="pi pi-check" class="p-button-text" @click="submitNewFranchise"></p-button>
        </template>
    </p-dialog>
    <p-dialog :modal="true" v-model:visible="displayEditDialog" :style="{width: '600px'}" header="编辑数据"
              class="p-fluid">
        <p-panel header="基础信息">
            <div class="formgrid grid">
                <div class="field col">
                    <label>名称<span style="color: red">*</span></label>
                    <p-inputtext v-model.trim="franchiseEdit.name"></p-inputtext>
                </div>
                <div class="field col">
                    <label>名称(中)<span style="color: red">*</span></label>
                    <p-inputtext v-model.trim="franchiseEdit.nameZh"></p-inputtext>
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <label>名称(英)</label>
                    <p-inputtext v-model.trim="franchiseEdit.nameEn"></p-inputtext>
                </div>
                <div class="field col">
                    <label>发售时间<span style="color: red">*</span></label>
                    <p-calendar v-model="franchiseEdit.originDate" date-format="yy/mm/dd"
                                :show-button-bar="true"
                                :show-icon="true"></p-calendar>
                </div>
            </div>
            <div class="field">
                <label>备注</label>
                <p-textarea v-model="franchiseEdit.remark" rows="3" cols="20"
                            :auto-resize="true"></p-textarea>
            </div>
        </p-panel>
        <p-panel header="进阶信息">
            <p-divider align="center" type="dashed"><b>图片</b></p-divider>
            <div class="field">
                <span style="text-align: center"><em>如需添加图片，请到详情页面进行</em></span>
            </div>
            <p-divider align="center" type="dashed"><b>描述</b></p-divider>
            <div class="field">
                <span style="text-align: center"><em>如需图片描述信息，请到详情页面进行</em></span>
            </div>
        </p-panel>
        <p-panel header="子系列" v-if="franchiseEdit.metaLabel">
            <div class="field col">
                <label class="mb-3">子系列</label>
                <p-multiselect v-model="franchiseEdit.childFranchises" :options="franchiseSet" placeholder="子系列"
                               option-label="label" option-value="value" display="chip" :filter="true">
                </p-multiselect>
            </div>
        </p-panel>
        <template #footer>
            <p-button label="取消" icon="pi pi-times" class="p-button-text"
                      @click="closeEditDialog"></p-button>
            <p-button label="保存" icon="pi pi-check" class="p-button-text"
                      @click="submitEditFranchise"></p-button>
        </template>
    </p-dialog>
</div>
<script type="module" th:inline="javascript">
    const {createApp, onMounted, ref} = Vue;
    const {FilterMatchMode, FilterOperator} = primevue.api;
    const Tooltip = primevue.tooltip;
    const { useDialog } = primevue.usedialog;
    const {useToast} = primevue.usetoast;

    const App = {
        setup() {
            onMounted(() => {
                init();
            });

            //region 页面header
            const dialog = useDialog();
            const openSearchPanel = () => {
                showSearchPanel(dialog);
            }
            //endregion

            //region ------基础配置------
            const franchises = ref();
            const franchiseSet = ref([[${franchiseSet}]]);
            const loading = ref(false);
            const dt = ref();
            const selectedColumns = ref();
            const toast = useToast();
            const exportCSV = () => {
                axiosGetRequest(CHECK_USER_AUTHORITY_URL, null)
                    .then(res => {
                        if (res.state === 0) {
                            toast.add({severity: 'error', summary: 'Error', detail: res.message, life: 3000});
                        } else {
                            dt.value.exportCSV();
                        }
                    })
            };
            //endregion

            //region ------搜索------
            const totalRecords = ref(0);
            const queryParams = ref({});
            const onToggle = (val) => {
                selectedColumns.value = columns.value.filter(col => val.includes(col));
            };
            const columns = ref([
                {field: 'remark', header: '备注'},
                {field: 'addedTime', header: '收录时间'},
                {field: 'editedTime', header: '编辑时间'},
            ]);
            const filters = ref({
                'name': {value: '', matchMode: 'contains'},
                'nameZh': {value: '', matchMode: 'contains'},
                'metaLabel': {value: null, matchMode: FilterMatchMode.EQUALS},
            });
            const onPage = (event) => {
                queryParams.value = event;
                getFranchises();
            };
            const onSort = (event) => {
                queryParams.value = event;
                getFranchises();
            };
            const onFilter = () => {
                queryParams.value.filters = filters.value;
                queryParams.value.first = 0;
                getFranchises();
            };
            const getFranchises = () => {
                loading.value = true;
                axiosPostRequest(GET_FRANCHISES_URL, {queryParams: queryParams.value})
                    .then(res => {
                        franchises.value = res.data;
                        totalRecords.value = res.total;
                        loading.value = false;
                    });
            };
            //endregion

            //region ------新增、编辑------
            const franchise = ref({});
            const franchiseEdit = ref({});

            const displayEditDialog = ref(false);
            const displayNewDialog = ref(false);

            //打开新增数据面板
            const openNewDialog = () => {
                franchise.value = {
                    metaLabel: false,
                    childFranchises: []
                };
                displayNewDialog.value = true;
            };
            //关闭新增数据面板
            const closeNewDialog = () => {
                franchise.value = {};
                displayNewDialog.value = false;
            };
            //提交新增数据
            const submitNewFranchise = () => {
                axiosPostRequest(ADD_FRANCHISE_URL, franchise.value)
                    .then(res => {
                        if (res.state === 1) {
                            franchise.value = {};
                            toast.add({
                                severity: 'success',
                                summary: 'Successful',
                                detail: res.message,
                                life: 3000
                            });
                            closeNewDialog();
                            location.reload(true);
                        } else {
                            toast.add({severity: 'error', summary: 'Error', detail: res.message, life: 3000});
                        }
                    });
            };

            //打开编辑数据面板
            const openEditDialog = (data) => {
                franchiseEdit.value = JSON.parse(JSON.stringify(data));
                displayEditDialog.value = true;
            };
            //关闭编辑数据面板
            const closeEditDialog = () => {
                displayEditDialog.value = false;
                franchiseEdit.value = {};
            };
            //保存编辑数据
            const submitEditFranchise = async () => {
                await axiosPostRequest(UPDATE_FRANCHISE_URL, franchiseEdit.value)
                    .then(res => {
                        if (res.state === 1) {
                            franchiseEdit.value = {};
                            toast.add({
                                severity: 'success',
                                summary: 'Successful',
                                detail: res.message,
                                life: 3000
                            });
                            closeEditDialog();
                            location.reload(true);
                        } else {
                            toast.add({severity: 'error', summary: 'Error', detail: res.message, life: 3000});
                        }
                    }).catch(e => {
                        console.error(e);
                    });
            };
            //endregion

            const init = () => {
                queryParams.value = {
                    first: 0,
                    rows: dt.value.rows,
                    sortField: null,
                    sortOrder: null,
                    filters: filters.value
                };
                getFranchises();
            };

            return {
                franchiseSet,
                dt, onToggle, onPage, onSort, onFilter, filters, totalRecords, loading,
                franchiseEdit, displayEditDialog, openEditDialog, closeEditDialog, submitEditFranchise,
                franchise, displayNewDialog, openNewDialog, closeNewDialog, submitNewFranchise,
                toast, dialog, openSearchPanel, NOT_LOGIN_NAVBAR_ITEMS, LOGIN_NAVBAR_ITEMS, exportCSV,
                franchises, selectedColumns, columns
            }
        },
        components: {
            "p-dropdown": primevue.dropdown,
            "p-button": primevue.button,
            "p-menubar": primevue.menubar,
            "p-avatar": primevue.avatar,
            "p-inputtext": primevue.inputtext,
            "p-toast": primevue.toast,
            "p-datatable": primevue.datatable,
            "p-column": primevue.column,
            "p-multiselect": primevue.multiselect,
            "p-toolbar": primevue.toolbar,
            "p-calendar": primevue.calendar,
            "p-textarea": primevue.textarea,
            "p-panel": primevue.panel,
            "p-divider": primevue.divider,
            "p-dialog": primevue.dialog,
            "p-inputswitch": primevue.inputswitch,

            "p-chip": primevue.chip,
            "p-tag": primevue.tag,
            "p-scrollpanel": primevue.scrollpanel,
            "p-scrolltop": primevue.scrolltop,
            "p-paginator": primevue.paginator,
            "p-dynamicdialog": primevue.dynamicdialog,
            "p-tristatecheckbox": primevue.tristatecheckbox,
        }
    };

    const routes = [{path: "/", component: App}];

    const router = VueRouter.createRouter({
        // history: VueRouter.createWebHashHistory(),
        history: VueRouter.createWebHistory(),
        routes
    });

    createApp(App)
        .use(router)
        .use(primevue.toastservice)
        .use(primevue.config.default)
        .directive('tooltip', Tooltip)
        .use(primevue.dialogservice)
        .mount("#app");
</script>
</body>
</html>