<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div id="app">
    <div th:fragment="site_header">
        <div th:if="${loginUser == null}">
            <p-menubar :model="notLoginNavbarItems">
                <template #start>
                    <a :href="domainUrl">
                        <img alt="logo" src="/img/logo.png" height="30" class="mr-2">
                    </a>
                </template>
                <template #end>
                    <div class="grid mt-0 mb-0 pt-0 pb-0">
                        <div class="col-10 mt-0 mb-0 pt-0 pb-0 p-inputgroup">
                            <p-dropdown v-model="selectedEntity" :options="entityType" option-label="label"
                                        option-value="value" placeholder="类型"></p-dropdown>
                            <p-inputtext class="form-control mr-sm-2" placeholder="Search" type="search"
                                         name="keyword" th:value="${keyword}"></p-inputtext>
                            <p-button icon="pi pi-search" class="p-button-warning btn btn-outline-light"
                                      type="submit"></p-button>
                        </div>
                    </div>
                </template>
            </p-menubar>
        </div>
        <div th:if="${loginUser != null}">
            <p-menubar :model="loginNavbarItems">
                <template #start>
                    <a :href="domainUrl">
                        <img alt="logo" src="https://img.rakbow.com/common/logo.png" height="30" class="mr-2">
                    </a>
                </template>
                <template #end>
                    <div class="grid mt-0 mb-0 pt-0 pb-0">
                        <div class="col-2 mt-0 mb-0 pt-0 pb-0">
                            <p-avatar th:if="${loginUser != null}" th:image="${loginUser.headerUrl}" size="small"
                                      shape="circle"></p-avatar>
                        </div>
                        <div class="col-10 mt-0 mb-0 pt-0 pb-0 p-inputgroup">
                            <p-dropdown v-model="selectedEntity" :options="entityType" option-label="label"
                                        option-value="value" placeholder="类型" style="width: 8px"></p-dropdown>
                            <p-inputtext class="form-control mr-sm-2" placeholder="Search" type="search"
                                         name="keyword" th:value="${keyword}"></p-inputtext>
                            <p-button icon="pi pi-search" class="p-button-warning btn btn-outline-light"
                                      type="submit"></p-button>
                        </div>
                    </div>
                </template>
            </p-menubar>
        </div>
    </div>
</div>
<script type="module" th:inline="javascript">
    const { createApp, onMounted, ref } = Vue;

    const App = {
        setup() {
            onMounted(() => {

            })
            const domainUrl = DOMAIN_URL;

            const selectedEntity = ref();

            const entityType = ref(ENTITY_TYPE);

            const notLoginNavbarItems = ref(NOT_LOGIN_NAVBAR_ITEMS);

            const loginNavbarItems = ref(LOGIN_NAVBAR_ITEMS);

            return { domainUrl, notLoginNavbarItems, loginNavbarItems, entityType, selectedEntity }
        },
        components: {
            "p-dropdown": primevue.dropdown,
            "p-inputtext": primevue.inputtext,
            "p-button": primevue.button,
            "p-avatar": primevue.avatar,
            "p-menubar": primevue.menubar,
        }
    };

    const routes = [{ path: "/", component: App }];

    const router = VueRouter.createRouter({
        // history: VueRouter.createWebHashHistory(),
        history: VueRouter.createWebHistory(),
        routes
    });

    createApp(App)
        .use(router)
        .use(primevue.config.default)
        .mount("#app");
</script>
</script>
<style>
    .user-header {
        width: 50px;
        height: 50px;
    }
</style>
</body>

</html>