<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rakbow.website.dao.EntityMapper">

    <sql id="selectFields">
        entity_type, entity_id, visit_num
    </sql>

    <sql id="insertFields">
        entity_type, entity_id, visit_num
    </sql>

    <select id="getVisit" resultType="Visit">
        select
        <include refid="selectFields"></include>
        from entityInfo
        where entity_type = #{entityType} and entity_id = #{entityId}
    </select>

    <select id="getAll" resultType="Visit">
        select
        <include refid="selectFields"></include>
        from entityInfo
<!--        order by release_date desc-->
    </select>

    <insert id="insertVisit" parameterType="Visit">
        insert into entityInfo (<include refid="insertFields"></include>)
        values (#{entityType}, #{entityId}, #{visitNum})
    </insert>

    <update id="updateVisit">
        update entityInfo
        set
        visit_num = #{visitNum}
        where entity_type = #{entityType} and entity_id = #{entityId}
    </update>

    <delete id="deleteVisit">
        delete
        from entityInfo
        where entity_type = #{entityType} and entity_id = #{entityId}
    </delete>

    <select id="selectVisitOrderByVisitNum" resultType="Visit">
        select
        <include refid="selectFields"></include>
        from entityInfo
        where entity_type = #{entityType}
        order by visit_num desc
        limit #{limit}
    </select>



    <update id="updateItemStatus" keyProperty="id">
        update
        <if test=" entityName == 'album' ">
            album
        </if>
        <if test=" entityName == 'book' ">
            book
        </if>
        <if test=" entityName == 'disc' ">
            disc
        </if>
        <if test=" entityName == 'game' ">
            game
        </if>
        <if test=" entityName == 'merch' ">
            merch
        </if>
        <if test=" entityName == 'product' ">
            product
        </if>
        <if test=" entityName == 'franchise' ">
            franchise
        </if>
        set
        status = #{status}
        where id = #{entityId}
    </update>
</mapper>