<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rakbow.website.dao.ProductMapper">

    <sql id="selectFields">
        id, series_id, name, name_zh, name_en, release_date, classification,
        images, staffs, description, remark, added_time, edited_time, _s
    </sql>

    <sql id="insertFields">
        series_id, name, name_zh, name_en, release_date, classification,
        images, staffs, description, remark, added_time, edited_time, _s
    </sql>

    <select id="selectProductById" resultType="Product">
        select
        <include refid="selectFields"></include>
        from product
        where id = #{id}
    </select>

    <select id="getAll" resultType="Product">
        select
        <include refid="selectFields"></include>
        from product
        where _s = 1;
    </select>

    <insert id="addProduct" parameterType="Product" keyProperty="id">
        insert into product (<include refid="insertFields"></include>)
        values (#{seriesId}, #{name}, #{nameZh}, #{nameEn}, #{releaseDate}, #{classification},
        #{images}, #{staffs}, #{description}, #{remark}, #{addedTime}, #{editedTime}, #{_s})
    </insert>

    <update id="updateProduct" parameterType="Product" keyProperty="id">
        update product
        set
        series_id = #{product.seriesId}, name = #{product.name}, name_zh = #{product.nameZh},
        name_en = #{product.nameEn}, release_date = #{product.releaseDate},
        classification = #{product.classification}, remark = #{product.remark},
        added_time = #{product.addedTime}, edited_time = #{product.editedTime}, _s = #{product._s}
        where id = #{id}
    </update>

    <delete id="deleteProductById">
        delete
        from product
        where id = #{id}
    </delete>

    <select id="selectAllProductsBySeriesId" resultType="Product">
        select
        <include refid="selectFields"></include>
        from product
        where series_id = #{seriesId}
        order by release_date desc
    </select>

    <update id="updateProductDescription" keyProperty="id">
        update product
        set
        description = #{description}, edited_time = #{editedTime}
        where id = #{id}
    </update>

    <update id="updateProductStaffs" keyProperty="id">
        update product
        set
        staffs = #{staffs}, edited_time = #{editedTime}
        where id = #{id}
    </update>

    <update id="updateProductImages" keyProperty="id">
        update product
        set
        images = #{images}, edited_time = #{editedTime}
        where id = #{id}
    </update>

</mapper>