<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rakbow.blog.dao.SeriesMapper">

    <sql id="selectFields">
        id, name_zh, name_jp, name_en, release_date, added_time, edited_time, description, remark
    </sql>

    <sql id="insertFields">
        name_zh, name_jp, name_en, release_date, added_time, edited_time, description, remark
    </sql>

    <select id="selectSeriesById" resultType="Series">
        select
        <include refid="selectFields"></include>
        from series
        where id = #{id}
    </select>

    <select id="getAll" resultType="Series">
        select
        <include refid="selectFields"></include>
        from series
        order by id desc
    </select>

    <insert id="insertSeries" parameterType="Series" keyProperty="id">
        insert into series (<include refid="insertFields"></include>)
        values (#{nameZh}, #{nameJp}, #{nameEn}, #{releaseDate}, #{addedTime}, #{editedTime}, #{description}, #{remark})
    </insert>

    <update id="updateSeries" parameterType="Series" keyProperty="id">
        update series
        set
        name_zh = #{nameZh}, name_jp = #{nameJp}, name_en = #{nameEn}, release_date = #{releaseDate},
        added_time = #{addedTime}, edited_time = #{editedTime}, description = #{description}, remark = #{remark}
        where id = #{id}
    </update>

    <delete id="deleteSeriesById">
        delete
        from series
        where id = #{id}
    </delete>
</mapper>