<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rakbow.website.dao.SystemMapper">

    <update id="updateItemStatus" keyProperty="id">
        update
        <if test=" entityName == 'album' ">
            album
        </if>
        <if test=" entityName == 'book' ">
            book
        </if>
        <if test=" entityName == 'disc' ">
            disc
        </if>
        <if test=" entityName == 'game' ">
            game
        </if>
        <if test=" entityName == 'merch' ">
            merch
        </if>
        <if test=" entityName == 'product' ">
            product
        </if>
        <if test=" entityName == 'franchise' ">
            franchise
        </if>
        set
        status = #{status}
        where id = #{entityId}
    </update>

</mapper>