<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rakbow.blog.dao.TagMapper">

    <sql id="selectFields">
        id, name
    </sql>

    <sql id="insertFields">
        name
    </sql>

    <select id="selectTagById" resultType="Tag">
        select <include refid="selectFields"></include>
        from tag
        where id = #{id}
    </select>

    <select id="getAll" resultType="Tag">
        select <include refid="selectFields"></include>
        from tag
        order by id asc
    </select>

    <select id="selectTagRows" resultType="int">
        select count(id)
        from tag
    </select>

    <insert id="insertTag" parameterType="Tag" keyProperty="id">
        insert into tag (<include refid="insertFields"></include>)
        values (#{name})
    </insert>

    <update id="updateTag" parameterType="Tag" keyProperty="id">
        update tag
        set name = #{tag.name}
        where id = #{tag.id}
    </update>

    <delete id="deleteTag">
        delete
        from tag
        where id = #{id}
    </delete>

    <insert id="insertTagByItemTypeIdAndItemId">
        insert into item_in_tag (item_type_id, item_id, tag_id)
        values (#{itemTypeId}, #{itemId}, #{tagId})
    </insert>

    <delete id="deleteTagByItemTypeIdAndItemId">
        delete
        from item_in_tag
        where item_type_id = #{itemTypeId} and item_id = #{itemId} and tag_id = #{tagId}
    </delete>

    <select id="getAllTagsByItemTypeIdAndItemId" resultType="int">
        select tag_id
        from item_in_tag
        where item_type_id = #{itemTypeId} and item_id = #{itemId}
    </select>

    <delete id="deleteAllTagsByItemTypeIdAndItemId">
        delete
        from item_in_tag
        where item_type_id=#{itemTypeId} and item_id = #{itemId}
    </delete>

</mapper>