<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Album List</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <!--other css -->
    <link th:href="@{/img/favicon.ico}" type="image/x-icon" rel="shortcut icon" />
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/iconfont/iconfont.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/album-list.css}" />

    <!-- bootstrap -->
    <script src="https://cdn.staticfile.org/bootstrap/5.2.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <link href="https://cdn.staticfile.org/baguettebox.js/1.11.1/baguetteBox.min.css" rel="stylesheet">

    <!-- PrimeVue -->
    <link th:href="@{/css/primevue/themes/saga-blue/theme.css}" rel="stylesheet" />
<!--    <link th:href="@{/css/primevue/themes/bootstrap4-dark-blue/theme.css}" rel="stylesheet"/>-->
    <link th:href="@{/css/primevue/primevue.min.css}" rel="stylesheet" />
    <link th:href="@{/css/primeflex/primeflex.min.css}" rel="stylesheet" />
    <link th:href="@{/css/primeicons/primeicons.css}" rel="stylesheet" />

    <!-- Vue3 -->
    <script src="https://cdn.staticfile.org/vue/3.2.41/vue.global.js"></script>
    <script th:src="@{/js/primevue/primevue.min.js}"></script>
    <script src="https://cdn.staticfile.org/vue-router/4.1.6/vue-router.global.js"></script>

    <!-- PrimeVue Components -->
    <script th:src="@{/js/primevue/components/datatable.min.js}"></script>
    <script th:src="@{/js/primevue/components/column.min.js}"></script>
    <script th:src="@{/js/primevue/components/multiselect.min.js}"></script>
    <script th:src="@{/js/primevue/components/calendar.min.js}"></script>
    <script th:src="@{/js/primevue/components/textarea.min.js}"></script>
    <script th:src="@{/js/primevue/components/dialog.min.js}"></script>
    <script th:src="@{/js/primevue/components/toolbar.min.js}"></script>
    <script th:src="@{/js/primevue/components/inputnumber.min.js}"></script>
    <script th:src="@{/js/primevue/components/inputtext.min.js}"></script>
    <script th:src="@{/js/primevue/components/toast.min.js}"></script>
    <script th:src="@{/js/primevue/components/toastservice.min.js}"></script>
    <script th:src="@{/js/primevue/components/fieldset.min.js}"></script>
    <script th:src="@{/js/primevue/components/panel.min.js}"></script>
    <script th:src="@{/js/primevue/components/divider.min.js}"></script>
    <script th:src="@{/js/primevue/components/inputswitch.min.js}"></script>
    <script th:src="@{/js/primevue/components/autocomplete.min.js}"></script>
    <script th:src="@{/js/primevue/components/multiselect.min.js}"></script>
    <script th:src="@{/js/primevue/components/card.min.js}"></script>
    <script th:src="@{/js/primevue/components/menubar.min.js}"></script>
    <script th:src="@{/js/primevue/components/avatar.min.js}"></script>
    <script th:src="@{/js/primevue/components/tristatecheckbox.min.js}"></script>

    <!-- Axios -->
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>

    <!-- basic js -->
    <script th:src="@{/js/basic/Data_Helper.js}"></script>
    <script th:src="@{/js/basic/Http_Request.js}"></script>
    <script th:src="@{/js/basic/Rakbow_Web_Helper_Str.js}"></script>
</head>
<body>
<div class="nk-container">
    <div class="main">
        <div id="app">
            <!-- 头部 -->
            <header class="sticky-top mb-2" th:insert="~{template/header :: site_header}"></header>

            <p-toast></p-toast>
            <p-toolbar class="mb-4">
                <template #start>
                    <p-button icon="pi pi-refresh" class="p-button-rounded mr-4" @click="init"></p-button>
                    <p-button label="新增" icon="pi pi-plus" class="p-button-success mr-4"
                              @click="openNewDialog"></p-button>
                    <p-button label="删除" icon="pi pi-trash" class="p-button-danger" @click="confirmDeleteSelected"
                              :disabled="!selectedAlbums || !selectedAlbums.length"></p-button>&nbsp;
                </template>

                <template #end>
                    <p-button label="导出(CSV)" icon="pi pi-external-link" class="p-button-help"
                              @click="exportCSV($event)"></p-button>
                </template>
            </p-toolbar>
            <p-datatable ref="dt" :value="albums" class="p-datatable-customers p-datatable-sm"
                         :lazy="true" v-model:filters="filters" :total-records="totalRecords" :loading="loading"
                         @page="onPage($event)" @sort="onSort($event)" @filter="onFilter($event)"
                         filter-display="row"
                         :globalFilterFields="['nameJp','catalogNo']"
                         :paginator="true" :rows="10" striped-rows
                         :resizable-columns="true" column-resize-mode="expand"
                         v-model:selection="selectedAlbums" dataKey="id"
                         :scrollable="true" scroll-height="flex" :rows-per-page-options="[10,25,50]" show-gridlines
                         paginator-template="FirstPageLink PrevPageLink PageLinks NextPageLink
                             LastPageLink CurrentPageReport RowsPerPageDropdown"
                         current-page-report-template="当前显示第【{first}】至【{last}】条数据，总【{totalRecords}】条数据"
                         responsive-layout="scroll">
                <template #header>
                    <div class="grid p-fluid">
                        <div class="col-12 lg:col-3 md:col-3 sm:col-6" style="text-align:left">
                            <p-multiselect :model-value="selectedColumns" :options="columns" option-label="header"
                                           @update:model-value="onToggle"
                                           placeholder="可选显示列" style="width: 20em"></p-multiselect>
                        </div>
                    </div>
                </template>
                <template #empty>
                    <span class="emptyInfo">
                        没找到相关数据
                    </span>
                </template>
                <template #loading>
                    加载中，别急~
                </template>
                <p-column selection-mode="multiple" style="flex: 0 0 4rem" :exportable="false"></p-column>
                <p-column field="id" header="Id" exportHeader="Album Id" :sortable="true" style="flex: 0 0 4rem">
                    <template #body="slotProps">
                        <p-button class="p-button-link" @click="openEditDialog(slotProps.data)">
                            {{slotProps.data.id}}
                        </p-button>
                    </template>
                </p-column>
                <p-column field="catalogNo" header="专辑编号" :show-filter-menu="false"
                          style="flex: 0 0 10rem">
                    <template #filter="{filterModel,filterCallback}">
                        <p-inputtext type="text" v-model="filterModel.value" @keydown.enter="filterCallback()"
                                     class="p-column-filter" placeholder="专辑编号"></p-inputtext>
                    </template>
                </p-column>
                <p-column header="专辑原名" field="nameJp" :show-filter-menu="false"
                          style="flex: 0 0 25rem">
                    <template #body="slotProps">
                        <a :href="domainUrl + '/db/album/' + slotProps.data.id">
                            {{slotProps.data.nameJp}}
                        </a>
                    </template>
                    <template #filter="{filterModel,filterCallback}">
                        <p-inputtext type="text" v-model="filterModel.value" @keydown.enter="filterCallback()"
                                     class="p-column-filter" placeholder="名称"></p-inputtext>
                    </template>
                </p-column>
                <p-column header="发行时间" field="releaseDate" :sortable="true" style="flex: 0 0 7rem"></p-column>
                <p-column header="发售价格" field="publishPrice" :sortable="true" style="flex: 0 0 7rem">
                    <template #body="slotProps">
                        {{formatCurrency(slotProps.data.publishPrice)}}
                    </template>
                </p-column>
                <p-column header="所属系列" field="series" :show-filter-menu="false" style="flex: 0 0 9rem">
                    <template #body="slotProps">
                        {{slotProps.data.series.name}}
                    </template>
                    <template #filter="{filterModel,filterCallback}">
                        <p-dropdown v-model="filterModel.value" @change="getProducts($event), filterCallback()"
                                    :options="seriesSet" option-label="label" option-value="value"
                                    style="width: 8rem" placeholder="所属系列" class="p-column-filter">
                        </p-dropdown>
                    </template>
                </p-column>
                <p-column header="所属作品" filter-field="products" :show-filter-menu="false"
                          style="flex: 0 0 16rem">
                    <template #body="slotProps">
                        <ul class="px-4">
                            <li v-for="data in slotProps.data.product">
                                {{data}}
                            </li>
                        </ul>
                    </template>
                    <template #filter="{filterModel,filterCallback}">
                        <p-multiselect v-model="filterModel.value" @change="filterCallback()"
                                       :options="productSet" placeholder="选择作品" class="p-column-filter"
                                       option-label="label" option-value="value" display="chip" :filter="true"
                                       :disabled="productSelect" style="width: 15rem" >
                        </p-multiselect>
                    </template>
                </p-column>
                <p-column header="出版形式" filter-field="publishFormat" :show-filter-menu="false"
                          style="flex: 0 0 9rem">
                    <template #body="slotProps">
                        <ul class="px-4">
                            <li v-for="data in slotProps.data.publishFormat">
                                {{data}}
                            </li>
                        </ul>
                    </template>
                    <template #filter="{filterModel,filterCallback}">
                        <p-multiselect v-model="filterModel.value" @change="filterCallback()" style="width: 8rem"
                                       :options="publishFormatSet" placeholder="出版形式" class="p-column-filter"
                                       option-label="label" option-value="value" display="chip" :filter="true">
                        </p-multiselect>
                    </template>
                </p-column>
                <p-column header="专辑分类" filter-field="albumFormat" :show-filter-menu="false"
                          style="flex: 0 0 9rem">
                    <template #body="slotProps">
                        <ul class="px-4">
                            <li v-for="data in slotProps.data.albumFormat">
                                {{data}}
                            </li>
                        </ul>
                    </template>
                    <template #filter="{filterModel,filterCallback}">
                        <p-multiselect v-model="filterModel.value" @change="filterCallback()" style="width: 8rem"
                                       :options="albumFormatSet" placeholder="专辑分类" class="p-column-filter"
                                       option-label="label" option-value="value" display="chip" :filter="true">
                        </p-multiselect>
                    </template>
                </p-column>
                <p-column header="媒体类型" filter-field="mediaFormat" :show-filter-menu="false"
                          style="flex: 0 0 9rem">
                    <template #body="slotProps">
                        <ul class="px-4">
                            <li v-for="data in slotProps.data.mediaFormat">
                                {{data}}
                            </li>
                        </ul>
                    </template>
                    <template #filter="{filterModel,filterCallback}">
                        <p-multiselect v-model="filterModel.value" @change="filterCallback()" style="width: 8rem"
                                       :options="mediaFormatSet" placeholder="媒体类型" class="p-column-filter"
                                       option-label="label" option-value="value" display="chip" :filter="true">
                        </p-multiselect>
                    </template>
                </p-column>
                <p-column header="特典" field="hasBonus" data-type="boolean" body-class="text-center"
                          style="flex: 0 0 3rem">
                    <template #body="{data}">
                        <i class="pi" :class="{'true-icon pi-check-circle': data.hasBonus, 'false-icon pi-times-circle': !data.hasBonus}"></i>
                    </template>
                    <template #filter="{filterModel,filterCallback}">
                        <p-tristatecheckbox v-model="filterModel.value" @change="filterCallback()"></p-tristatecheckbox>
                    </template>
                </p-column>
                <p-column v-for="(col, index) of selectedColumns" :field="col.field"
                          :header="col.header" :key="col.field + '_' + index" :sortable="true">
                </p-column>
            </p-datatable>
            <p-dialog v-model:visible="displayNewDialog" :style="{width: '800px'}" header="新增数据" :modal="true"
                      class="p-fluid">
                <p-panel header="基础信息">
                    <div class="formgrid grid">
                        <div class="field col">
                            <label htmlFor="nameJp">专辑名称<span style="color: red">*</span></label>
                            <p-inputtext id="nameJp" v-model.trim="album.nameJp"></p-inputtext>
                        </div>
                        <div class="field col">
                            <label htmlFor="nameEn">专辑名称(英语)</label>
                            <p-inputtext id="nameEn" v-model.trim="album.nameEn"></p-inputtext>
                        </div>
                        <div class="field col">
                            <label htmlFor="nameZh">专辑名称(中文)</label>
                            <p-inputtext id="nameZh" v-model.trim="album.nameZh"></p-inputtext>
                        </div>
                    </div>
                    <div class="formgrid grid">
                        <div class="field col">
                            <label htmlFor="catalogNo">专辑编号</label>
                            <p-inputtext id="catalogNo" v-model.trim="album.catalogNo"></p-inputtext>
                        </div>
                        <div class="field col">
                            <label htmlFor="barcode">商品条形码</label>
                            <p-inputtext id="barcode" v-model.trim="album.barcode"></p-inputtext>
                        </div>
                    </div>
                    <div class="formgrid grid">
                        <div class="field col">
                            <label htmlFor="releaseDate">发行时间<span style="color: red">*</span></label>
                            <p-calendar id="releaseDate" v-model="album.releaseDate" date-format="yy/mm/dd"
                                        :show-button-bar="true"
                                        :show-icon="true"></p-calendar>
                        </div>
                        <div class="field col">
                            <label htmlFor="publishPrice">发行价格(含税)</label>
                            <p-inputnumber id="publishPrice" v-model="album.publishPrice" mode="currency" currency="JPY"
                                           locale="ja-JP"></p-inputnumber>
                        </div>
                    </div>
                    <div class="formgrid grid">
                        <div class="field col">
                            <label htmlFor="series" class="mb-3">所属系列<span style="color: red">*</span></label>
                            <p-dropdown id="series" v-model="album.series" :options="seriesSet"
                                        placeholder="选择所属系列" option-label="label" option-value="value"
                                        @change="getProducts">
                            </p-dropdown>
                        </div>
                        <div class="field col">
                            <label htmlFor="products" class="mb-3">所属作品<span style="color: red">*</span></label>
                            <p-multiselect id="products" v-model="album.products" :options="productSet"
                                           option-label="label" option-value="value" placeholder="请先选择所属系列"
                                           display="chip" :filter="true" :disabled="productSelect">
                            </p-multiselect>

                        </div>
                        <div class="field col">
                            <div class="col-12">
                                <label htmlFor="hasBonus" class="mb-3">特典</label>
                            </div>
                            <div class="col-12">
                                <p-inputswitch v-model="album.hasBonus" :true-value="1" :false-value="0"></p-inputswitch>
                            </div>
                        </div>
                    </div>
                    <div class="formgrid grid">
                        <div class="field col">
                            <label htmlFor="publishFormat" class="mb-3">出版形式<span style="color: red">*</span></label>
                            <p-multiselect id="publishFormat" v-model="album.publishFormat" :options="publishFormatSet"
                                           option-label="label" option-value="value" placeholder="选择出版形式"
                                           display="chip" :filter="true">
                                </template>
                            </p-multiselect>
                        </div>
                        <div class="field col">
                            <label htmlFor="albumFormat" class="mb-3">专辑分类<span style="color: red">*</span></label>
                            <p-multiselect id="albumFormat" v-model="album.albumFormat" :options="albumFormatSet"
                                           option-label="label" option-value="value" placeholder="选择专辑分类"
                                           display="chip" :filter="true">
                            </p-multiselect>
                        </div>
                        <div class="field col">
                            <label htmlFor="mediaFormat" class="mb-3">媒体类型<span style="color: red">*</span></label>
                            <p-multiselect id="mediaFormat" v-model="album.mediaFormat" :options="mediaFormatSet"
                                           option-label="label" option-value="value" placeholder="选择媒体类型"
                                           display="chip" :filter="true">
                            </p-multiselect>
                        </div>
                    </div>
                    <div class="formgrid grid">
                        <div class="field col">
                            <label htmlFor="label">唱片公司</label>
                            <p-inputtext id="label" v-model.trim="album.label"></p-inputtext>
                        </div>
                        <div class="field col">
                            <label htmlFor="publisher">发行商</label>
                            <p-inputtext id="publisher" v-model.trim="album.publisher"></p-inputtext>
                        </div>
                        <div class="field col">
                            <label htmlFor="distributor">经销商</label>
                            <p-inputtext id="distributor" v-model.trim="album.distributor"></p-inputtext>
                        </div>
                        <div class="field col">
                            <label htmlFor="copyright">版权方</label>
                            <p-inputtext id="copyright" v-model.trim="album.copyright"></p-inputtext>
                        </div>
                    </div>
                    <div class="field">
                        <label htmlFor="remark">备注</label>
                        <p-textarea id="remark" v-model="album.remark" rows="3" cols="20" :auto-resize="true"></p-textarea>
                    </div>
                </p-panel>
                <p-panel header="其他信息">
                    <p-divider align="center" type="dashed"><b>曲目</b></p-divider>
                    <div class="field">
                        <span style="text-align: center"><em>如需添加曲目，请到专辑详情页面进行</em></span>
                    </div>
                    <p-divider align="center" type="dashed"><b>创作者</b></p-divider>
                    <div class="field">
                        <span style="text-align: center"><em>如需添加创作者信息，请到专辑详情页面进行</em></span>
                    </div>
                    <p-divider align="center" type="dashed"><b>图片</b></p-divider>
                    <div class="field">
                        <span style="text-align: center"><em>如需添加图片，请到专辑详情页面进行</em></span>
                    </div>
                    <p-divider align="center" type="dashed"><b>描述</b></p-divider>
                    <div class="field">
                        <span style="text-align: center"><em>如需图片描述信息，请到专辑详情页面进行</em></span>
                    </div>
                    <p-divider align="center" type="dashed"><b>特典</b></p-divider>
                    <div class="field">
                        <span style="text-align: center"><em>如需图片特典信息，请到专辑详情页面进行</em></span>
                    </div>
                </p-panel>
                <template #footer>
                    <p-button label="取消" icon="pi pi-times" class="p-button-text" @click="closeNewDialog"></p-button>
                    <p-button label="保存" icon="pi pi-check" class="p-button-text" @click="submitNewAlbum"></p-button>
                </template>
            </p-dialog>
            <p-dialog v-model:visible="displayEditDialog" :style="{width: '800px'}" header="编辑数据" :modal="true"
                      class="p-fluid">
                <p-panel header="基础信息">
                    <div class="formgrid grid">
                        <div class="field col">
                            <label htmlFor="nameJp">专辑名称<span style="color: red">*</span></label>
                            <p-inputtext id="nameJp" v-model.trim="albumEdit.nameJp"></p-inputtext>
                        </div>
                        <div class="field col">
                            <label htmlFor="nameEn">专辑名称(英语)</label>
                            <p-inputtext id="nameEn" v-model.trim="albumEdit.nameEn"></p-inputtext>
                        </div>
                        <div class="field col">
                            <label htmlFor="nameZh">专辑名称(中文)</label>
                            <p-inputtext id="nameZh" v-model.trim="albumEdit.nameZh"></p-inputtext>
                        </div>
                    </div>
                    <div class="formgrid grid">
                        <div class="field col">
                            <label htmlFor="catalogNo">专辑编号</label>
                            <p-inputtext id="catalogNo" v-model.trim="albumEdit.catalogNo"></p-inputtext>
                        </div>
                        <div class="field col">
                            <label htmlFor="barcode">商品条形码</label>
                            <p-inputtext id="barcode" v-model.trim="albumEdit.barcode"></p-inputtext>
                        </div>
                    </div>
                    <div class="formgrid grid">
                        <div class="field col">
                            <label htmlFor="releaseDate">发行时间<span style="color: red">*</span></label>
                            <p-calendar id="releaseDate" v-model="albumEdit.releaseDate" date-format="yy/mm/dd"
                                        :show-button-bar="true"
                                        :show-icon="true"></p-calendar>
                        </div>
                        <div class="field col">
                            <label htmlFor="publishPrice">发行价格(含税)</label>
                            <p-inputnumber id="publishPrice" v-model="albumEdit.publishPrice" mode="currency" currency="JPY"
                                           locale="ja-JP"></p-inputnumber>
                        </div>
                    </div>
                    <div class="formgrid grid">
                        <div class="field col">
                            <label htmlFor="series" class="mb-3">所属系列<span style="color: red">*</span></label>
                            <p-dropdown id="series" v-model="albumEdit.series" :options="seriesSet"
                                        placeholder="选择所属系列" option-label="label" option-value="value"
                                        @change="getProducts">
                            </p-dropdown>
                        </div>
                        <div class="field col">
                            <label htmlFor="products" class="mb-3">所属作品<span style="color: red">*</span></label>
                            <p-multiselect id="products" v-model="albumEdit.products" :options="productSet"
                                           option-label="label" option-value="value" placeholder="选择所属作品"
                                           display="chip" :filter="true">
                            </p-multiselect>
                        </div>
                        <div class="field col">
                            <div class="col-12">
                                <label htmlFor="hasBonus" class="mb-3">特典</label>
                            </div>
                            <div class="col-12">
                                <p-inputswitch v-model="albumEdit.hasBonus" :true-value="1"
                                               :false-value="0"></p-inputswitch>
                            </div>
                        </div>
                    </div>
                    <div class="formgrid grid">
                        <div class="field col">
                            <label htmlFor="publishFormat" class="mb-3">出版形式<span style="color: red">*</span></label>
                            <p-multiselect id="publishFormat" v-model="albumEdit.publishFormat" :options="publishFormatSet"
                                           option-label="label" option-value="value" placeholder="选择出版形式"
                                           display="chip">
                            </p-multiselect>
                        </div>
                        <div class="field col">
                            <label htmlFor="albumFormat" class="mb-3">专辑分类<span style="color: red">*</span></label>
                            <p-multiselect id="albumFormat" v-model="albumEdit.albumFormat" :options="albumFormatSet"
                                           option-label="label" option-value="value" placeholder="选择专辑分类"
                                           display="chip">
                            </p-multiselect>
                        </div>
                        <div class="field col">
                            <label htmlFor="mediaFormat" class="mb-3">媒体类型<span style="color: red">*</span></label>
                            <p-multiselect id="mediaFormat" v-model="albumEdit.mediaFormat" :options="mediaFormatSet"
                                           option-label="label" option-value="value" placeholder="选择媒体类型"
                                           display="chip">
                            </p-multiselect>
                        </div>
                    </div>
                    <div class="formgrid grid">
                        <div class="field col">
                            <label htmlFor="label">唱片公司</label>
                            <p-inputtext id="label" v-model.trim="albumEdit.label"></p-inputtext>
                        </div>
                        <div class="field col">
                            <label htmlFor="publisher">发行商</label>
                            <p-inputtext id="publisher" v-model.trim="albumEdit.publisher"></p-inputtext>
                        </div>
                        <div class="field col">
                            <label htmlFor="distributor">经销商</label>
                            <p-inputtext id="distributor" v-model.trim="albumEdit.distributor"></p-inputtext>
                        </div>
                        <div class="field col">
                            <label htmlFor="copyright">版权方</label>
                            <p-inputtext id="copyright" v-model.trim="albumEdit.copyright"></p-inputtext>
                        </div>
                    </div>
                    <div class="field">
                        <label htmlFor="remark">备注</label>
                        <p-textarea id="remark" v-model="albumEdit.remark" rows="3" cols="20"
                                    :auto-resize="true"></p-textarea>
                    </div>
                </p-panel>
                <p-panel header="其他信息">
                    <p-divider align="center" type="dashed"><b>曲目</b></p-divider>
                    <div class="field">
                        <span style="text-align: center"><em>添加和编辑曲目等操作，请到专辑详情页面进行</em></span>
                    </div>
                    <p-divider align="center" type="dashed"><b>创作者</b></p-divider>
                    <div class="field">
                        <span style="text-align: center"><em>如需添加创作者信息，请到专辑详情页面进行</em></span>
                    </div>
                    <p-divider align="center" type="dashed"><b>图片</b></p-divider>
                    <div class="field">
                        <span style="text-align: center"><em>添加和编辑图片等操作，请到专辑详情页面进行</em></span>
                    </div>
                    <p-divider align="center" type="dashed"><b>描述</b></p-divider>
                    <div class="field">
                        <span style="text-align: center"><em>如需编辑描述信息，请到专辑详情页面进行</em></span>
                    </div>
                    <p-divider align="center" type="dashed"><b>特典</b></p-divider>
                    <div class="field">
                        <span style="text-align: center"><em>如需编辑特典信息，请到专辑详情页面进行</em></span>
                    </div>
                </p-panel>
                <template #footer>
                    <p-button label="取消" icon="pi pi-times" class="p-button-text"
                              @click="closeEditDialog"></p-button>
                    <p-button label="保存" icon="pi pi-check" class="p-button-text"
                              @click="submitEditAlbum"></p-button>
                </template>
            </p-dialog>
            <p-dialog v-model:visible="deleteAlbumsDialog" :style="{width: '450px'}" header="删除数据" :modal="true">
                <div class="confirmation-content">
                    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                    <span v-if="album">确定删除所选的数据？</span>
                </div>
                <template #footer>
                    <p-button label="取消" icon="pi pi-times" class="p-button-text"
                              @click="deleteAlbumsDialog = false"></p-button>
                    <p-button label="确认删除" icon="pi pi-check" class="p-button-text"
                              @click="deleteSelectedAlbums"></p-button>
                </template>
            </p-dialog>

            <!-- 尾部 -->
            <footer class="mt-2" th:insert="~{template/footer :: site_footer}"></footer>
        </div>
    </div>
</div>
<script type="module" th:inline="javascript">
    const {createApp, onMounted, ref} = Vue;
    const {FilterMatchMode, FilterOperator} = primevue.api;
    const Tooltip = primevue.tooltip;
    const {useToast} = primevue.usetoast;
    const App = {
        setup() {
            onMounted(() => {
                init();
            });

            //region 页面header
            const domainUrl = DOMAIN_URL;

            const selectedEntity = ref();

            const entityType = ref(ENTITY_TYPE);

            const notLoginNavbarItems = ref(NOT_LOGIN_NAVBAR_ITEMS);

            const loginNavbarItems = ref(LOGIN_NAVBAR_ITEMS);
            //endregion

            //region
            const totalRecords = ref(0);
            const queryParams = ref({});
            const onToggle = (val) => {
                selectedColumns.value = columns.value.filter(col => val.includes(col));
            };
            const filters = ref({
                'catalogNo': {value: '', matchMode: 'contains'},
                'nameJp': {value: '', matchMode: 'contains'},
                'hasBonus': {value: null, matchMode: FilterMatchMode.EQUALS},
                'publishFormat': {value: null, matchMode: FilterMatchMode.IN},
                'albumFormat': {value: null, matchMode: FilterMatchMode.IN},
                'mediaFormat': {value: null, matchMode: FilterMatchMode.IN},
                'series': {value: null, matchMode: FilterMatchMode.EQUALS},
                'products': {value: null, matchMode: FilterMatchMode.IN},
            });
            const onPage = (event) => {
                queryParams.value = event;
                getAlbums();
            };
            const onSort = (event) => {
                queryParams.value = event;
                getAlbums();
            };
            const onFilter = () => {
                queryParams.value.filters = filters.value ;
                getAlbums();
            };
            const getAlbums = () => {
                axiosPostRequest(GET_ALBUMS_LIST_URL, queryParams.value)
                    .then(res => {
                        albums.value = res.data;
                        totalRecords.value = res.total;
                    })
            };
            //endregion

            const displayEditDialog = ref(false);
            const deleteAlbumsDialog = ref(false);
            const displayNewDialog = ref(false);

            const selectedAlbums = ref();

            const album = ref({});
            const albums = ref();

            const mediaFormatSet = ref([[${mediaFormatSet}]]);
            const albumFormatSet = ref([[${albumFormatSet}]]);
            const publishFormatSet = ref([[${publishFormatSet}]]);
            const productSet = ref([]);
            const productSelect = ref(true);
            const seriesSet = ref([[${seriesSet}]]);

            const albumEdit = ref({});
            const submitted = ref(false);
            const toast = useToast();
            const dt = ref();
            const loading = ref(true);
            const columns = ref([
                {field: 'barcode', header: '商品条形码'},
                {field: 'nameZh', header: '专辑名称(中文)'},
                {field: 'nameEn', header: '专辑名称(英文)'},
                {field: 'remark', header: '备注'},
                {field: 'label', header: '唱片公司'},
                {field: 'publisher', header: '发行商'},
                {field: 'distributor', header: '经销商'},
                {field: 'copyright', header: '版权方'},
            ]);
            const selectedColumns = ref();

            const imgData = ref([]);
            const imgArr = ref([]);
            const detailId = ref();

            const formatCurrency = (value) => {
                return value.toLocaleString('ja-JP', {style: 'currency', currency: 'JPY'});
            };

            const exportCSV = () => {
                axiosGetRequest(CHECK_USER_AUTHORITY_URL, null)
                    .then(res => {
                        if (res.state === 0) {
                            toast.add({severity: 'error', summary: 'Error', detail: res.message, life: 3000});
                        } else {
                            dt.value.exportCSV();
                        }
                    })
            };

            //初始化
            const init = () => {
                loading.value = true;
                queryParams.value = {
                    first: 0,
                    rows: dt.value.rows,
                    sortField: null,
                    sortOrder: null,
                    filters: filters.value
                };
                getAlbums();
                loading.value = false;
            };

            //region ------新增编辑、编辑和删除相关操作------
            //打开删除确认面板
            const confirmDeleteSelected = () => {
                axiosGetRequest(CHECK_USER_AUTHORITY_URL, null)
                    .then(res => {
                        if (res.state == 0) {
                            toast.add({severity: 'error', summary: 'Error', detail: res.message, life: 3000});
                        } else {
                            deleteAlbumsDialog.value = true;
                        }
                    })
            };

            //删除数据
            const deleteSelectedAlbums = () => {
                axiosDeleteRequest(DELETE_ALBUM_URL, selectedAlbums.value)
                    .then(res => {
                        if (res.state == 1) {
                            toast.add({severity: 'success', summary: 'Successful', detail: res.message, life: 3000});
                            deleteAlbumsDialog.value = false;
                            selectedAlbums.value = null;
                            init();
                        } else {
                            toast.add({severity: 'error', summary: 'Error', detail: res.message, life: 3000});
                        }
                    });
            };

            //打开编辑数据面板
            const openEditDialog = (data) => {
                axiosGetRequest(CHECK_USER_AUTHORITY_URL, null)
                    .then(res => {
                        if (res.state === 0) {
                            toast.add({severity: 'error', summary: 'Error', detail: res.message, life: 3000});
                        } else {
                            let dataTmp = JSON.parse(JSON.stringify(data));
                            albumEdit.value = dataTmp;
                            axiosPostRequest(GET_PRODUCTS_BY_SERIES_ID_URL, {series:dataTmp.series.id})
                                .then(res => {
                                    productSet.value = res;
                                    albumEdit.value.mediaFormat = label2value(dataTmp.mediaFormat, mediaFormatSet.value).concat();
                                    albumEdit.value.albumFormat = label2value(dataTmp.albumFormat, albumFormatSet.value).concat();
                                    albumEdit.value.publishFormat = label2value(dataTmp.publishFormat, publishFormatSet.value).concat();
                                    albumEdit.value.products = label2value(dataTmp.product, productSet.value).concat();
                                    albumEdit.value.series = dataTmp.series.id;
                                    displayEditDialog.value = true;
                                });
                        }
                    })
            };
            //关闭编辑数据面板
            const closeEditDialog = () => {
                displayEditDialog.value = false;
                albumEdit.value = {};
                init();
            };
            //保存编辑数据
            const submitEditAlbum = async () => {
                await axiosPostRequest(UPDATE_ALBUM_URL, albumEdit.value)
                    .then(res => {
                        if (res.state === 1) {
                            albumEdit.value = {};
                            toast.add({
                                severity: 'success',
                                summary: 'Successful',
                                detail: res.message,
                                life: 3000
                            });
                            closeEditDialog();
                            init();
                        } else {
                            console.log(res);
                            toast.add({severity: 'error', summary: 'Error', detail: res.message, life: 3000});
                        }
                    }).catch(e => {
                        console.error(e);
                    });
            };

            //打开新增数据面板
            const openNewDialog = () => {
                axiosGetRequest(CHECK_USER_AUTHORITY_URL, null)
                    .then(res => {
                        if (res.state === 0) {
                            toast.add({severity: 'error', summary: 'Error', detail: res.message, life: 3000});
                        } else {
                            album.value = {};
                            submitted.value = false;
                            productSelect.value = true;
                            displayNewDialog.value = true;
                        }
                    })
            };
            //关闭新增数据面板
            const closeNewDialog = () => {
                album.value = {};
                displayNewDialog.value = false;
                submitted.value = false;
            };

            //提交新增数据
            const submitNewAlbum = () => {
                axiosPostRequest(INSERT_ALBUM_URL, album.value)
                    .then(res => {
                        if (res.state === 1) {
                            album.value = {};
                            toast.add({
                                severity: 'success',
                                summary: 'Successful',
                                detail: res.message,
                                life: 3000
                            });
                            closeNewDialog();
                            init();
                        } else {
                            toast.add({severity: 'error', summary: 'Error', detail: res.message, life: 3000});
                        }
                    });
            };

            //根据系列id获取该系列所有作品
            const getProducts = (ev) => {
                let json = {series: ev.value};
                axiosPostRequest(GET_PRODUCTS_BY_SERIES_ID_URL, json)
                    .then(res => {
                        productSet.value = res;
                        productSelect.value = false;
                    })
            };

            //endregion


            return {
                onToggle, onPage, onSort, onFilter, filters, totalRecords,
                domainUrl, notLoginNavbarItems, loginNavbarItems, entityType, selectedEntity,
                album, albums, formatCurrency, columns, selectedColumns,
                loading, exportCSV, dt, displayNewDialog, openNewDialog, closeNewDialog,
                submitNewAlbum, confirmDeleteSelected, deleteAlbumsDialog, deleteSelectedAlbums,
                selectedAlbums, displayEditDialog, init,
                openEditDialog, closeEditDialog, submitEditAlbum, albumEdit,
                mediaFormatSet, publishFormatSet, albumFormatSet, productSet, seriesSet,
                getProducts, productSelect, imgData, imgArr, detailId
            }
        },
        components: {
            "p-datatable": primevue.datatable,
            "p-column": primevue.column,
            "p-calendar": primevue.calendar,
            "p-inputnumber": primevue.inputnumber,
            "p-dialog": primevue.dialog,
            "p-textarea": primevue.textarea,
            "p-toolbar": primevue.toolbar,
            "p-toast": primevue.toast,
            "p-panel": primevue.panel,
            "p-divider": primevue.divider,
            "p-inputswitch": primevue.inputswitch,
            "p-autocomplete": primevue.autocomplete,
            "p-multiselect": primevue.multiselect,
            "p-card": primevue.card,
            "p-inputtext": primevue.inputtext,
            "p-button": primevue.button,
            "p-dropdown": primevue.dropdown,
            "p-menubar": primevue.menubar,
            "p-avatar": primevue.avatar,
            "p-tristatecheckbox": primevue.tristatecheckbox,
        }
    };

    const routes = [{path: "/", component: App}];

    const router = VueRouter.createRouter({
        // history: VueRouter.createWebHashHistory(),
        history: VueRouter.createWebHistory(),
        routes
    });

    const app = createApp(App);
    app.use(primevue.config.default);
    app.directive('tooltip', Tooltip);
    app.use(primevue.toastservice);
    app.use(router);
    app.mount("#app");
</script>
</body>
</html>